<app-header></app-header>
<div class="container-fluid">
  <div class="col-lg-12 mat-100 middle-content-hgt">
    <div class="row">
      <!-- Breadcrumbs-->
      <div class="col-lg-8">
        <ol class="breadcrumb breadcrumb-arrow">
          <li><a [routerLink]="'/dashboard'"><i class="fa fa-fw fa-home"></i></a></li>
          <!--<li class=""><a href="#"></a></li>
      <li class=""><a href="#">Group A</a></li>-->
          <li class="active"><span>Digital Attendence</span></li>
        </ol>
      </div>
      <div class="col-lg-4 right-btn">
        <div class="pull-right">
          <button (click)="loadAdd()" class="btn btn-sm btn-info">
            <i class="fa fa-plus"></i> New Digital Attendence
          </button>

        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="control-section grid-type">
            <ejs-grid #grid [dataSource]='data' [pageSettings]='pageSettings' showColumnMenu='true' (queryCellInfo)='tooltip($event)' (recordDoubleClick)='rowSelected($event)' [allowPaging]='true' [allowSorting]='true'
                      [allowFiltering]='true' [filterSettings]='filterOptions'>
              <e-columns>
                <e-column field='momNoAtd' headerTooltip='Ref Number' headerText='Ref Number' width=180></e-column>
                <e-column field='meetingName' headerTooltip='Type' headerText='Meeting Type' width="150"></e-column>
                <e-column field='subjectAtd' headerTooltip='Subject' headerText='Subject' width="160"></e-column>
                <e-column field='locationName' headerTooltip='Location' headerText='Location' width="150"></e-column>
                <e-column field='fMeetingDateAtd' headerTooltip='Date' headerText='Date' width="90">
                  <ng-template #template let-gridData>
                    {{gridData.fMeetingDateAtd |  date:'dd/MM/yyyy'}}
                  </ng-template>
                </e-column>
                <e-column field='fStartTimeAtd' headerTooltip='Start' headerText='Start' width="90">
                  <ng-template #template let-gridData>
                    {{gridData.fStartTimeAtd |timeFormat}}
                  </ng-template>
                </e-column>
                <e-column field='fEndTimeAtd' headerTooltip='End' headerText='End' width="90" >
                  <ng-template #template let-gridData>
                    {{gridData.fEndTimeAtd |timeFormat}}
                  </ng-template>
                </e-column>
                <e-column field='initiatedBy' headerTooltip='Initiated By' headerText='Initiated By' width="120"></e-column>
                <!--<e-column field='numberOfAttendees' headerTooltip='Attendees' headerText='Attendees' width=90></e-column>-->
                <e-column headerText='Action' headerTooltip='Action' width=80 >
                  <ng-template #template let-gridData>
                    <a class="dropdown-toggle pa-5 table-drop-down border-info" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-list-alt fa-lg text-info mar5px"></i>
                    </a>
                    <div class="dropdown-menu custom-size">
                      <a class=" dropdown-item  border-bottom" style="cursor:pointer !important;"
                         *ngIf="gridData.enteredBy==login_UserID"
                         (click)="loadUpdate(gridData.genInfoAtdUno)">
                        <i class="fa fa-edit fa-lg mar5px"></i>Edit
                      </a>
                      <a class="dropdown-item " style="cursor:pointer !important;" (click)="loadViewAtd(gridData.genInfoAtdUno)">
                        <i class="fa fa-eye fa-lg mar5px"></i>View
                      </a>
                      <a class=" dropdown-item  border-top" style="cursor:pointer !important;" title="Discussion"
                         (click)="loadAtdComment(gridData.genInfoAtdUno)">
                        <i class="fa fa-comment fa-lg mar5px"></i>Discussion
                      </a>
                      <a class=" dropdown-item  border-top" style="cursor:pointer !important;"
                         *ngIf="gridData.enteredBy==login_UserID && gridData.published!=2"
                         (click)="loadPublish(gridData)" title="publish">
                        <i class="fa  fa-paper-plane  fa-lg mar5px"></i>Publish
                      </a>
                      <a class="text-danger dropdown-item border-top" style="cursor:pointer !important;"
                         *ngIf="gridData.enteredBy==login_UserID  && gridData.published!=2"
                         (click)="delAtt(gridData.genInfoAtdUno)" title="delete">
                        <i class="fa fa-trash fa-lg mar5px"></i>Delete
                      </a>
                    </div>
                  </ng-template>

                </e-column>
              </e-columns>
            </ejs-grid>
          </div>
        </div>
      </div>

    </div>
</div>
<div class="clearfix"></div>

<ejs-dialog id="commentDialog" header='Discussion'  #commentDialog showCloseIcon='true'
  allowDragging='true' width='1100px' [closeOnEscape]="true" [visible]='false'>
 
  <div class="col-lg-12">


    <ul class="comment-list" *ngFor="let cmtObj of commentList; let cmtIndex = index;">
      <li>
        <div class="col-lg-12 no-padding">
          <div class="col-lg-12 no-padding comment-title">
            <i class="fa fa-user-circle-o fa-lg mar-10"></i> {{cmtObj.userName}}

          <small class="pull-right"> {{cmtObj.cmtDate |  date:'dd/MM/yyyy'}} </small>
            <small class="pull-right mal-10 mar-10" [title]="cmtObj.cmtUserName"> <i class="fa fa-users mal-5 mar-5"></i> {{cmtObj.cmtUsers}}&nbsp;&nbsp;&nbsp; | </small>
          </div>
          <div class="col-lg-12 no-padding">
            <p> {{cmtObj.cmdText}}</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="col-lg-12 text-center" *ngIf="commentList && commentList.length==0">

      <div class="row">
        <div class="no-data-home">
          <i class="fa fa-files-o"></i>
          <h5>No Data Found</h5>
        </div>
      </div>
    </div>
  </div>

</ejs-dialog>


<app-footer></app-footer>
