<app-header></app-header>
<div class="container-fluid">
  <div class="col-lg-12 mat-100 middle-content-hgt">
    <div class="row">
      <!-- Breadcrumbs-->
      <div class="col-lg-12">
        <ol class="breadcrumb breadcrumb-arrow">
          <li><a [routerLink]="'/dashboard'"><i class="fa fa-fw fa-home"></i></a></li>
          <!--<li class=""><a href="#"></a></li>
          <li class=""><a href="#">Group A</a></li>-->
          <li><a (click)="backClick()">{{pageType == 'ATTENDANCE'? 'Digital Attendence' : pageType == 'TBD'?'TBT':'Meeting Minutes'}}</a></li>
          <li class="active"><span>View</span></li>
        </ol>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="accordion mt-3" id="accordionMeeting">


          <div class="card bg-light">
            <div class="row mab-10 ">
              <div class="col-12 card-body pb-0">
                <div class="clearfix col-lg-12">
                  <div class="col-lg-12">

                    <div class="row" id="print-view-top">
                      <div class="col-lg-6 col-sm-12 no-padding">
                        <h6>
                          {{generalInfoData.subjectAtd}}
                          <i class="fa fa-lock text-danger mal-10" title="Published" *ngIf="generalInfoData.approvalStatus=='Published'"></i>
                          <i class="fa fa-unlock text-success mal-10" title="Not Published" *ngIf="generalInfoData.approvalStatus!='Published'"></i>
                        </h6>
                      </div>
                      <div class="col-lg-6 col-sm-12 no-padding button-section">
                        <div class="pull-right">

                          <span class=" btn btn-sm btn-grey border-light mar5px">
                            {{generalInfoData.momNoAtd}}
                          </span>
                          <button class="btn btn-sm btn-primary mar5px" title="Generate PDF" *ngIf="!IsIE"
                                  (click)="PdfGenerate()">
                            <i class="fa fa-file-pdf-o"></i>
                          </button>
                          <button class="btn btn-sm btn-grey bg-grey btn-outline-dark  mar5px" title="PDF export is enabled in Microsoft Edge, Chrome & Firefox.." *ngIf="IsIE">
                            <i class="fa fa-file-pdf-o"></i>
                          </button>
                          <button class="btn btn-sm btn-danger mar5px" title="back" (click)="backClick()">
                            <i class="fa fa-arrow-left"></i>
                          </button>
                          <button *ngIf="generalInfoData.enteredBy==loginUserID && generalInfoData.approvalStatus=='Published'" class="btn btn-sm btn-primary mar5px p-btn" (click)="loadPublish()">
                            Send Email
                          </button>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-lg-12 pab-10">
                    <div class="row mab-10">
                      <div class="inner-gf">
                        <i class="fa fa-group mar-10"></i> {{generalInfoData.meetingName}}
                      </div>
                      <div class="inner-gf">
                        <i class="fa fa-map-marker mar-10"></i> {{generalInfoData.locationName}}
                      </div>
                      <div class="inner-gf">
                        <i class="fa  fa-building-o mar-10"></i> {{generalInfoData.meetingRoomName}}
                      </div>
                      <div class="inner-gf">
                        <i class="fa fa-calendar-o mar-10"></i>{{generalInfoData.fMeetingDateAtd|  date:'dd/MM/yyyy' }}
                      </div>
                      <div class="inner-gf">
                        <i class="fa fa-clock-o mar-10"></i> {{generalInfoData.fStartTimeAtd |timeFormat}}
                        - {{generalInfoData.fEndTimeAtd |timeFormat}}
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="card bg-light">
            <div class="row mab-10 ">
              <div class="col-12 card-body pb-0">
                <div class="clearfix">
                  <div class="col-lg-12 print-view-title">
                    <h6> Attendees</h6>
                  </div>

                  <div class="col-lg-12 mat-20">
                    <div class="row" id="attendees-table-list">

                      <div class="col-lg-12 ">
                        <div class="att-title">
                          <h4><i class="fa fa-group mar-10"></i>{{generalInfoData.meetingName}}</h4>
                          <small>{{attendeesList.length}} Members</small>
                        </div>


                        <div class="col-lg-12 no-padding att-box"
                             *ngFor="let Attendee of attendeesList; let AttendeeIndex = index;">
                          <div class="att-img">

                            <img src="assets/img/attendee.png" *ngIf="Attendee.role=='Attendee'" title="Attendee" width="38" />
                            <img src="assets/img/approver.png" *ngIf="Attendee.role=='Approver'" title="Approver" width="38" />
                            <img src="assets/img/reviewer.png" *ngIf="Attendee.role=='Reviewer'" title="Reviewer" width="38" />
                            <img src="assets/img/organizer.png" *ngIf="Attendee.role=='Organizer'" title="Organizer" width="38" />
                            <img src="assets/img/guest.png" width="38" *ngIf="Attendee.role=='Guest'" title="Guest" />
                          </div>
                          <div class="att-name mal-15">
                            <h5>{{Attendee.nameAtd}}</h5>
                            <p>
                              {{Attendee.prNumberAtd}}<span>|</span>{{Attendee.emailAtd}}<span>|</span>{{Attendee.status}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 text-center" *ngIf="attendeesList && attendeesList.length==0">
                      <div class="row">
                        <div class="no-data-home">
                          <i class="fa fa-files-o"></i>
                          <h5>No Data Found</h5>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="card bg-light" *ngIf="pageType=='MEETING'">
            <div class="row mab-10 ">
              <div class="col-12 card-body pb-0">
                <div class="clearfix">
                  <div class="col-lg-12 print-view-title">
                    <h6 class="inner-title">Meeting Discussions</h6>
                  </div>
                  <div class="col-lg-12" *ngFor="let agenda of findMainAgenda(); let agendaIndex = index;">
                    <ejs-accordion expandMode='Single'>
                      <e-accordionitems>
                        <e-accordionitem [expanded]='agenda.expanded'>
                          <ng-template #header>
                            <div class="agenda-h">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="ah-notes">
                                    {{agenda.note}}
                                  </div>
                                </div>
                              </div>
                                  <div class="row">
                                    <div class="col-lg-12" id="agenda-details-list">
                                      <ul class="list-group">
                                        <li class="list-group-item justify-content-between px-0">
                                          <div class="row">
                                            <div class="image-parent latest-videos-thumb col-lg-1">
                                              <div class="circle-border-style"> <span>{{agenda.dueDate | date:'dd'}}</span> </div>
                                              <h6 class="mar5px">{{agenda.dueDate | date:'MMM'}}</h6>
                                            </div>
                                            <div class="d-flex flex-column  col-lg-8">
                                              <div class="justify-content-start">
                                                <div class="mb-2">
                                                  <span>
                                                    <i class="fa fa-calculator mal-10 "></i>
                                                    {{agenda.dueDate |  date:'dd/MM/yyyy'}}
                                                  </span>

                                                </div>
                                              </div>

                                              <div class="justify-content-start">
                                                <div class=" mb-2 ">
                                                  <span *ngIf="!agenda.iReps">
                                                    <i class="fa fa-users  mal-10"></i>
                                                    {{agenda.userName}}
                                                  </span>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="text-right col-lg-3">
                                              <span class="badge badge-pill badge-info">+{{findDetails(agenda).length}}</span>
                                            </div>
                                            </div>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
</ng-template>
                          <ng-template #content>
                            <div>

                              <div class="col-lg-12 tagcloud">
                                <ul *ngFor="let subAgenda of findDetails(agenda); let subIndex = index;">
                                  <li>
                                    <a style="cursor:pointer !important" class="text-info">
                                      <!-- Create an icon wrapped by the fa-stack class -->
                                      <i class="fa fa-circle-o  text-info agenda-icon "></i>
                                      <span class="mar-20"> {{subAgenda.note}}</span><span class="accv-right">
  {{subAgenda.dueDate |  date:'dd/MM/yyyy'}}<strong class="div-bar">|</strong><strong class="accv-right-user">{{subAgenda.userName}}</strong>
</span>
                                    </a>
                                  </li>

                                </ul>
                                <div class="col-lg-12 text-center" *ngIf="findDetails(agenda) && findDetails(agenda).length==0">
                                  <div class="row">
                                    <div class="col-lg-12 text-center no-padding">
                                      <div class=" justify-content-center  no-margin no-padding">
                                        <div class="col-lg-12 mx-auto  no-padding no-data no-margin">
                                          <h5 class="text-center"><i class="fa fa-files-o mar-10"></i> No Data Found</h5>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>



                            </div>
                          </ng-template>
                        </e-accordionitem>

                      </e-accordionitems>
                    </ejs-accordion>
                  </div>
                  <div class="col-lg-12 text-center" *ngIf="agendaList && agendaList.length==0">
                    <div class="row">
                      <div class="no-data-home">
                        <i class="fa fa-files-o"></i>
                        <h5>No Data Found</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="card bg-light">
            <div class="row mab-10 ">
              <div class="col-12 card-body pb-0">
                <div class="clearfix">
                  <div class="col-lg-12 print-view-title">
                    <h6 class="inner-title">Discussion</h6>
                  </div>
                  <div class="col-lg-12 print-discussion" *ngIf="generalInfoData.approvalStatus!='Published'">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <textarea class="form-control" id="commentText" rows="3" [(ngModel)]="commentText"
                                    placeholder="Write your comments"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="row">
                          <div class="col-auto mb-2">
                            <div class="float-left">
                              <ejs-radiobutton label="Self" name="Everyone" value="Self" (change)="commentType!='Self'?commentUsers=null:commentUsers=loginUserID" [(ngModel)]="commentType"></ejs-radiobutton>
                            </div>
                            <div class="float-left">
                              <ejs-radiobutton label="Everyone" name="Everyone" value="Everyone" [(ngModel)]="commentType"></ejs-radiobutton>
                            </div>
                            <div class="float-left">
                              <ejs-radiobutton label="Private" name="Everyone" value="Private" [(ngModel)]="commentType"></ejs-radiobutton>
                            </div>
                          </div>

                          <div class="col">
                            <div class="float-left w-100">
                              <ejs-multiselect *ngIf="commentType=='Private'" class="dc-width" [value]="commentUsers"
                                               [dataSource]='attendeesList' (change)="onChangeUsers($event)"
                                               [fields]="{text: 'nameAtd', value: 'attendeesUnoAtd' }" floatLabelType='Always'
                                               [allowFiltering]='true' (filtering)='onFiltering_Agenda($event)'></ejs-multiselect>

                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="float-right mt-2">
                              <a class="btn btn-primary text-white btn-sm" (click)="AddComment()">
                                Add Comment
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                  <br />
                  <div class="col-lg-12">
                    <ul class="comment-list" *ngFor="let cmtObj of commentList; let cmtIndex = index;">
                      <li>
                        <div class="col-lg-12 no-padding">
                          <div class="col-lg-12 no-padding comment-title">
                            <i class="fa fa-user-circle-o fa-lg mar-10"></i> {{cmtObj.userName}}
                            <a class="text-danger pull-right mal-10" *ngIf="generalInfoData.approvalStatus!='Published'"
                               style="cursor:pointer !important;" title="delete" (click)="delAtdComment(cmtObj.cmdId)">
                              <i class="fa fa-trash"></i>
                            </a>
                            <small class="pull-right"> {{cmtObj.cmtDate |  date:'dd/MM/yyyy'}} </small>
                            <small class="pull-right mal-10 mar-10" [title]="cmtObj.cmtUserName"> <i class="fa fa-users mal-5 mar-5"></i> {{cmtObj.cmtUsers}}&nbsp;&nbsp;&nbsp; | </small>
                          </div>
                          <div class="col-lg-12 no-padding">
                            <p> {{cmtObj.cmdText}}</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="col-lg-12 text-center" *ngIf="commentList && commentList.length==0">
                      <div class="row">
                        <div class="no-data-home">
                          <i class="fa fa-files-o"></i>
                          <h5>No Data Found</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>



          <div class="card bg-light">
            <div class="row mab-10 ">
              <div class="col-12 card-body pb-0">
                <div class="clearfix">
                  <div class="col-lg-12 print-view-title">
                    <h6 class="inner-title">Signature</h6>
                  </div>

                  <div class="col-lg-12">

                    <div class="signature-drag">


                      <div class="row">
                        <div class="col" *ngIf="(signText!=null && signText!='') && generalInfoData.approvalStatus!='Published' ">
                          <div class="row">
                            <div class="col-lg-12">
                              <h6>
                                {{signText}} Signature
                              </h6>
                              <div class="col-lg-12 no-padding">
                                <canvas #signatureLastPad class="signature-pad signature-width"></canvas><br>
                                <div class="signature-b">
                                  <a class="btn btn-primary text-white btn-sm mar5px pull-right" *ngIf="signText!='Reviewer'"
                                     (click)="saveApprovalSignature()" title="Approve & Publish">Approve & Publish</a>
                                  <a class="btn btn-primary text-white btn-sm mar5px pull-right" *ngIf="signText=='Reviewer'"
                                     (click)="saveApprovalSignature()" title="Review">Review</a>
                                  <a class="btn btn-danger mar5px text-white pull-right btn-sm"
                                     (click)="ClearLastSignature()" title="clear">
                                    <i class="fa fa-paint-brush fa-lg "></i>
                                  </a>
                                  <ng-container>
                                    <input type="file" style="display: none" id="imageUrlMain" accept="image/*"
                                           name="imageUrlMain" #imageUrlMain (change)="handleMainChange($event)">
                                    <label for="imageUrlMain" style="cursor:pointer" title="Import Signature"
                                           class="btn btn-info btn-sm mar5px pull-right" data-placement="top">
                                      <i class="fa fa-cloud-upload fa-lg "></i>
                                    </label>
                                  </ng-container>
                                </div>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="row mt-4">
                            <!--<div class="col-lg-4 col" style="vertical-align: middle; text-align: center;">
                              <label style="vertical-align: top; font-weight: bold;">Initiator Signature</label><br />
                              <div *ngIf="generalInfoData.createrSign==null ||generalInfoData.createrSign=='' "
                                   class="no-signature-img" width="120" height="90"> </div>
                              <div class="col">
                                <img *ngIf="generalInfoData.createrSign!=null &&generalInfoData.createrSign!='' "
                                     src={{generalInfoData.createrSign}} alt="signature" width="120" height="90" />
                              </div>
                              <label style="vertical-align: bottom; font-weight: bold; border-top:1px solid #000; padding-top:10px; margin-top:10px">
                                Date
                                :
                                {{generalInfoData.createDate}}
                              </label>
                            </div>-->
                            <div class="col-lg-4 col" style="vertical-align: middle; text-align: center;"
                                 *ngIf="generalInfoData.reviewerSign!=null &&generalInfoData.reviewerSign!='' ">

                              <label style="vertical-align: top; font-weight: bold;">Reviewer Signature</label><br />
                              <div *ngIf="generalInfoData.reviewerSign==null ||generalInfoData.reviewerSign=='' "
                                   class="no-signature-img" width="120" height="90"> </div>
                              <div class="col">
                                <img *ngIf="generalInfoData.reviewerSign==null ||generalInfoData.reviewerSign=='' "
                                     src="assets/img/pen-icon.png" alt="signature" width="120" height="90" />
                              </div>
                              <div class="col">
                                <img *ngIf="generalInfoData.reviewerSign!=null && generalInfoData.reviewerSign!='' "
                                     src={{generalInfoData.reviewerSign}} alt="signature" width="120" height="90" />
                              </div>
                              <label style="vertical-align: bottom; font-weight: bold; border-top:1px solid #000; padding-top:10px;
                        margin-top:10px">
                                Date
                                :
                                {{generalInfoData.reviewDate |  date:'dd/MM/yyyy'}}
                              </label>
                            </div>
                            <div class="col-lg-4 col" style="vertical-align: middle; text-align: center;"
                                 *ngIf="generalInfoData.approverSign!=null && generalInfoData.approverSign!='' ">

                              <label style="vertical-align: top; font-weight: bold;">Approver Signature</label><br />
                              <div *ngIf="generalInfoData.approverSign==null ||generalInfoData.approverSign=='' "
                                   class="no-signature-img" width="120" height="90"> </div>
                              <div class="col">
                                <img *ngIf="generalInfoData.approverSign!=null && generalInfoData.approverSign!='' "
                                     src={{generalInfoData.approverSign}} alt="signature" width="120" height="90" />
                              </div>
                              <label style="vertical-align: bottom; font-weight: bold; border-top:1px solid #000; padding-top:10px; margin-top:10px">
                                Date
                                :
                                {{generalInfoData.approvalDate |  date:'dd/MM/yyyy'}}
                              </label>
                            </div>



                          </div>
                        </div>
                      </div>


                    </div>


                  </div>



                </div>
              </div>
            </div>

          </div>

          <div class="card bg-light orange-bot-border" *ngIf="!isAtd && (attachFileList && attachFileList.length>0)">
            <div class="row mab-10 ">
              <div class="col-12 card-body pb-0">
                <div class="clearfix">
                  <div class="col-lg-12 print-view-title">
                    <h6 class="inner-title">Documents</h6>
                  </div>
                  <div class="col-lg-12">
                    <ul class="attached-document-list" *ngFor="let fileObj of attachFileList; let fileIndex = index;">
                      <li>
                        <div class="atatched-doc">
                          <a style="cursor:pointer !important;" title="click to download" (click)="DownLoadFiles(fileObj)">
                            <i class="fa  fa-3x mar5px" [ngClass]="checkFileType(fileObj.fileName)"></i>
                            <h5>{{fileObj.fileName}}</h5>
                          </a>
                        </div>
                      </li>

                    </ul>

                  </div>

                  <div class="col-lg-12 text-center" *ngIf="attachFileList && attachFileList.length==0">
                    <div class="row">
                      <div class="no-data-home">
                        <i class="fa fa-files-o"></i>
                        <h5>No Data Found</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>











<app-footer></app-footer>
