#view-meeting-section h6 {
  font-size: 1.5rem;
  border-bottom: 1px solid #41a2c5;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #41a2c5;
}

.circle-border-style {
  background-color: #fff;
  border: 2px solid #FFF;
  border-radius: 18px;
  box-shadow: 0 2px 2px 2px #ccc;
  height: 35px;
  width: 35px;
}

  .circle-border-style span {
    color: #333;
    padding: 0 7px;
    line-height: 33px;
    text-align: center;
    width: 100%;
    font-size: 1rem;
  }

#agenda-details-list h6 {
  font-size: 0.87rem;
  color: #333;
  margin-bottom: 0;
  margin-top: 10px;
}

#agenda-details-list .list-group, #agenda-details-list .list-group-item {
  border: none !important;
  background-color: transparent;
}

#agenda-details-list h5 {
  font-size: 0.87rem;
  color: #777;
  margin-bottom: 10px;
  margin-top: 0;
}

.ad-list-border {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#agenda-details-list p {
  font-size: 1rem;
  color: #777;
  margin-bottom: 10px;
  font-weight: bold;
}

#agenda-details-list h4 {
  font-size: 0.87rem;
  color: #777;
  margin-bottom: 10px;
  /*display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 17px;
  margin: 0 auto;
  line-height: 1.2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

.accv-title {
  padding-left: 30px;
}

.accv-note {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  z-index: 9;
}

.accv-right {
  float: right;
  font-size: 12px;
  line-height: 30px;
  width:100%;
  text-align:right;
  border-bottom:1px solid #eee;
}

  .accv-right .div-bar {
    color: #ccc;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
  }

  .accv-right .accv-right-user {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 400px;
    font-weight: normal;
    color: #000;
    display: inline-block;
    float: right;
  }

.tagcloud ul .accv-note {
  top: 2px;
}

.tagcloud ul {
  padding: 0;
  width: 100%;
  margin: 0;
}

.tagcloud {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

  .tagcloud li {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
  }

  .tagcloud .fa-circle-o:before {
    color: #666 !important;
  }

  .tagcloud a {
    position: relative;
    list-style: circle;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 2px 5px;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
  }

  /*.tagcloud li a:before {
  content: "\f10c";
  font-family: 'FontAwesome';
  font-size: 8px;
  padding-right: 7px;
  left: -8px;
  position: absolute;
}*/

  .tagcloud li:after {
    content: "";
    /*transform: rotate(90deg);*/
    font-size: 10px;
    padding-right: 6px;
    left: 10px;
    position: absolute;
    top: 15px;
    height: 100%;
    border-left: 1px dashed #ccc;
  }

#sa-acc .collapse-accordion .card a[data-toggle=collapse] {
  display: block;
  padding: .75rem 1.25rem;
}

#sa-acc .collapse-accordion .card-header {
  padding: 0;
}

#sa-acc .card-header {
  border: 1px solid #ddd;
  padding: 10px;
}

  #sa-acc .card-header a {
    padding-right: 30px;
  }

.e-accordion .e-acrdn-item.e-select > .e-acrdn-header:hover .e-acrdn-header-content, .e-accordion .e-acrdn-item.e-select > .e-acrdn-header:focus .e-acrdn-header-content {
  text-decoration: none;
}

    #sa-acc .card-header a:after {
      font-family: 'FontAwesome';
      content: "\f077";
      float: right;
      font-size: 14px;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    #sa-acc .card-header a.collapsed:after {
      content: "\f078";
      font-size: 14px;
    }
ul.comment-list {
  padding-left: 0;
  margin-left: 0;
}

#accordionView .btn-link:after {
  left: 15px;
  top: 10px;
  position: absolute;
  content: "\f068";
  font-family: 'FontAwesome';
  line-height: 25px;
  cursor: pointer;
}

#accordionView .btn-link.collapsed:after {
  content: "\f067";
  font-family: 'FontAwesome';
  cursor: pointer;
}

#accordionView .collapse {
  border: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
}



#accordionView .btn-link {
  background: #f5f5f5;
  border-radius: 4px 0 0;
  color: #333 !important;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: none;
}

#accordionView .btn-link.collapsed {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  color: #333 !important;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#accordionView .card-header {
  padding: 0px;
}

#accordionView .card {
  border: 0;
  border-radius: 0;
  margin-bottom: 10px;
}

#accordionView .card-header .btn-link {
  color: #fff;
  font-size: 1rem;
  padding: 10px;
  text-decoration: none;
}



#accordion-attendees .btn-link:after {
  right: 15px;
  top: 10px;
  position: absolute;
  content: "\f078";
  font-family: 'FontAwesome';
}

#accordion-attendees .btn-link.collapsed:after {
  content: "\f054";
  font-family: 'FontAwesome';
}

#accordion-attendees .btn-link {
  background: #808080;
  border-radius: 0;
  color: #fff !important;
}

#accordion-attendees .btn-link.collapsed {
  background: #eee;
  padding: 10px;
  border-radius: 0;
  color: #333 !important;
}

#accordion-attendees .card-header {
  padding: 0px;
}

#accordion-attendees .card {
  border: 0;
  border-radius: 0;
  margin-bottom: 10px;
}

#accordion-attendees .card-header .btn-link {
  color: #fff;
  font-size: 1rem;
  padding: 10px;
  text-decoration: none;
}

ul.attached-document-list li {
  list-style-type: none;
  float: left;
  text-align: center;
  width: 150px;
  border: 1px solid #ddeaef;
  margin-right: 10px;
  padding: 10px;
  height: 150px;
  font-size: 13px;
  border-radius: 5px;
}

ul.attached-document-list {
  padding-left: 0;
  margin-left: 0
}

ul.attached-document-list li h5 {
  width: 100%;
  float: left;
  text-align: center;
  border-bottom: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  margin-top: 10px;
}

.inner-gf {
  float: left;
  margin-left: 40px;
}


.inner-pdf {
  float: left;
  margin-left: 20px;
  width: 400px;
}
.span-rounded {
  border: 1px solid #ddd; 
  padding: 3px;
  font-size: 12px;
}
#attendees-table-list table .attendee-text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
  white-space: nowrap;
}

#attendees-table-list .table td,
#attendees-table-list .table th {
  padding: .40rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  font-size: small;
}

.accv-title {
  padding-left: 30px;
}

.accv-note {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  z-index: 9;
}

.accv-right {
  float: right;
  font-size: 12px;
  line-height: 30px;
}

.accv-right .div-bar {
  color: #ccc;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
}

.accv-right .accv-right-user {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 400px;
  font-weight: normal;
  color: #000;
  display: inline-block;
  float: right;
}

.tagcloud ul .accv-note {
  top: 2px;
}

.tagcloud ul {
  padding: 0;
  width: 100%;
  margin: 0;
}

.tagcloud {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tagcloud li {
  list-style: none;
  display: block;
  width: 100%;
}

.tagcloud a {
  position: relative;
  list-style: circle;
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 2px 5px;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
}

/*.tagcloud li a:before {
  content: "\f10c";
  font-family: 'FontAwesome';
  font-size: 8px;
  padding-right: 7px;
  left: -8px;
  position: absolute;
}*/


.att-img {
  width: 40px;
  float: left;
  position: relative;
}

.att-name h5 {
  font-size: 16px;
}

.att-box {
  /*padding-left: 30px !important;*/
  border-bottom: 1px solid #eee;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.att-name p span {
  margin-right: 10px;
  margin-left: 10px;
  color: #ccc;
}
.color-ccc {
  color: #ccc;
}
.att-name p {
  margin-bottom: 0;
  color: #777;
  font-size: 13px;
}

.att-title {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.att-title small {
  padding-left: 33px;
}

.att-title h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.att-color {
  position: absolute;
  top: 20px;
  right: 10px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  line-height: 13px;
  text-align: center;
}

.att-color i {
  font-size: 10px;
  color: #fff;
}

#agenta-print-table tbody tr:nth-of-type(odd),
#agenta-print-table tbody tr {
  background-color: #fff;
}



#agenta-print-table thead tr th {
  background-color: #ccc;
}

#agenta-print-table,
#agenta-print-table tr td, #agenta-print-table thead tr th {
  border: 1.5px solid #666;
  font-weight: 550;
}

#agenta-print-table {

  padding: 10px;
  box-shadow: 2px 3px #888888;
}

#agenta-print-table .agenta-print-sub-table,
#agenta-print-table .agenta-print-sub-table tr td {
  border: 0.5px solid #17a2b8;
  font-weight: normal;
  box-shadow: 1px 1px #17a2b8;
}


#agenta-print-table .agenta-print-sub-table tr th {
  border: 0.5px solid #17a2b8;
  font-weight: bold;
  box-shadow: 1px 1px #17a2b8;
}

#agenta-print-table .agenta-print-sub-table thead tr th {
  background-color: #aedfe6;
}

#document-print-table tbody tr:nth-of-type(odd),
#document-print-tabletbody tr {
  background-color: #fff;
}

#document-print-table thead tr th {
  background-color: #aedfe6;
}

#document-print-table,
#document-print-table tr td,
#document-print-table tr th {
  border: 1px solid #666;
}


#comment-print-table tbody tr:nth-of-type(odd),
#comment-print-tabletbody tr {
  background-color: #fff;
}

#comment-print-table thead tr th {
  background-color: #aedfe6;
}

#comment-print-table,
#comment-print-table tr td,
#comment-print-table tr th {
  border: 1px solid #666;
}

.e-radio-wrapper {
  margin-right: 20px;
}
.agenda-h .ah-notes {
    white-space:normal;
}
.tagcloud ul li i.fa-list-alt {
  position: absolute;
  left: 0;
  top: 8px;
  background: #fff;
  padding-bottom: 2px;
}

.tagcloud ul li a.text-info {
  padding-left: 30px;
}
@media screen and (max-width: 400px) {
  .print-discussion .e-radio + label {
      width:100%;
      margin-bottom:10px;
  }
  #print-view-top .btn-grey {
      width:100%;
  }
  #print-view-top .button-section {
    text-align: center;
  }
  .inner-gf {
      margin-left:0;
  }
    .inner-gf:first-of-type {
        margin-top:20px;
    }
    #agenda-details-list .image-parent {
      width: 100%;
      margin-left: 10px !important;
    }
  #agenda-details-list .d-flex {
    display:block!important;
    margin-left:0!important;
  }
  #agenda-details-list .text-right {
      text-align:left!important;
      padding-left:10px;
  }
  .signature-width {
    width: 100%;
    height: 130px;
  }
  .signature-b {
      width:100%;
  }
}
