<app-header></app-header>
 
<div class="container-fluid mat-100">
  <div class="col-lg-12 middle-content-hgt">
    <div class="row">
      <!-- Breadcrumbs-->
      <div class="col-lg-12">
        <ol class="breadcrumb breadcrumb-arrow">
          <li><a [routerLink]="'/dashboard'"><i class="fa fa-fw fa-home"></i></a></li>
         
    <!--<li><a href="#">Settings</a></li>-->
          <li class="active"><span>Meeting Type</span></li>
        </ol>
      </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-12 mb-3">
          <div class="list-group menu-color">
            <a href="#" class="list-group-item list-group-item-action active" [routerLink]="['/meeting-type']">
              Meeting
              Type
            </a>
            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/location']">Meeting Location</a>
            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/meetingroom']">Meeting Room</a>
            <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/usermaster']"> User</a>
            <!--<a href="#" class="list-group-item list-group-item-action " [routerLink]="['/atd-categorize']">Attendance Catagory</a>
        <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/meeting-role']">Role</a>-->
          </div>
        </div>
        <div class="col-lg-9 col-md-12">
          <div class="control-section grid-type">
            <ejs-grid id="grdData" #grid [dataSource]='data' allowPaging='true' allowFiltering='true'
                      [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar'
                      (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'
                      (toolbarClick)='toolbarClick($event)' [allowExcelExport]='true' [filterSettings]='filterSettings'>
              <e-columns>
                <e-column field='meetingTypeUno' headerText='ID' width='20%' textAlign='Left' [isPrimaryKey]='true'>
                </e-column>
                <e-column field='meetingTypecode' headerText='Meeting Code' width='40%'></e-column>
                <e-column field='meetingName' headerText='Meeting Name' width='40%'></e-column>
              </e-columns>

              <ng-template #editSettingsTemplate let-data>
                <div [formGroup]="orderForm">

                  <div class="row popup-custom">

                    <div class="input-field col xl12">
                      <!--[attr.disabled]="!data.isAdd ? '' : null"-->
                      <div class="e-float-input e-control-wrapper"
                           [ngClass]="{'e-error': meetingTypecode.invalid && (meetingTypecode.dirty || meetingTypecode.touched)}">
                        <input formControlName="meetingTypecode" myNoSpaces maxlength="255"
                               data-msg-containerid='meetingTypecodeError' id="meetingTypecode" name="meetingTypecode"
                               type="text">

                        <label class="e-float-text e-label-top" for="meetingTypecode">
                          MeetingType Code <span class="mant-red">*</span>
                        </label>
                      </div>
                      <div id="meetingTypecodeError"
                           [style.visibility]='((meetingTypecode.invalid && (meetingTypecode.dirty || meetingTypecode.touched)) || (meetingTypecode.invalid && submitClicked))? "visible": "hidden"'>
                        <label class="e-error" id="meetingTypecode-info" style="display: block;">
                          *MeetingType Code is
                          required
                        </label>
                      </div>
                    </div>

                    <div class="input-field col xl12">
                      <div class="e-float-input e-control-wrapper"
                           [ngClass]="{'e-error': meetingName.invalid && (meetingName.dirty || meetingName.touched)}">
                        <input formControlName="meetingName" myNoSpaces maxlength="255"
                               data-msg-containerid='meetingNameError' id="meetingName" name="meetingName" type="text">

                        <label class="e-float-text e-label-top" for="meetingName">
                          Meeting Name [English] <span class="mant-red">*</span>
                        </label>
                      </div>
                      <div id="meetingNameError"
                           [style.visibility]='((meetingName.invalid && (meetingName.dirty || meetingName.touched)) || (meetingName.invalid && submitClicked))? "visible": "hidden"'>
                        <label class="e-error" id="meetingName-info" style="display: block;">
                          *Meeting Name is
                          required
                        </label>
                      </div>
                    </div>


                  </div>
                </div>
              </ng-template>
            </ejs-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
