/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@syncfusion/ej2-base/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-treegrid/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-angular-navigations/styles/bootstrap.css';
/*@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/bootstrap.css';*/

@import 'toastr.css';
.text-overflow-ellipise {
  width: 240px !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ngx-cool-dialog--material-theme .ngx-cool-dialog__text {
 
  margin-left: 10px !important;
}
body {
  font-size: 0.9rem;
  font-family: DubaiW23-Regular!important;
}
.border-info {
  border: #17a2b8 1px solid !important;
  padding: 5px;
}
a {
  cursor: pointer;
  color: #065827;
}

.error-txt {
  color: #ff0000 !important;
}

.green-txt {
  color: #219b00
}

.rotate-90 {
  transform: rotate(90deg);
}

a.gray-link {
  color: #333;
}

a:hover.gray-link {
  color: #333;
}

.no-padding {
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.no-margin {
  margin: 0 !important;
}

.agenda-icon {
  left: 5px;
  position: absolute;
  background:#fff;
}

.bb-1 {
  border-bottom: 1px solid ;
}

.cover-border {
  border: 1px solid #eee;
}

.mt-96 {
  margin-bottom: 96px;
}

.br-15 {
  border-radius: 15px;
}

.f-sm {
  font-size: 0.9em;
}

.dot-nav a {
  font-size: 0.8em;
}

.custom-search-box {
  position: relative;
}

  .custom-search-box .btn-search {
    position: absolute;
    right: 0px;
    border: 0;
  }

  .custom-search-box ::placeholder {
    color: #ddd;
    opacity: 1;
    /* Chrome/Opera/Safari */
  }
.e-dlg-container
{
    z-index:1030 !important
}
.custom-search-box :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ddd;
}

  .custom-search-box ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ddd;
  }

.grid-type .e-grid .e-toolbar-items .e-toolbar-item.e-search-wrapper .e-search {
  opacity: 1;
}

.grid-type .e-toolbar-left {
  float: left;
}

.grid-type .e-toolbar-right {
  float: right;
}

.grid-type .e-toolbar-items.e-tbar-pos {
  clear: both;
  display: table;
  content: "";
  width: 100%;
  padding: 5px;
  background: #d5d5d6;
}

.grid-type .e-toolbar-left .e-toolbar-item {
  padding-right: 5px;
}

.grid-type .e-toolbar-item,
.grid-type .e-toolbar-item.e-overlay {
  display: inline;
}

.grid-type .e-tbar-btn {
  border: 0;
}

.signature-drag .mat-card {
  padding: 0;
}

.signature-drag .signature-pad {
  border: 1px solid #ddd;
  cursor: url(assets/img/pen-icon-old.png), auto;
}



.menu-color .list-group-item.active {
  background: #abacad;
  border: #abacad;
}

#accordionMeeting .btn-link:after {
  right: 10px;
  top: 10px;
  position: absolute;
  content: "\f068";
  font-family: 'FontAwesome';
}

.is-invalid {
  border: 1px solid #dc3545;
  border-radius: 4px;
}

  .is-invalid .e-time-wrapper {
    border: 1px solid red !important;
  }




#accordionMeeting .btn-link.collapsed:after {
  content: "\f067";
  font-family: 'FontAwesome';
}

#accordionMeeting .btn-link {
  background: #808080;
  border-radius: 0;
  color: #fff !important;
}

  #accordionMeeting .btn-link.collapsed {
    background: #eee;
    padding: 10px;
    border-radius: 0;
    color: #333 !important;
  }

#accordionMeeting .card-header {
  padding: 0px;
}

#accordionMeeting .card {
  border: 0;
  border-radius: 0;
  margin-bottom: 10px;
}

#accordionMeeting .card-header .btn-link {
  color: #fff;
  font-size: 0.9rem;
  padding: 10px;
  text-decoration: none;
}

.form-group .error-txt {
  color: #cc0000;
}

.form-group .form-control {
  font-size: 0.8rem;
}

.input-group .form-control {
  font-size: 0.8rem;
}

.form-group .e-float-text {
  font-size: 0.9rem !important;
  font-weight: normal !important;
}

.form-group .e-float-input {
  margin-top: 28px;
}

.e-grid .e-headercell,
.e-grid .e-detailheadercell {
  background-color: #068fde;
  color: #fff !important;
}

.e-grid .e-gridheader .e-icons:not(.e-icon-hide):not(.e-check) {
  color: #fff !important;
}

table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .05);
}

.mt-minus-7 {
  margin-top: -7px;
}

.mat-5 {
  margin-top: 5px;
}

.mat-10 {
  margin-top: 10px;
}

.mat-20 {
  margin-top: 20px;
}

.mat-30 {
  margin-top: 30px;
}

.mab-5 {
  margin-bottom: 5px;
}

.mab-10 {
  margin-bottom: 10px;
}

.mab-20 {
  margin-bottom: 20px;
}

.mab-30 {
  margin-bottom: 30px;
}

.mar-10 {
  margin-right: 10px;
}

.mar-20 {
  margin-right: 20px;
}


.mal-10 {
  margin-left: 10px;
}

.mar-15 {
  margin-right: 15px;
}

.mal-15 {
  margin-left: 15px;
}

.e-grid .e-rowcell {
  padding: 2px 8px;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mom-img {
  position: absolute;
  width: 20%;
  top: 25px;
  margin: auto;
  left: 40%;
}

  .mom-img img {
    width: 300px;
  }

.e-grid.e-responsive .e-rowcell,
.e-grid.e-responsive .e-headercelldiv {
  font-size: 13px;
  /*line-height: 30px;*/
}

.grid-table-view {
  padding: 0;
  border: 1px solid #eee;
}

  .grid-table-view .dropdown-toggle {
    border: 0;
    background: none;
  }

.table-blue-bg {
  background: #068fde;
  color: #fff;
}

  .table-blue-bg th {
    font-weight: 400;
  }

.grid-table-view th {
  padding: .50rem;
}

.grid-table-view td {
  padding: .25rem;
}

.grid-table-view .dropdown-menu.custom-size a {
  font-size: 14px;
  cursor: pointer;
  padding: 3px 10px;
  z-index: 99999999 !important
}

.nav-pills.custom-tab-user .nav-item .nav-link.active {
  background: none;
  border-bottom: 4px solid #068fde !important;
  border: 1px solid #eee;
}

.nav-pills.custom-tab-user .nav-item .nav-link {
  border: 1px solid #eee;
}

#SignatureDialog .e-dlg-header-content {
  background: #068fde;
}

#SignatureDialog .e-dlg-closeicon-btn .e-icon-dlg-close {
  color: #fff !important;
}

#SignatureDialog #SignatureDialog_title {
  color: #fff;
}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#Attendees-table .dropdown-toggle::after {
  display: none;
}

.grid-table-view .dropdown-menu.custom-size a {
  padding: 6px 10px;
}
.login-user
{
    /*text-transform:uppercase;*/
   
    font-weight:bold;

}
.ngx-cool-dialog--material-theme .ngx-cool-dialog__header {
  margin-bottom: 12px;
  background: #065827;
  padding: 5px 10px;
  color: #fff;
}

.ngx-cool-dialog--material-theme .ngx-cool-dialog__cancel-btn, .ngx-cool-dialog--material-theme .ngx-cool-dialog__ok-btn {

  font-weight: 400 !important;
  text-transform: none !important;
}

.ngx-cool-dialog--material-theme .ngx-cool-dialog__title {
  font-size: 1.42em;
  font-weight: 400 !important;
}

.ngx-cool-dialog--material-theme .ngx-cool-dialog__cancel-btn {
  background: #28a745 !important;
  color: #fff !important;
}

.ngx-cool-dialog--material-theme .ngx-cool-dialog__ok-btn {
  background: #065827 !important;
  color: #fff !important;
}



.mt-120 {
  margin-bottom: 120px;
}

.mar-10 {
  margin-right: 10px;
}

.pat-10 {
  padding-top: 10px;
}

.pat-20 {
  padding-top: 20px;
}

.pab-10 {
  padding-bottom: 10px;
}

.pab-20 {
  padding-bottom: 20px;
}

.pab-30 {
  padding-bottom: 30px;
}

.bb-2 {
  border-bottom: 1px solid #ccc;
}

.bbl-1 {
  border-left: 1px solid #ccc;
  line-height: 10px;
}

.navbar-brand {
  padding-top: .0;
  padding-bottom: .0;
  position: absolute;
  left: 0;
  top: 0;
}

.no-data-section .nd-container {
  width: 100%;
  float: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 10px 0;
  display: block;
}

  .no-data-section .nd-container i {
    display: inline-block;
    float: none;
    margin-right: 10px;
    color: #cc0000;
    font-size: 25px;
  }

  .no-data-section .nd-container span {
    display: inline-block;
    float: none;
    color: #cc0000;
    font-size: 18px;
  }

.border-bottom {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 2px;
}

.badge {
  font-weight: 500 !important;
}

.e-dialog .e-dlg-header-content {
  background: #065827 !important;
}

.e-dialog .e-btn .e-btn-icon.e-icon-dlg-close {
  color: #fff !important;
}

.e-dlg-header,
.e-dlg-header * {
  color: #fff !important;
}

.input-group-append,
.input-group-prepend {
  display: block !important;
  width: 100%;
}

.e-btn.e-flat.e-primary,
.e-css.e-btn.e-flat.e-primary {
  background-color: #f28b2e !important;
  border-color: #f28b2e !important;
  color: #fff !important;
}


  .e-btn.e-flat.e-primary:hover,
  .e-css.e-btn.e-flat.e-primary:hover {
    color: #fff !important;
    background-color: #fba150 !important;
    border-color: #fba150 !important;
  }

.print-view-title h6 {
  border-bottom: 1px solid #048fc1;
  color: #048fc1;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: DubaiW23-Regular;
}

.swal2-title {
  color: #fff !important;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  background: #065827 !important;
  width: 100% !important;
  padding: 5px 10px !important;
}

.swal2-content {
  font-size: 1rem !important;
}

.swal2-styled {
  padding: 0.3em 2em !important;
}

.btn-primary {
  color: #fff;
  background-color: #E3710D;
  border-color: #E3710D
}

  .btn-primary:hover {
    color: #fff;
    background-color: #fba150;
    border-color: #fba150
  }

.e-pager .e-currentitem,
.e-pager .e-currentitem:hover {
  /*background: #065827;*/
  background: #065827;
  color: #fff !important;
}

.e-pager .e-numericitem,
.e-pager .e-numericitem:hover {
  color: #784610;
}

.e-pager div.e-icons,
.e-pager div.e-icons:hover {
  color: #784610;
}

#Attendees-table .table-header-bg {
  background: #065827;
  color: #fff;
}

.mab-0 {
  margin-bottom: 0 !important;
}

.e-grid .e-headercell,
.e-grid .e-detailheadercell {
  /*background-color: #065827;*/
  background-color: #065827;
  color: #fff !important;
}

.e-grid .e-gridheader .e-icons:not(.e-icon-hide):not(.e-check) {
  color: #fff !important;
}

.mar5px {
  margin: 5px !important;
}

.no-data-section .nd-container {
  width: 100%;
  float: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 10px 0;
  display: block;
}

  .no-data-section .nd-container i {
    display: inline-block;
    float: none;
    margin-right: 10px;
    color: #cc0000;
    font-size: 25px;
  }

  .no-data-section .nd-container span {
    display: inline-block;
    float: none;
    color: #cc0000;
    font-size: 18px;
  }

.no-data-home {
  width: 100%;
  float: left;
  text-align: center;
  border: 1px solid #eee;
  margin-bottom: 10px;
  background-color: #fff;
}

  .no-data-home i {
    font-size: 30px;
    margin-top: 10px;
    color: #999;
  }

  .no-data-home h5 {
    font-size: 14px !important;
    width: 100%;
    margin-top: 15px;
    color: #999 !important;
  }

.no-data-home-v {
  width: 100%;
  float: left;
  text-align: center;
  border: 1px solid #eee;
  margin-bottom: 10px;
  background-color: #fff;
}

  .no-data-home-v i {
    font-size: 30px;
    margin-top: 0;
    color: #999;
  }

  .no-data-home-v h5 {
    font-size: 14px !important;
    width: 100%;
    margin-top: 8px;
    color: #999 !important;
  }

.no-data {
  width: 100%;
  float: left;
  text-align: center;
  border: none;
  margin-bottom: 10px;
  background-color: #fff;
}

  .no-data i {
    font-size: 30px;
    margin-top: 0;
    color: #999;
  }

  .no-data h5 {
    font-size: 14px !important;
    width: 100%;
    margin-top: 8px;
    color: #999 !important;
  }

.main {
  width: 100%;
}

.has-search .form-control {
  /*padding-left: 2.375rem;*/
  background: #eee;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}


.ol-up-meetings-l {
  width: 20%;
  float: left;
}

.ol-up-meetings-r {
  width: 80%;
  float: left;
  position: relative;
}


#OutlookDialog .ol-up-meetings-l {
  width: 20%;
  float: left;
  background: #065827;
  color: #fff;
  padding: 5px;
  text-align: center;
}

#OutlookDialog .ol-up-meetings-r {
  width: 80%;
  float: left;
  position: relative;
  padding: 5px 5px 5px 20px;
}

.ol-up-time,
.ol-up-time-g {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.ol-up-time-g {
  color: #333;
}

#OutlookDialog .ol-up-time-g {
  color: #fff;
}

.ol-up-name {
  color: #333;
}

.ol-up-title {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.ol-up-section-title {
  color: #065827;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #065827;
}

.olup-name {
  height: 18px;
  width: 90%;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}

.ol-up-select {
  position: relative;
  top: 0;
  right: 0;
}

  .ol-up-select i {
    font-size: 14px;
  }

.ol-up-main-title {
  font-weight: bold;
  color: #0079C1;
}

.ol-main-wrap {
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(188, 188, 194, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(188, 188, 194, 1);
  box-shadow: 0px 0px 5px 0px rgba(188, 188, 194, 1);
  padding: 10px;
  border-radius: 8px;
}

#OutlookDialog_dialog-content {
  background: #f5f5f5;
}

ul.comment-list li {
  list-style-type: none;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

  ul.comment-list li .comment-title {
    color: #065827;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

.orange-bot-border {
  border-bottom: 2px solid #f28b2e !important;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.dash-border-top {
  border-top: 1px solid #ccc;
  padding-top: 5px;
}

.e-input-group.e-error,
.e-input-group.e-control-wrapper.e-error,
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border-color: #ccc !important;
}

  .e-input.e-error,
  .e-input.e-error:focus,
  .e-input-group.e-error input.e-input,
  .e-input-group.e-control-wrapper.e-error input.e-input,
  .e-input-group.e-control-wrapper.e-error .e-input-group-icon,
  .e-input-group.e-error .e-input-group-icon,
  .e-input-group.e-error textarea.e-input,
  .e-input-group.e-control-wrapper.e-error textarea.e-input {
    border-color: #ccc !important;
  }

.accordion > .card {
  overflow: unset !important;
}

input[type="file"] {
  color: transparent;
}

.container-fluid {
  margin-bottom: 50px;
  padding-bottom:20px;
}

.outlook-load-img {
  background: url(assets/img/outlooksync.gif) no-repeat center center;
  width: 200px;
  height: 140px;
  margin: auto;
}

.no-signature-img {
  background: url(assets/img/no-signature.png) no-repeat center center;
  width: 129px;
  height: 88px;
  margin: auto;
}

.logo {
  background: url(assets/img/dewa-logo.png) no-repeat center center;
  width: 210px;
  height: 60px;
  margin: auto;
}

.logo-left {
  background: url(assets/img/dewa-gov-logo-sm.png) no-repeat center center;
  width: 138px;
  height: 50px;
  float: left;
}

.logo-right {
  background: url(assets/img/dewa-logo.png) no-repeat center center;
  width: 243px;
  height: 50px;
  float: right;
}

.inner-gf i, .inner-pdf i {
  width: 18px;
  text-align: center;
}

#profile-name-sec h5, #profile-name-sec i {
  color: #065827;
}

#profile-name-sec {
  border-bottom: 1px solid #065827;
  padding-bottom: 10px;
  margin-top: 20px;
}

#OutlookDialog_dialog-content .blue-border-bottom button {
  padding: .15rem .25rem;
  line-height: 1.1;
}

.e-daterangepicker.e-popup, .e-bigger.e-small .e-daterangepicker.e-popup {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03) !important;
  left: 15px !important;
}

.pa-5 {
  padding: 5px;
}

span.e-day {
  margin: 1px !important;
}

.e-calendar .e-content td.e-selected span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day {
  background-color: #065827 !important;
}

.e-calendar .e-content td.e-today.e-selected span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day {
  border: 1px solid #065827 !important;
}

#outlook-popup-n .e-pager .e-pagerdropdown {
  height: 35px !important;
}

#outlook-popup-n table.e-table tbody tr {
  background-color: #f5f5f5 !important;
}

  #outlook-popup-n table.e-table tbody tr:hover {
    background-color: #f5f5f5 !important;
  }

#outlook-popup-n .e-grid .e-rowcell {
  border-color: #f5f5f5 !important;
}

#outlook-popup-n .e-grid.e-responsive .e-rowcell,
#outlook-popup-n .e-grid.e-responsive .e-headercelldiv {
  font-size: 14px !important;
}

#outlook-popup-n .e-grid .e-headercell, #outlook-popup-n .e-grid .e-detailheadercell {
  background-color: #414141 !important;
}

#outlook-popup-n .ol-up-name .mar5px {
  margin-left: 0 !important;
}

.la-ball-scale-multiple {
  display: none !important;
}

.loading-text {
  position: absolute;
  top: 50%;
  left: auto;
  right: auto;
  transform: none !important;
  margin: auto;
}

.orbit-spinner, .orbit-spinner * {
  box-sizing: border-box;
}

.orbit-spinner {
  height: 65px !important;
  width: 65px !important;
  border-radius: 50%;
  perspective: 800px;
  position: fixed;
  z-index: 99999;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 0 !important;
  border: 1px solid #fff !important;
  background-color: transparent !important;
}
/* Transparent Overlay */
.overlay-spin {
  text-align: center;
  z-index: 999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.1);
}

.outer-orbit {
  width: 65px !important;
  height: 65px !important;
  border-radius: 50% !important;
  background-color: transparent !important;
  background-image: url(assets/img/dewa-loader-logo-new.png);
  background-repeat: no-repeat;
  background-position: center center;
  /*border: 1px solid rgba(4, 180, 23, 0.8);*/
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.e-control, .e-css {
  font-family: DubaiW23-Regular !important;
}

body #SubAgendaDialog .e-popup-open, #editAgendaDialog .e-popup-open, #SignatureDialog .e-popup-open {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 100px;
  overflow-y: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  .loader {
  width: 60px;
  height: 60px;
  font-size: 10px;
  position: relative;
  display: flex;
  /*align-items: center;
  justify-content: center;*/
}

  .loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate 2s linear infinite;
  }

    .loader .face:nth-child(1) {
      width: 100%;
      height: 100%;
      color: #ee3654;
      border-color: currentColor transparent transparent currentColor;
      border-width: 0.2em 0.2em 0em 0em;
      --deg: -45deg;
      animation-direction: normal;
    }

    .loader .face:nth-child(2) {
      width: 70%;
      height: 70%;
      color: #117661;
      border-color: currentColor currentColor transparent transparent;
      border-width: 0.2em 0em 0em 0.2em;
      --deg: -135deg;
      animation-direction: reverse;
      margin:16%;
    }

    .loader .face.arrow01 .circle {
      position: absolute;
      width: 50%;
      height: 0.1em;
      top: 10%;
      left: 30%;
      background-color: transparent;
      transform: rotate(var(--deg));
      transform-origin: left;
    }
    .loader .face.arrow02 .circle {
      position: absolute;
      width: 50%;
      height: 0.1em;
      top: 30%;
      left: 10%;
      background-color: transparent;
      transform: rotate(var(--deg));
      transform-origin: left;
    }

      /*.loader .face .circle::before {
        position: absolute;
        top: -0.7em;
        right: -0.7em;
        border-radius: 50%;
        box-shadow: none !important;
      }

    .loader .face.arrow01 .circle::before {
      font-family: 'FontAwesome';
      content: "\f078";
      font-size: 9px;
    }

    .loader .face.arrow02 .circle::before {
      font-family: 'FontAwesome';
      content: "\f077";
      font-size: 9px;
    }*/
      .loader .face .circle i {
        position: absolute;
        top: -0.7em;
        right: -0.7em;
        border-radius: 50%;
        box-shadow: none !important;
        display:none;
      }

    .loader .face.arrow01 .circle i {
      font-family: 'FontAwesome';
      /*content: "\f078";*/
      font-size: 9px;
    }

    .loader .face.arrow02 .circle i {
      font-family: 'FontAwesome';
      /*content: "\f077";*/
      font-size: 9px;
    }

@keyframes animate {
  to {
    transform: rotate(1turn);
  }
}

.badge-info {
  color: #fff;
  background-color: #0079C1 !important;
}

.bg-db {
  background-color: #1b3767 !important;
}

.text-db {
  color: #1b3767 !important;
}

.e-grid.e-default .e-headercell, .e-grid.e-default .e-detailheadercell {
  border-width: 1px;
  border-color: #2e8651;
}
/*.e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header .e-acrdn-header-icon, .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header .e-acrdn-header-content, .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header .e-acrdn-header-icon, .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header .e-acrdn-header-content {
  background-color:#f28b2e
}*/
.e-accordion .e-acrdn-item.e-select {
  background: #fff !important;
  border: 1px solid #ddd;
}

  .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header, .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header:focus {
    background: #ddd !important;
  }

#agenta-new-acc .agenda-h .ah-notes {
  text-overflow: ellipsis;
  width: 98%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  float: left;
  font-weight: bold;
}


#agenta-new-acc .ah-username {
  float: right;
  background-color: #ccc;
  padding: 0 8px;
  border-radius: 8px;
  font-size: 13px;
  line-height: 30px;
  cursor: pointer;
}

#agenta-new-acc .ah-date {
  float: right;
  background-color: #ccc;
  padding: 0 8px;
  border-radius: 8px;
  font-size: 13px;
  line-height: 30px;
  cursor: pointer;
}

#agenta-new-acc .agenda-h .ah-right {
  width: 100%;
  float: left;
  position: relative;
}

.e-accordion .e-acrdn-item .e-acrdn-header > * {
  width: 100%;
  float: left;
}

.btn-success {
  color: #fff;
  background-color: #065827;
  border-color: #065827;
}

.btn-info {
  color: #fff;
  background-color: #065827;
  border-color: #065827;
}

  .btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info:visited {
    color: #fff;
    background-color: #06a546;
    border-color: #06a546;
  }
.btn-grey {
  color: #000;
  background-color: #eeefee;
  border-color: #eeefee;
}

  .btn-grey:hover, .btn-grey:active, .btn-grey:focus, .btn-grey:visited {
    color: #000;
    background-color: #e1dfdf;
    border-color: #e1dfdf;
  }
.btn-white {
  color: #000;
  background-color: #fff;
  border-color: #333;
}

  .btn-white:hover, .btn-white:active, .btn-white:focus, .btn-white:visited {
    color: #000;
    background-color: #ddd;
    border-color: #333;
  }
.btn-blue {
  color: #fff;
  background-color: #0079c1;
  border-color: #0079c1;
}

  .btn-blue:hover, .btn-blue:active, .btn-blue:focus, .btn-blue:visited {
    color: #fff;
    background-color: #026098;
    border-color: #026098;
  }

.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ccc !important;
}

.e-accordion .e-tgl-collapse-icon {
  position: relative;
}

  .e-accordion .e-tgl-collapse-icon.e-expand-icon::before {
    content: "\f077";
    font-family: FontAwesome;
    position: absolute;
    top: 10px;
    right: 0;
  }

  .e-accordion .e-tgl-collapse-icon::before {
    content: "\f078";
    font-family: FontAwesome;
    position: absolute;
    top: 10px;
    right: 0;
  }

.e-accordion .e-acrdn-item .e-acrdn-header .e-toggle-icon .e-tgl-collapse-icon.e-icons {
  display: contents !important;
}

.e-accordion .e-acrdn-item .e-acrdn-header .e-toggle-icon {
  display: block !important;
}

.note-add-btn {
  position: absolute;
  bottom: 10px;
  left: 0;
}

.e-accordion .e-acrdn-item .e-acrdn-header {
  line-height: 30px !important;
  min-height: 30px !important;
}

#collapseTwo .no-data-home {
  background-color: transparent;
}

.mat-100 {
  margin-top: 45px;
}

.ma10px {
  margin: 10px !important;
}

.ma20px {
  margin: 20px !important;
}
/* breadcrumb */

.breadcrumb-arrow {
  min-height: 30px;
  line-height: 30px;
  list-style: none;
  overflow: auto;
  margin-bottom: 0;
  background-color: transparent;
  padding-left: 0;
}

  .breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
  }

  .breadcrumb-arrow li,
  .breadcrumb-arrow li a,
  .breadcrumb-arrow li span {
    display: inline-block;
    /*vertical-align: top;*/
  }

    /*.breadcrumb-arrow li:not(:first-child) {
      margin-left: -5px;
    }*/

    .breadcrumb-arrow li + li:before {
      padding: 0;
      content: "";
    }

    .breadcrumb-arrow li span {
      padding: 0 10px;
    }

    .breadcrumb-arrow li a,
    .breadcrumb-arrow li:not(:first-child) span {
      height: 30px;
      padding: 0 10px 0 25px;
      line-height: 29px;
      font-size: 12px;
    }

    .breadcrumb-arrow li:first-child a {
      padding: 0 10px;
    }

    .breadcrumb-arrow li a {
      position: relative;
      color: #5b5c5b !important;
      text-decoration: none;
      background-color: #e5e6e7;
      border: 1px solid #999;
    }

    .breadcrumb-arrow li:first-child a {
      padding-left: 10px;
      color: #5b5c5b !important;
      text-decoration: none;
      background-color: #e5e6e7;
      border: 1px solid #999;
    }

    .breadcrumb-arrow li a:after,
    .breadcrumb-arrow li a:before {
      position: absolute;
      top: -1px;
      width: 0;
      height: 0;
      content: '';
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }

    .breadcrumb-arrow li a:before {
      right: -10px;
      z-index: 3;
      border-left-color: #e5e6e7;
      border-left-style: solid;
      border-left-width: 10px;
    }
    .breadcrumb-arrow li:first-child a:before {
      right: -10px;
      z-index: 3;
      border-left-color: #e5e6e7;
      border-left-style: solid;
      border-left-width: 10px;
    }
ejs-grid .dropdown-menu {
  font-size: 12px !important;
  box-shadow: 5px 5px 5px #999 !important;
}
ejs-grid .dropdown-item {
  padding: .25em .5em !important;
  min-width: 5rem;
  font-size:14px;
  line-height:30px;
}
ejs-grid .dropdown-item i {
    width:20px;
    font-size:14px;
}
  .breadcrumb-arrow li a:after {
  right: -11px;
  z-index: 2;
  border-left: 11px solid #332121ee;
}

    .breadcrumb-arrow li a:focus,
    .breadcrumb-arrow li a:hover {
      background-color: #ccc;
      border: 1px solid #999;
      color: #5b5c5b !important;
    }

      .breadcrumb-arrow li a:focus:before,
      .breadcrumb-arrow li a:hover:before {
        border-left-color: #ccc;
      }

    .breadcrumb-arrow li a:active {
      background-color: #ccc;
      border: 1px solid #999;
    }

      .breadcrumb-arrow li a:active:after,
      .breadcrumb-arrow li a:active:before {
        border-left-color: #40474e;
      }

    /*set for Last child*/

    .breadcrumb-arrow li.active span {
      position: relative;
      color: #fff;
      text-decoration: none;
      background-color: #199c4e;
      border: 1px solid #199c4e;
    }

    .breadcrumb-arrow li.active:first-child span {
      padding-left: 10px;
    }

    .breadcrumb-arrow li.active span:after,
    .breadcrumb-arrow li.active span:before {
      position: absolute;
      top: -1px;
      width: 0;
      height: 0;
      content: '';
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }

    .breadcrumb-arrow li.active span:before {
      right: -10px;
      z-index: 3;
      border-left-color: #199c4e;
      border-left-style: solid;
      border-left-width: 11px;
    }

    .breadcrumb-arrow li.active span:after {
      right: -11px;
      z-index: 2;
      border-left: 10px solid #199c4e;
    }

.right-btn {
  padding: .75rem 1rem;
}
.signature-b {
  width: 400px;
  border: 1px solid #ccc;
  display: block;
  float: left;
  padding: 5px;
}

.signature-width {
  width: 400px;
  height: 130px;
}
.print-discussion .e-float-input {
    margin-top:0!important;
}
#alert-mcbm .ol-up-time-mcbm {
  width: 80px;
  font-size: 12px;
}
#alert-mcbm .ol-up-meetingtype-mcbm {
  width: 140px;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#alert-mcbm .ol-up-meetingloc-mcbm {
  width: 100px;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#help-page h5 {
  color: rgba(13,27,62,0.7);
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  padding-bottom:10px;
  padding-bottom: 15px !important;
  border-bottom: 1px solid #ccc;
}



#notify .dropdown-menu {
  width: 360px;
  right: -240px !important;
}

#notification-main-page {
  min-height: 625px;
}

.user-profile-pic {
  width: 100%;
  text-align: center;
}

  .user-profile-pic i {
    font-size: 170px;
    color: #777;
  }

#user-upcoming-events .circle-border-style {
  background-color: #00b5ef;
  border: 2px solid #FFF;
  border-radius: 18px;
  box-shadow: 0 0 0 2px #00b5ef;
  height: 35px;
  width: 35px;
}

  #user-upcoming-events .circle-border-style span {
    color: #fff;
    padding: 0 6px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    font-size: 1rem;
  }

#user-upcoming-events .list-group-item h5 {
  font-size: 1rem;
  color: #00b5ef;
}

#user-upcoming-events .list-group-item p {
  font-size: 0.8rem;
  color: #777;
}

.uue-content {
  padding-right: 50px;
}

.uue-date {
  position: absolute;
  right: 10px;
  top: 10px;
}

.w100px {
  width: 100px;
}

.p-btn {
  padding: .25rem 1.2rem !important
}

.has-search .input-group-append {
  display: block !important;
  width: auto;
}

.h100 {
  height: 100%;
}

.equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.e-grid .e-content {
  position: static !important;
}

#SubAgendaDialog[aria-grabbed="true"], #editAgendaDialog[aria-grabbed="true"], #SignatureDialog[aria-grabbed="true"], body #SignatureDialog, body #SubAgendaDialog, body #editAgendaDialog {
  top: 100px !important;
  z-index: 9999 !important;
  position: fixed !important;
}

#SubAgendaDialog .e-dlg-header-content, #editAgendaDialog .e-dlg-header-content, #SignatureDialog .e-dlg-header-content {
  cursor: initial !important;
}

.bg-grey {
  background: #f1f4f6;
}

.tagcloud .accv-right {
  width: 100%;
  text-align: right;
}


@media screen and (max-width: 991px) {
  .navbar-toggler {
      position: absolute;
      right: 10px;
      top: 3px;
    }

    .navbar-toggler {
      padding: 0 2px;
      background-color: #fff !important;
      border: none !important
    }

    .navbar-collapse {
      position: absolute;
      top: 53px;
      background: #40b0ce;
      width: 200px;
      right: 0;
      z-index: 9;
    }

      .navbar-collapse .ml-auto {
        margin-left: 10px !important;
        margin-right: 10px !important;
      }

    #attendees-table-list .table-responsive {
      display: inline-block;
    }

    .container-fluid {
      margin-bottom: 63px;
    }

    .copyright-text {
      text-align: center !important;
    }

    #footer .footer-link {
      text-align: center !important;
    }

    #collapseTwo .note-add-btn {
      position: relative;
      bottom: 10px;
      left: auto;
      float: left;
      margin: 0 !important;
    }

  .e-dialog, .e-edit-dialog {
    z-index: 1100 !important
  }
  .e-dlg-overlay {
    z-index: 1000 !important
  }
  .avatar {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid #eee;
  }


  .avatar-big {
    vertical-align: middle;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #fff;
  }
    .row:before, .row:after {
      display: flex !important;
    }
  .container-fluid {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  }

  @media screen and (min-width: 768px) {
    .dash-section .card-body {
      min-height: 380px;
    }
    .avatar {
      vertical-align: middle;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-right: 15px;
      border: 1px solid #eee;
    }
    .avatar-big {
      vertical-align: middle;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      margin-right: 10px;
      border: 2px solid #fff;
    }
    .e-dialog, .e-edit-dialog {
      z-index: 9999 !important
    }
    .e-dlg-overlay {
      z-index: 1000 !important
    }
    .middle-content-hgt {
      min-height: 540px;
    }

    .signature-b {
      width: 300px;
      border: 1px solid #ccc;
      display: block;
      float: left;
      padding: 5px;
    }

    .signature-width {
      width: 300px;
      height: 130px;
    }
  }

  @media screen and (max-width: 767px) {
    .r-pt-none {
      padding-top: 0 !important;
    }

    .r-mt-none {
      margin-top: 0 !important;
    }

    .nav-header {
      background-image: none !important;
    }

    .login-screen {
      display: none !important;
    }

    .copyright-text {
      text-align: center !important;
    }

    .terms-text {
      text-align: center !important;
    }

    .inner-gf, .inner-pdf {
      width: 100%;
    }

    .dp-col {
      position: relative;
      width: 100%;
      flex: auto;
    }

    .ma10px {
      margin: 10px !important;
    }

    .ma20px {
      margin: 20px !important;
    }

    .mat-100 {
      margin-top: 45px;
    }

    #dashboard-page .bbl-1 {
      border: none;
    }
  }
.e-float-input input, .e-float-input textarea, .e-float-input.e-control-wrapper input, .e-float-input.e-control-wrapper textarea {
  font-family: DubaiW23-Regular !important;
}
.e-float-input.e-control-wrapper:not(.e-error) input:focus ~ label.e-float-text, .e-float-input.e-control-wrapper:not(.e-error) input:valid ~ label.e-float-text, .e-float-input.e-control-wrapper:not(.e-error) input ~ label.e-label-top.e-float-text, .e-float-input.e-control-wrapper:not(.e-error) input[readonly] ~ label.e-label-top.e-float-text, .e-float-input.e-control-wrapper:not(.e-error) input[disabled] ~ label.e-label-top.e-float-text, .e-float-input .e-control-wrapper:not(.e-error) input label.e-float-text.e-label-top, .e-float-input.e-control-wrapper.e-bigger:not(.e-error) input:focus ~ label.e-float-text, .e-float-input.e-control-wrapper.e-bigger:not(.e-error) input:valid ~ label.e-float-text, .e-float-input.e-control-wrapper.e-bigger:not(.e-error) input ~ label.e-label-top.e-float-text, .e-float-input.e-control-wrapper.e-bigger:not(.e-error) input[readonly] ~ label.e-label-top.e-float-text, .e-float-input.e-control-wrapper.e-bigger:not(.e-error) input[disabled] ~ label.e-label-top.e-float-text, .e-bigger .e-float-input.e-control-wrapper:not(.e-error) input:focus ~ label.e-float-text, .e-bigger .e-float-input.e-control-wrapper:not(.e-error) input:valid ~ label.e-float-text, .e-bigger .e-float-input.e-control-wrapper:not(.e-error) input ~ label.e-label-top.e-float-text, .e-bigger .e-float-input.e-control-wrapper:not(.e-error) input[readonly] ~ label.e-label-top.e-float-text, .e-bigger .e-float-input.e-control-wrapper:not(.e-error) input[disabled] ~ label.e-label-top.e-float-text, .e-float-input.e-control-wrapper:not(.e-error).e-input-focus input ~ label.e-float-text, .e-float-input.e-control-wrapper.e-bigger:not(.e-error).e-input-focus input ~ label.e-float-text, .e-bigger .e-float-input.e-control-wrapper:not(.e-error).e-input-focus input ~ label.e-float-text {
  font-family: DubaiW23-Regular !important;
}
.e-grid .e-rowcell, .e-grid .e-gridcontent, .e-grid .e-gridheader, .e-grid .e-headercontent, .e-grid .e-groupdroparea, .e-grid .e-gridfooter, .e-grid .e-summarycontent {
  font-family: DubaiW23-Regular !important;
}
.e-toolbar .e-tbar-btn .e-tbar-btn-text, .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input, .e-input-group textarea.e-input, .e-input-group.e-control-wrapper textarea.e-input,
.e-accordion .e-acrdn-item .e-acrdn-header > *, .tagcloud ul, .e-radio + label .e-label, .e-upload .e-file-select-wrap .e-btn, .e-upload .e-upload-actions .e-btn, .e-bigger.e-small .e-upload .e-file-select-wrap .e-btn, .e-bigger.e-small .e-upload .e-upload-actions .e-btn,
.e-upload .e-file-select-wrap .e-file-drop, .e-bigger.e-small .e-upload .e-file-select-wrap .e-file-drop {
  font-family: DubaiW23-Regular !important;
}
.table-drop-down {
    display:table;
    margin:3px;
}
ejs-grid .dropdown-menu {
  padding: 0 !important;
}
#outlook-popup-n .e-grid {
  width: 100% !important;
}
#attendeeDialog_dialog-content {
    height:500px;
}

#attendeeDialog_dialog-content {
  height: 500px;
}
#headerwarning {
  background-color: #ffd800;
  padding: 5px;
  width: 100%;
  text-align: center;
  height: 20px;
  position: fixed;
  top: 0;
  z-index: 999
}

  #headerwarning p {
    margin-bottom: 0;
    color: #000;
    line-height: 10px;
  }
.no-pointer
{
    pointer-events:none;
    cursor:not-allowed;
}
#agenda-details-list .e-multiselect.e-input-group.e-control-wrapper.e-valid-input.e-float-input {
    width:100%!important;
}
