<div>
  <app-header></app-header>

 
  <div class="container-fluid mat-100">
    <div class="col-lg-12 middle-content-hgt">
      <div class="row">
        <!-- Breadcrumbs-->
        <div class="col-lg-12">
          <ol class="breadcrumb breadcrumb-arrow">
            <li><a [routerLink]="'/dashboard'"><i class="fa fa-fw fa-home"></i></a></li>        
            <li class="active"><span>Help</span></li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-12 mb-3">
          <div class="list-group menu-color" id="myTab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true"><i class="fa fa-file-text fa-lg mar-20"></i>User Manual</a>
            <a class="list-group-item list-group-item-action" *ngIf="Role==1" id="fifth-tab" data-toggle="tab" href="#fifth" role="tab" aria-controls="fifth" aria-selected="false"><i class="fa fa-play-circle fa-lg mar-20"></i>Admin</a>
            <a class="list-group-item list-group-item-action" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false"><i class="fa fa-play-circle fa-lg mar-20"></i>Digital Attendance</a>
            <a class="list-group-item list-group-item-action" id="third-tab" data-toggle="tab" href="#third" role="tab" aria-controls="third" aria-selected="false"><i class="fa fa-play-circle fa-lg mar-20"></i>Meeting Minutes</a>
            <a class="list-group-item list-group-item-action" id="fourth-tab" *ngIf="isTBT" data-toggle="tab" href="#fourth" role="tab" aria-controls="fourth" aria-selected="false"><i class="fa fa-play-circle fa-lg mar-20"></i>TBT</a>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-lg-9 col-md-12" id="help-page">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
              <h5>User Manual</h5>
              <div class="row m-0">
                <div class="col-lg-12">
                  <ngx-extended-pdf-viewer *ngIf="!IsIE" [src]="PDFURL" useBrowserLocale="true" height="70vh"></ngx-extended-pdf-viewer>
                  <embed [src]="safePDFURL"
                         *ngIf="IsIE"
                         type="application/pdf"
                         frameBorder="1"
                         scrolling="auto"
                              style="width: 100%;height: 500px">
                
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="fifth" role="tabpanel" aria-labelledby="fifth-tab">
              <h5>Admin</h5>
              <div class="row m-0">
                <div class="col-lg-12">
                  <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls>
                      <source src="assets\help\ADMIN.mp4" type="video/mp4" />

                    </video>
                  </div>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
              <h5>Digital Attendance</h5>
              <div class="row m-0">
                <div class="col-lg-12">
                  <div class="embed-responsive embed-responsive-16by9">
                    <!--<iframe class="embed-responsive-item" src="assets\help\DIGITAL ATTENDANCE.mp4?autoplay=1" allowfullscreen></iframe>-->
                    <video class="embed-responsive-item" controls>
                      <source src="assets\help\DIGITALATTENDANCE.mp4" type="video/mp4" />

                    </video>
                  </div>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">
              <h5>Meeting Minutes</h5>
              <div class="row m-0">
                <div class="col-lg-12">
                  <div class="embed-responsive embed-responsive-16by9">
                    <!--<iframe class="embed-responsive-item" src="assets\help\DIGITAL ATTENDANCE.mp4?autoplay=1" allowfullscreen></iframe>-->
                    <video class="embed-responsive-item" controls>
                      <source src="assets\help\MEETINGMINUTES.mp4" type="video/mp4" />

                    </video>
                  </div>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="fourth" role="tabpanel" aria-labelledby="fourth-tab">
              <h5>TBT</h5>
              <div class="row m-0">
                <div class="col-lg-12">
                  <div class="embed-responsive embed-responsive-16by9">

                    <video class="embed-responsive-item" controls>
                      <source src="assets\help\TBT.mp4" type="video/mp4" />

                    </video>
                  </div>
                </div>
              </div>

            </div>


          </div>
        </div>
        <!-- /.col-md-8 -->
      </div>


    </div>
    </div>
    <!-- /.container -->
  </div>


  <!-- /.container -->




  <app-footer></app-footer>
