body {
  /*font-family: 'Open Sans', sans-serif !important;*/
  font-size: 13px !important;
  background: #fff !important;
}

html,
body,
section {
  height: 100% !important;
}

.login-screen {
  background: #18a7e1;
  /*min-height: 660px;*/
}

.img-position {
  /*position: absolute;
  bottom: auto;
  top:auto;
  left: 0;*/
  /*width: 100%;*/
  height:100%;
}

.left-half {
  background: #025622;
  flex: 1;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.right-half {
  background-image: url(../../../assets/img/header-image-grey.png);
  background-repeat: repeat;
  display: inline-block;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-fluid {
  display: flex;
  margin-bottom:0!important;
}

#login-screen button {
  padding: .5rem .5rem!important;
}
.version {
    position:absolute;
    right:10px;
    bottom:0;
}
