<section class="container-fluid p-0" id="login-screen">
  <div class="left-half login-screen col-lg-8 col-md-6 no-padding">
    <div class="card h-100" style="border:none;">
      <div style="height:100%; background:#025622;">
        <img class="img-fluid img-position" src="assets\img\dewa-symbol.jpg">
      </div>
      </div>
    </div>
    <div class="right-half col-lg-4 col-md-6 col-sm-12">

      <div class="p-3 mt-3 mb-lg-4">
        <div class="row">
          <div class="col-lg-12 p-0 text-center d-none d-block d-sm-block d-md-none">
            <img class="img-fluid" src="assets\img\dewa-logo-login.png" Style="height:80%;">
          </div>
        </div>
        <h3 class="pt-3">Login</h3>
        <p>Login into Minutes of Meeting</p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <!--<div class="clearfix pb-3">
          <div class="form-check float-left">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Keep me signed in</label>
          </div>

        </div>-->
          <div class="form-group">

            <div class="col-lg-12 no-padding" *ngIf="!loading">
              <button class="btn btn-success btn-sm pl-4 pr-4 btn-block" name="action" type="submit"> Login </button>
            </div>
            <div class="col-lg-12 no-padding" *ngIf="loading">
              <button class="btn btn-success btn-sm pl-4 pr-4 btn-block" name="action"> Please wait  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> </button>
            </div>
          </div>

        </form>

      </div>

    </div>

</section>
<div class="version">
  <small>Version 3.9</small>
</div>
