<app-header></app-header>
<div class="container-fluid mat-100">
  <div class="col-lg-12 middle-content-hgt">
    <div class="row">
      <!-- Breadcrumbs-->
      <div class="col-lg-12">
        <ol class="breadcrumb breadcrumb-arrow">
          <li><a [routerLink]="'/dashboard'"><i class="fa fa-fw fa-home"></i></a></li>
          <!--<li class=""><a href="#"></a></li>
          <li class=""><a href="#">Group A</a></li>-->
          <li class="active"><span>Meeting Room</span></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="list-group menu-color">
          <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/meeting-type']">Meeting Type</a>
          <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/location']">Meeting Location</a>
          <a href="#" class="list-group-item list-group-item-action active" [routerLink]="['/meetingroom']">
            Meeting
            Room
          </a>
          <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/usermaster']"> User</a>
          <!--<a href="#" class="list-group-item list-group-item-action " [routerLink]="['/atd-categorize']">Attendance Catagory</a>
          <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/meeting-role']">Role</a>-->
        </div>
      </div>
      <div class="col-9">
        <div class="control-section grid-type">
          <ejs-grid id="grdData" #grid [dataSource]='data' allowPaging='true' allowFiltering='true'
                    [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar'
                    (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'
                    (toolbarClick)='toolbarClick($event)' [allowExcelExport]='true' [filterSettings]='filterOptions'>
            <e-columns>
              <e-column field='meetingRoomUno' headerText='ID' width='20%' textAlign='Left' [isPrimaryKey]='true'>
              </e-column>
              <e-column field='locationName' headerText='Location' width='40%'></e-column>
              <e-column field='meetingRoomCode' headerText='Room Code' width='40%'></e-column>
              <e-column field='meetingRoomName' headerText='Room Name' width='40%'></e-column>

            </e-columns>

            <ng-template #editSettingsTemplate let-data>
              <div [formGroup]="orderForm">

                <div class="row popup-custom">
                  <div class="input-field col xl12">
                    <div class="e-float-input e-control-wrapper mt-0 control-select"
                         [ngClass]="{'e-error': locationUno.invalid && (locationUno.dirty || locationUno.touched)}">
                      <ejs-dropdownlist id="locationUno" formControlName="locationUno" [dataSource]='locationUno_data'
                                        [fields]="{text: 'locationName', value: 'locationUno' }" placeholder="Location*"
                                        floatLabelType='Always'></ejs-dropdownlist>

                    </div>
                    <div id="locationUnoError"
                         [style.visibility]='((locationUno.invalid && (locationUno.dirty || locationUno.touched )) || (locationUno.invalid && submitClicked ))? "visible": "hidden"'>
                      <label class="e-error" id="locationUno-info" style="display: block;">
                        *Location Name is
                        required
                      </label>
                    </div>

                  </div>
                  <div class="input-field col xl12">
                    <!--[attr.disabled]="!data.isAdd ? '' : null"-->
                    <div class="e-float-input e-control-wrapper"
                         [ngClass]="{'e-error': meetingRoomCode.invalid && (meetingRoomCode.dirty || meetingRoomCode.touched)}">
                      <input formControlName="meetingRoomCode" myNoSpaces maxlength="255"
                             data-msg-containerid='meetingRoomCodeError' id="meetingRoomCode" name="meetingRoomCode"
                             type="text">

                      <label class="e-float-text e-label-top" for="meetingRoomCode">
                        MeetingRoom Code <span class="mant-red">*</span>
                      </label>
                    </div>
                    <div id="meetingRoomCodeError"
                         [style.visibility]='((meetingRoomCode.invalid && (meetingRoomCode.dirty || meetingRoomCode.touched)) || (meetingRoomCode.invalid && submitClicked))? "visible": "hidden"'>
                      <label class="e-error" id="meetingRoomCode-info" style="display: block;">
                        *MeetingRoom Code is
                        required
                      </label>
                    </div>
                  </div>

                  <div class="input-field col xl12">
                    <div class="e-float-input e-control-wrapper"
                         [ngClass]="{'e-error': meetingRoomName.invalid && (meetingRoomName.dirty || meetingRoomName.touched)}">
                      <input formControlName="meetingRoomName" myNoSpaces maxlength="255"
                             data-msg-containerid='meetingRoomNameError' id="meetingRoomName" name="meetingRoomName"
                             type="text">

                      <label class="e-float-text e-label-top" for="meetingRoomName">
                        MeetingRoom Name <span class="mant-red">*</span>
                      </label>
                    </div>
                    <div id="meetingRoomNameError"
                         [style.visibility]='((meetingRoomName.invalid && (meetingRoomName.dirty || meetingRoomName.touched)) || (meetingRoomName.invalid && submitClicked))? "visible": "hidden"'>
                      <label class="e-error" id="meetingRoomName-info" style="display: block;">
                        *meetingRoom Name is
                        required
                      </label>
                    </div>
                  </div>

                </div>
              </div>
            </ng-template>
          </ejs-grid>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
