<div>
  <app-header></app-header>

  <div id="page-wrapper">
    <div class="container-fluid no-padding">
      <div class="col-lg-12 mat-100" id="dashboard-page">
        <div class="row">
          <!-- Breadcrumbs-->
          <div class="col-lg-12">
            <ol class="breadcrumb breadcrumb-arrow">
              <li><a [routerLink]="'/dashboard'"><i class="fa fa-fw fa-home"></i></a></li>
              <!--<li class=""><a href="#"></a></li>
        <li class=""><a href="#">Group A</a></li>-->
              <li class="active"><span>Notification</span></li>
            </ol>
          </div>
        </div>
        <div class="row pat-20 pab-20">
          <div class="col-lg-8">


            <div class="card">
              <div class="card-body el-layout-1">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="panel-heading">
                      <h4>Notifications</h4>
                    </div>
                  </div>
                </div>
                <div *ngIf="(alertList ==null || alertList.length==0)">
                  <div class="row">
                    <div class="no-data-home">
                      <i class="fa fa-files-o"></i>
                      <h5>No Data Found</h5>
                    </div>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-lg-12 bg-white border-el mat-20" id="notification-main-page">
                    <a class="pointer alert-box" (click)="loadValues(alertObj)"
                       *ngFor="let alertObj of alertList; let alertIndex = index;">
                      <div class="alert-img pointer" (click)="loadValues(alertObj)">
                        <i class="fa fa-user-circle-o fa-2x"></i>
                      </div>
                      <div class="alert-name pointer" (click)="loadValues(alertObj)">
                        <p>{{alertObj.description}}<br /> <b>{{alertObj.createdDate |timeAgo}} </b></p>

                      </div>
                    </a>

                  </div>
                </div>

              </div>

              <div class="col-lg-12 mab-20 text-center text-info pointer" *ngIf="!disableMore">
                <a class=" text-info pointer" (click)="loadAlerts()">
                  <i class="fa fa-refresh mar5px "></i> Show  More...
                </a>
              </div>
            </div>
            </div>


         
          <div class="col-lg-4">
            <!--<div class="row mab-10">
    <div class="col dp-col">
      <div class="card">
        <div class="card-body">
          <div class="col-lg-12 no-padding">
            <div class="row bb-2 mab-10">
              <div class="col-12 no-padding">
                <h5 class="pl-3 pb-2 pr-3">Minutes of meeting </h5>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 no-padding">
                <div class="control-section">
                  <div>
                    <ejs-accumulationchart id='container' style='display:block; width: 100%; height:250px;' [legendSettings]="legendSettings" [tooltip]="tooltip" (load)='onLoad($event)'>
                      <e-accumulation-series-collection>
                        <e-accumulation-series [dataSource]='data' xName='x' height='250px' yName='y' [startAngle]="startAngle" radius="80%" [endAngle]="endAngle" innerRadius="0%" [dataLabel]="dataLabel"> </e-accumulation-series>
                      </e-accumulation-series-collection>
                    </ejs-accumulationchart>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>-->
            <div class="row mab-10">
              <div class="col dp-col">
                <div class="card">
                  <div class="card-body" id="mm-today">
                    <div class="col-lg-12 no-padding">
                      <div class="row bb-2 mab-10">
                        <div class="col-7 no-padding">
                          <h5 class="pl-3 pb-2 pr-3">Meetings created by me</h5>
                        </div>

                        <div class="col-5">
                          <div class="pull-right">

                            <div class="mab-10 pull-left" *ngIf="lstMOMDashboard_TodayMeetings!=null ||lstMOMDashboard_TodayMeetings.length>0 ">
                              <a class="btn btn-sm btn-secondary text-white" (click)="loadMeetingList(2)">
                                View more
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngFor="let item of lstMOMDashboard_TodayMeetings">
                        <div class="col-lg-12">
                          <div class="row mab-10 ol-main-wrap ng-star-inserted">
                            <div class="col-lg-12 bb-1 mab-10 no-padding">
                              <div class="row">
                                <div class="col-lg-9">
                                  <div class="col-lg-12 no-padding pointer ol-up-main-title" (click)="loadViewMeeting(item.genInfoAtdUno)">
                                    <i class="fa fa-file-text mar-10"></i>
                                    {{item.subjectAtd}}
                                  </div>
                                </div>
                                <div class="col-lg-3">
                                  <div class="pull-right mm-t-top-right">
                                    <i *ngIf="item.approvalStatus!='Published'" [title]="item.approvalStatus" class="fa fa-unlock mar-10 fa-lg"></i> <i *ngIf="item.approvalStatus=='Published'" title="Published" class="fa fa-lock mar-10"></i>
                                    <a class="mar-10" title="edit" *ngIf="item.approvalStatus!='Published'" (click)="loadUpdateMeeting(item.genInfoAtdUno)">
                                      <i class="fa fa-edit text-info fa-lg"></i>
                                    </a>

                                    <a title="view" (click)="loadViewMeeting(item.genInfoAtdUno)">
                                      <i class="fa fa-eye text-success fa-lg"></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-12 no-padding" id="alert-mcbm">
                              <div class="row m-0">
                                <div class="col-auto">
                                  <div class="ol-up-time-mcbm"><i class="fa fa-clock-o mar-10"></i> {{item.startTime | timeFormat}} </div>
                                </div>
                                <div class="col-auto p-0">
                                  <div class="ol-up-meetingtype-mcbm"><i class="fa fa-group mar-10" title="Meeting Type"></i>    {{item.meetingName}} </div>
                                </div>
                                <div class="col-auto">
                                  <div class="ol-up-meetingloc-mcbm"><i class="fa fa-map-marker mar-10" title="Meeting Location"></i>{{item.meetingLocation}} </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row" *ngIf="lstMOMDashboard_TodayMeetings==null ||lstMOMDashboard_TodayMeetings.length<=0 ">
                        <div class="col-lg-12 no-padding">
                          <div class="col-lg-12 text-center" style="margin-left: 0px;">
                            <div class="row">
                              <div class="no-data-home">
                                <i class="fa fa-files-o"></i>
                                <h5>No Data Found</h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col dp-col">
                <div class="card">
                  <div class="card-body" id="mm-today">
                    <div class="col-lg-12 no-padding">
                      <div class="row bb-2 mab-10">
                        <div class="col-7 no-padding">
                          <h5 class="pl-3 pb-2 pr-3">Meetings I am part of</h5>
                        </div>

                        <div class="col-5">
                          <div class="pull-right">

                            <div class="mab-10 pull-left" *ngIf="lstMOMDashboard_PartofMeetings!=null ||lstMOMDashboard_PartofMeetings.length>0 ">
                              <a class="btn btn-sm btn-secondary text-white" (click)="loadMeetingList(2)">
                                View more
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngFor="let item of lstMOMDashboard_PartofMeetings">
                        <div class="col-lg-12">
                          <div class="row mab-10 ol-main-wrap ng-star-inserted">
                            <div class="col-lg-12 bb-1 mab-10 no-padding">
                              <div class="row">
                                <div class="col-lg-9">
                                  <div class="col-lg-12 no-padding pointer ol-up-main-title" (click)="loadViewMeeting(item.genInfoAtdUno)">
                                    <i class="fa fa-file-text mar-10"></i>
                                    {{item.subjectAtd}}
                                  </div>
                                </div>
                                <div class="col-lg-3">
                                  <div class="pull-right mm-t-top-right">
                                    <i *ngIf="item.approvalStatus!='Published'" [title]="item.approvalStatus" class="fa fa-unlock mar-10 fa-lg"></i> <i *ngIf="item.approvalStatus=='Published'" title="Published" class="fa fa-lock mar-10"></i>
                                    <a class="mar-10" title="edit" *ngIf="item.approvalStatus!='Published'" (click)="loadUpdateMeeting(item.genInfoAtdUno)">
                                      <i class="fa fa-edit text-info fa-lg"></i>
                                    </a>

                                    <a title="view" (click)="loadViewMeeting(item.genInfoAtdUno)">
                                      <i class="fa fa-eye text-success fa-lg"></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-12 no-padding" id="alert-mcbm">
                              <div class="row m-0">
                                <div class="col-auto">
                                  <div class="ol-up-time-mcbm"><i class="fa fa-clock-o mar-10"></i> {{item.startTime | timeFormat}} </div>
                                </div>
                                <div class="col-auto p-0">
                                  <div class="ol-up-meetingtype-mcbm"><i class="fa fa-group mar-10" title="Meeting Type"></i>    {{item.meetingName}} </div>
                                </div>
                                <div class="col-auto">
                                  <div class="ol-up-meetingloc-mcbm"><i class="fa fa-map-marker mar-10" title="Meeting Location"></i>{{item.meetingLocation}} </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row" *ngIf="lstMOMDashboard_PartofMeetings==null ||lstMOMDashboard_PartofMeetings.length<=0 ">
                        <div class="col-lg-12 no-padding">
                          <div class="col-lg-12 text-center" style="margin-left: 0px;">
                            <div class="row">
                              <div class="no-data-home">
                                <i class="fa fa-files-o"></i>
                                <h5>No Data Found</h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>





<app-footer></app-footer>
