<app-header></app-header>
 

<div class="container-fluid mat-100">
  <div class="col-lg-12 middle-content-hgt">
    <div class="row">
      <!-- Breadcrumbs-->
      <div class="col-lg-12">
        <ol class="breadcrumb breadcrumb-arrow">
          <li><a [routerLink]="'/dashboard'"><i class="fa fa-fw fa-home"></i></a></li>
          <!--<li class=""><a href="#"></a></li>
          <li class=""><a href="#">Group A</a></li>-->
          <li class="active"><span>Meeting Location</span></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="list-group menu-color">
          <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/meeting-type']">Meeting Type</a>
          <a href="#" class="list-group-item list-group-item-action active" [routerLink]="['/location']">
            Meeting
            Location
          </a>
          <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/meetingroom']">Meeting Room</a>
          <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/usermaster']">User</a>
          <!--<a href="#" class="list-group-item list-group-item-action " [routerLink]="['/atd-categorize']">Attendance Catagory</a>
          <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/meeting-role']">Role</a>-->
        </div>
      </div>
      <div class="col-9">
        <div class="control-section grid-type">
          <ejs-grid id="grdData" #grid [dataSource]='data' allowPaging='true' allowFiltering='true'
                    [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar'
                    (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'
                    (toolbarClick)='toolbarClick($event)' [allowExcelExport]='true' [filterSettings]='filterOptions'>
            <e-columns>
              <e-column field='locationUno' headerText='ID' width='20%' textAlign='Left' [isPrimaryKey]='true'>
              </e-column>
              <e-column field='locationCode' headerText='Location Code' width='40%'></e-column>
              <e-column field='locationName' headerText='Location Name' width='40%'></e-column>
            </e-columns>

            <ng-template #editSettingsTemplate let-data>
              <div [formGroup]="orderForm">
                <div class="row popup-custom">
                  <div class="input-field col xl12">
                    <!--[attr.disabled]="!data.isAdd ? '' : null"-->
                    <div class="e-float-input e-control-wrapper"
                         [ngClass]="{'e-error': locationCode.invalid && (locationCode.dirty || locationCode.touched)}">
                      <input formControlName="locationCode" myNoSpaces maxlength="255"
                             data-msg-containerid='locationCodeError' id="locationCode" name="locationCode" type="text">

                      <label class="e-float-text e-label-top" for="locationCode">
                        location Code <span class="mant-red">*</span>
                      </label>
                    </div>
                    <div id="locationCodeError"
                         [style.visibility]='((locationCode.invalid && (locationCode.dirty || locationCode.touched)) || (locationCode.invalid && submitClicked))? "visible": "hidden"'>
                      <label class="e-error" id="locationCode-info" style="display: block;">
                        *location Code is
                        required
                      </label>
                    </div>
                  </div>

                  <div class="input-field col xl12">
                    <div class="e-float-input e-control-wrapper"
                         [ngClass]="{'e-error': locationName.invalid && (locationName.dirty || locationName.touched)}">
                      <input formControlName="locationName" myNoSpaces maxlength="255"
                             data-msg-containerid='locationNameError' id="locationName" name="locationName" type="text">

                      <label class="e-float-text e-label-top" for="locationName">
                        location Name <span class="mant-red">*</span>
                      </label>
                    </div>
                    <div id="locationNameError"
                         [style.visibility]='((locationName.invalid && (locationName.dirty || locationName.touched)) || (locationName.invalid && submitClicked))? "visible": "hidden"'>
                      <label class="e-error" id="locationName-info" style="display: block;">
                        *location Name is
                        required
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ejs-grid>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
