

  <div id="displayLogo" class="header-image-top">
    <div id="headerwarning" #headerwarning *ngIf="IsIE" class="headerwarning no-border no-padding">
      <p class="no-margin">The application is best viewed using IEEdge and above, Mozilla Firefox, Safari and Chrome.</p>
    </div>
    <nav class="navbar navbar-expand-md navbar-light nav-top-header">
      <a class="navbar-brand abs" [routerLink]="'/dashboard'"><img src="assets/img/emirates-logo.png"></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/dashboard'"><img src="assets/img/dubai-gov-logo.png"></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/dashboard'"><img src="assets/img/dewa-logo.png"></a>
        </li>
      </ul>
    </nav>
  </div>

<div class="" id="myHeader" name="myHeader" #myHeader>
  <ul id="gn-menu" class="gn-menu-main header-image-center">
    <li class="gn-trigger">
      <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
      <nav class="gn-menu-wrapper">
        <div class="gn-scroller">
          <ul class="gn-menu " id="main-drop-down">
            <li>
              <a class="dropdown-item text-overflow-ellipise " [routerLink]="'/userprofile'"><img [src]="picture" alt="Avatar" class="avatar"><span class="login-user "> {{firstname}}</span></a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'/dashboard'"><i class="fa fa-home mar-20"></i> Dashboard </a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'/attendance-list'"><i class="fa fa-vcard mar-20"></i> Digital Attendance </a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'/meeting-list'"> <i class="fa fa-users mar-20"></i> Meeting Minutes </a>
            </li>
            <li *ngIf="isTBT">
              <a class="dropdown-item" [routerLink]="'/tbd-list'"> <i class="fa fa-comments-o mar-20"></i> TBT </a>
            </li>
            <li *ngIf="Role==1">
              <a class="dropdown-item" [routerLink]="['/meeting-type']"> <i class="fa fa-cog mar-20"></i> Settings</a>
            </li>
            <li *ngIf="Role==1">
              <a class="dropdown-item" [routerLink]="['/report']"> <i class="fa fa-line-chart mar-20"></i>Reports</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/help']"> <i class="fa fa-question-circle mar-20"></i> Help</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'/login'"> <i class="fa fa-sign-out mar-20"></i> Logout </a>

            </li>




          </ul>
        </div>
        <!-- /gn-scroller -->
      </nav>
    </li>
    <li class="nav-item " title="Meeting Minutes">
      <a class="nav-link" [routerLink]="'/meeting-list'">
        <i class="fa fa-users fa-lg"></i>
      </a>
    </li>

    <li class="nav-item " title="Digital Attendance">
      <a class="nav-link" [routerLink]="'/attendance-list'">
        <i class="fa fa-vcard fa-lg"></i>
      </a>
    </li>

    <li class=" nav-item  dropdown float-right" id="user-dropdown">
      <a class="nav-link dropdown-toggle login-user" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <img [src]="picture" alt="Avatar" class="avatar"> <span>{{firstname}}</span>
      </a>
      <div class="dropdown-menu dropdown-last" aria-labelledby="navbarDropdown">
        <a class="dropdown-item border-bottom" [routerLink]="'/userprofile'"><i class="fa fa-user"></i> Profile </a>
        <a class="dropdown-item border-bottom" *ngIf="Role==1" [routerLink]="['/meeting-type']"><i class="fa fa-cog"></i> Settings </a>
        <a class="dropdown-item border-bottom" [routerLink]="['/help']"> <i class="fa fa-question-circle"></i> Help</a>
        <a class="dropdown-item"  (click)="logout()"> <i class="fa fa-sign-out"></i> Logout </a>
      </div>
    </li>
    <li class="nav-item dropdown float-right" id="notify">
      <a class="nav-link " href="#" (click)="markAsVisited()" title="Notification" id="navbarDropdownalert" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell-o fa-lg">
          <span class="badge notification-alert-dot-badge" *ngIf="alertCount>0">{{alertCount}}</span>
        </i>
      </a>
      <div class="dropdown-menu dropdown-last alert p-3" aria-labelledby="navbarDropdownalert">
        <div class="col-lg-12 no-padding alert-box" (click)="loadValues(alertObj)"
             *ngFor="let alertObj of alertList; let alertIndex = index;">
          <div class="alert-img">
            <i class="fa fa-user-circle-o fa-2x"></i>
          </div>
          <div class="alert-name">
            <p>{{alertObj.description}}<br /> <b>{{alertObj.createdDate |timeAgo}} </b></p>

          </div>
        </div>

        <a class="dropdown-item text-center" [routerLink]="'/alert'"> <i class="fa fa-refresh"></i> view more </a>
      </div>
    </li>
    <li class="nav-item float-right" title="Dashboard">
      <a class="nav-link" [routerLink]="'/dashboard'">
        <i class="fa fa-home fa-lg"></i>
      </a>
    </li>
  </ul>
</div>


