.nav-top-header {
  /*background-image: url("src\assets\img\header-image-center.png");
  background-position: center;
  background-repeat: no-repeat;*/
  height: 100px;
  background-color:#fff;
}

.nav-header {
  /*background-image: url("src\assets\img\header-image-center.png");
  background-position: center;
  background-repeat: no-repeat;*/
  height: 35px;
}

.header-image-center {
  background-image: url("src\assets\img\header-image.png");
  background-position: center;
  background-repeat: repeat;
}

.nav-header .nav-link {
  color: #fff;
}

.nav-header .header-search {
  background: #fff;
  border-radius: 60px;
  color: #3a3a3a;
  border: 0;
}

.nav-header .dropdown-menu.dropdown-last {
  left: auto;
  box-shadow: 5px 5px 5px #999;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  right: 0;
  background: #eee;
}

.nav-header .dropdown-menu a.dropdown-item {
  font-size: 13px;
  color: #212529;
}

  .nav-header .dropdown-menu a.dropdown-item i {
    color: #3a3a3a;
  }

.nav-header .custom-search {
  position: relative;
}

  .nav-header .custom-search .btn-outline-success {
    position: absolute;
    right: 20px;
    border: 0;
  }

    .nav-header .custom-search .btn-outline-success:hover {
      background: #fff;
      border: 0;
    }

  .nav-header .custom-search ::placeholder {
    color: #cccccc;
    opacity: 1;
    /* Chrome/Opera/Safari */
  }

  .nav-header .custom-search :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cccccc;
  }

  .nav-header .custom-search ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #cccccc;
  }

.nav-tabs.custom-nav a {
  color: #484848;
}

.nav-tabs.custom-nav .nav-link.active {
  border-bottom: 4px solid #5ab8ee;
  border-radius: 0;
}

.notification-alert-dot-badge {
  background-color: #F00;
  float: right;
  position: absolute;
  top: -5px;
  border-radius: 50%;
  right: -5px;
  font-family: DubaiW23-Regular;
  z-index: 9;
  font-size: 10px;
  height: 25px;
  width: 30px;
  text-align: center;
  line-height: 23px;
}

.alert-img {
  width: 40px;
  float: left;
  position: relative;
}
#notify .alert-img {
  width: 15%;
}
#notify .alert-name {
  width: 15%;
  width: 85%;
  float: left;
}
  #notify .alert-name p {
    line-height: 22px;
  }
  #notify .alert-name b {
    float: left;
    font-size: 12px;
    color: #999;
  }
#notify .dropdown-menu a.dropdown-item {
  padding: 0;
  background-color: rgba(13,27,62,0.08);
  border-radius: 0.25rem;
  
}

.alert-name h5 {
  font-size: 16px;
}

.alert-box {
  /*padding-left: 30px !important;*/
  border-bottom: 1px solid #eee;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.alert-name p span {
  margin-right: 10px;
  margin-left: 10px;
  color: #ccc;
}

.alert-name p {
  margin-bottom: 0;
  color: #777;
  font-size: 13px;
}

/*.dropdown-menu.alert {
  min-width: 20rem;
  margin-right: -100px !important;

}*/

.el-layout-1 {
  border-radius: 0 !important;
  border: 0 !important;
  box-shadow: none;
}

  .el-layout-1 .panel-heading {
    color: #fff;
    background-color: #2e8651;
    border: none;
    border-radius: 0 !important;
  }

    .el-layout-1 .panel-heading h4 {
      padding: 10px;
      /*margin: 10px;*/
      position: relative;
      font-size: 16px;
    }

  .el-layout-1 .panel-body p {
    font-size: 16px;
  }

  .el-layout-1 .panel-body h5 {
    font-size: 16px;
    font-family: DubaiW23-Bold;
    font-weight: normal;
    line-height: 30px;
  }

  .el-layout-1 .panel-body h6 {
    font-size: 16px;
    font-family: DubaiW23-Regular;
    font-weight: normal;
    margin-bottom: 15px !important;
    line-height: 35px;
  }

.award-layout img {
  width: 60px;
  height: 60px;
  text-align: center;
  object-fit: contain;
}

.recommendation-layout img {
  width: 58px;
  text-align: center
}

.el-layout-1 .panel-body .recommendation-layout h5 {
  font-size: 16px;
  font-family: DubaiW23-Bold;
}

.el-layout-1 .panel-body .recommendation-layout h6 {
  font-size: 14px;
  color: #555555;
  line-height: 20px;
}

.el-layout-1 .panel-body .recommendation-layout p {
  font-size: 16px;
  color: #222222;
  line-height: 30px;
  font-weight: bold;
}
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    top:22px;
    text-align: center;
  }



#menudropdown-container .dropdown-toggle::after,
#gn-menu .dropdown-toggle::after {
  display: none;
}
#menudropdown-container .dropdown-menu.dropdown-last,
#gn-menu .dropdown-menu.dropdown-last {
  left: 0;
  box-shadow: 5px 5px 5px #999;
  border: 1px solid #ccc;
  right: auto;
  background: #fff;
  padding:0;
  /*color:#fff;*/
}
#gn-menu #notify .dropdown-menu.dropdown-last.alert {
  left: auto !important;
  right:0;
}
#gn-menu .dropdown-item {
  padding: .25rem 1.1rem;
  line-height:45px;
}
#gn-menu .dropdown-item i {
    width:25px;
    text-align:center;
}
.input-group .form-control {
  font-size: 0.8rem;
}

#dashboard-page {
  background: #f1f4f6;
}

  #dashboard-page .dash-bg .card {
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  #dashboard-page .dash-section.card {
    border: none;
    border-radius: 0;
  }

  #dashboard-page .dash-section .btn-default {
    color: #41A1C4 !important;
  }

.dash-bg {
  /*background-image: url("src\assets\img\dash-board-bg.jpg");*/
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
}

  .dash-bg .card-body {
    position: relative;
  }

  .dash-bg .btn-pos-lft {
    background: #18a7e1;
    border: 1px solid #18a7e1;
    position: absolute;
    top: 60px;
    left: -55px;
    transform: rotate(270deg);
    border-radius: 20px;
    min-width: 110px;
  }

.blue-bg {
  background: #41a2c5;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

  .blue-bg .card-text {
    font-size: 0.9em;
  }

.card, .bs-dash {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}

.dash-bg .card {
  box-shadow: none !important;
  border-radius: 0;
}


  .dash-bg .card h5,
  .card h5 {
    color: rgba(13,27,62,0.7);
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 15px !important;
  }

.dash-bg .card {
  margin-top: 20px;
  border-top: 4px solid #C48541;
  /*background: #fdf7f0;*/
  background: #fff;
}

  .dash-bg .card .card-footer {
    background: #fff;
  }

.dash-section .bg-light-blue {
  background-color: #fff;
}

.dash-section .ol-up-main-title {
  font-weight: normal;
}

#dashboard-mymeeting-bot-sec .ol-up-main-title {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.dash-icon-left {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #065827;
}

  .dash-icon-left i {
    font-size: 20px;
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 48px;
  }

.dash-top-count {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

  .dash-top-count h6 {
    font-size: 30px;
    color: #1C5F78;
  }

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #41a1c4;
  background: #ffffff;
  color: #05242f;
}

.dash-section .table a {
  font-style: italic;
}

.ol-up-select button {
  cursor: pointer;
}

#dashboard-mymeeting-bot-sec .ol-up-meetings-l {
  width: 50%;
}

#dashboard-mymeeting-bot-sec .ol-up-meetings-r {
  width: 50%;
}

.w14 {
  width: 14px;
}

.f10 {
  font-size: 11px;
}

.light-grey-bg {
  background: #f2f2f2;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#dashboard-mymeeting-bot-sec .ol-up-time,
#dashboard-mymeeting-bot-sec .ol-up-title,
#dashboard-mymeeting-bot-sec .ol-up-time-g,
#dashboard-mymeeting-bot-sec .ol-up-name {
  margin-bottom: 0;
  /*text-transform: capitalize !important;*/
  font-size: 12px !important;
}

.bg-light-blue {
  background-color: #e5f4f9;
}

.dash-bg .dropdown-menu {
  left: auto !important;
  right: 0 !important;
}

#dashboard-mymeeting-bot-sec .ol-up-meetings-l i,
#dashboard-mymeeting-bot-sec .ol-up-meetings-r i {
  width: 18px;
  text-align: left;
}

#miapo-sec {
  width: 90%;
  margin: auto;
}

  #miapo-sec p {
    border-top: 2px dashed;
    border-color: #41A1C4 !important;
    margin: 0;
    padding: 30px;
    counter-increment: section;
    position: relative;
  }



    #miapo-sec p:nth-child(even):before {
      content: counter(section);
      right: 100%;
      margin-right: -14px;
      position: absolute;
      border-radius: 50%;
      padding: 4px;
      height: 30px;
      width: 30px;
      background-color: #41A1C4;
      text-align: center;
      color: white;
      font-size: 110%;
    }

    #miapo-sec p:nth-child(odd):before {
      content: counter(section);
      left: 100%;
      margin-left: -14px;
      position: absolute;
      border-radius: 50%;
      padding: 4px;
      height: 30px;
      width: 30px;
      background-color: #41A1C4;
      text-align: center;
      color: white;
      font-size: 110%;
    }



    #miapo-sec p:nth-child(even) {
      border-left: 2px dashed;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      margin-right: 30px;
      padding-right: 0;
    }

    #miapo-sec p:nth-child(odd) {
      border-right: 2px dashed;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      margin-left: 30px;
      padding-left: 0;
    }

    #miapo-sec p:first-child {
      border-top: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    #miapo-sec p:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

.miapo-scroll {
  height: 463px;
  overflow-y: auto;
}

#miapo-new {
  height: 463px;
}

#miapo-mymeeting {
  height: 463px;
}

.status-badge-miapo .badge {
  margin-bottom: 3px;
}

.w100 {
  width: 100%;
}

.green-circle {
  background-color: #28a745;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  bottom: 10px;
}

  .green-circle i {
    line-height: 18px;
    color: #fff;
    font-size: 12px;
  }


#miapo-new .card .card-body .message {
  padding-left: 80px;
  &::after

{
  clear: both;
}

}

#miapo-new .card {
  box-shadow: none;
}

  #miapo-new .card .card-body .actions {
    margin-top: 5px;
  }

.dash-section #miapo-new .card-body {
  min-height: auto;
}

.dash-section #miapo-new .card {
  border: none !important;
  border-bottom: 1px solid #eee !important;
  border-radius: 0 !important;
}

.view-dash {
  color: #41A1C4 !important;
  font-size: 11px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.status-badge-miapo span {
  width: 83px;
  float: right;
}

.miapo-new {
  height: 240px;
  overflow-y: auto;
}

.cal-bg {
  background-color: #ccc;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  float: left;
}

  .cal-bg i {
    line-height: 48px;
    color: #fff;
    font-size: 23px;
  }

#miapo-new-inner p {
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}

#miapo-new-inner h5 {
  margin-bottom: 4px;
  margin-top: 5px;
  font-size: 14px;
  width: 185px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 0 !important;
}


#miapo-new .card-body {
  padding: 15px
}

#miapo-sec small.miapo-time-top {
  width: 100%;
  float: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: #666;
}

  #miapo-sec small.miapo-time-top span.miapo-name {
    float: right
  }

#miapo-sec .miopo-content {
  color: #000;
}

.has-search {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

  .has-search .form-control {
    padding-left: 2.375rem;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }



#miapo-mymeeting2 {
  height: 463px;
}

#dashboard-mymeeting-bot-sec2 .ol-up-main-title {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

#dashboard-mymeeting-bot-sec2 .ol-up-meetings-l {
  width: 50%;
}

#dashboard-mymeeting-bot-sec2 .ol-up-meetings-r {
  width: 50%;
}

#dashboard-mymeeting-bot-sec2 .ol-up-time,
#dashboard-mymeeting-bot-sec2 .ol-up-title,
#dashboard-mymeeting-bot-sec2 .ol-up-time-g,
#dashboard-mymeeting-bot-sec2 .ol-up-name {
  margin-bottom: 0;
  /*text-transform: capitalize !important;*/
  font-size: 12px !important;
}

#dashboard-mymeeting-bot-sec2 .ol-up-meetings-l i,
#dashboard-mymeeting-bot-sec2 .ol-up-meetings-r i {
  width: 18px;
  text-align: left;
}

#mm-today .ol-up-search-time {
  width: 19%;
  margin-right: 1%;
  float: left;
  background: #2e8651;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
}

#mm-today .ol-up-main-title {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 15px;
  font-weight: 500;
}

#mm-today .ol-up-meetings-l-inner, #mm-today .ol-up-meetings-r-inner {
  width: 50%;
  float: left;
}

.mm-t-top-right {
  margin-bottom: 10px;
}

#mm-today .ol-up-time, #mm-today .ol-up-time-g {
  margin-bottom: 0;
}
@media screen and (max-width: 991px) {
  .miapo-scroll {
    height: auto;
  }

  #miapo-new {
    height: auto;
  }

  #miapo-mymeeting {
    height: auto;
  }




}

@charset "UTF-8";

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.gn-menu-main {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  height: 45px;
  font-size: 13px;
  z-index:999;
}
#main-drop-down li a, #user-dropdown div a, #notify div a {
  color: #333 ;
}

.gn-menu-main a {
  display: block;
  height: 100%;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

  .gn-menu-main a:hover {
    background-color: #12572c!important;
    color: #fff!important;
  }
.gn-menu-main #main-drop-down a:hover, .gn-menu-main #user-dropdown a:hover {
  background-color: #12572c !important;
  color: #fff !important;
}

  .gn-menu-main > li {
    display: block;
    float: left;
    height: 100%;
    /*border-right: 1px solid #c6d0da;
    border-left: 1px solid #c6d0da;*/
    text-align: center;
  }

    .gn-menu-main > li > a {
      padding: 0 15px;
      /*text-transform: uppercase;*/
      letter-spacing: 1px;
      font-weight: bold;
    }

    .gn-menu-main > li :after {
      display: table;
      clear: both;
      content: '';
    }

  .gn-menu-main li.gn-trigger {
    position: relative;
    width: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .gn-menu-main > li:last-child {
    float: right;
    border-right: none;
    /*border-left: 1px solid #c6d0da;*/
  }

  .gn-menu-main {
    margin: 0;
    padding: 0;
    /*background-color: #fff;*/
    color: #333;
    list-style: none;
    text-transform: none;
    font-weight: 300;
    /*font-family: Arial, sans-serif;*/
    line-height: 45px;
  }
   .gn-menu-main ul {
      margin: 0;
      padding: 0;
      /*background-color: #fff;*/
      color: #333;
      list-style: none;
      text-transform: none;
      font-weight: 300;
      /*font-family: Arial, sans-serif;*/
      line-height: 45px;
    }

.gn-menu-wrapper {
  position: fixed;
  top: 145px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 60px;
  border-top: 1px solid #c6d0da;
  border-right: 1px solid #c6d0da;
  background-color: #fff;
  transform: translateX(-60px);
  transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
  position: absolute;
  overflow-y: auto;
  width: 240px;
  height: 100%;
}

.gn-menu {
  border-bottom: 1px solid #c6d0da;
  text-align: left;
  font-size: 14px;
}

  .gn-menu li:not(:first-child), .gn-menu li li {
    box-shadow: inset 0 1px #c6d0da;
  }

.gn-submenu li {
  overflow: hidden;
  height: 0;
  transition: height 0.3s;
}

  .gn-submenu li a {
    color: #c1c9d1;
  }

input.gn-search {
  position: relative;
  z-index: 10;
  padding-left: 60px;
  outline: none;
  border: none;
  background: transparent;
  color: #fff;
  font-weight: 300;
  /*font-family: 'Lato', Arial, sans-serif;*/
  cursor: pointer;
}

  input.gn-search::placeholder {
    color: #fff;
  }

.gn-menu-main a.gn-icon-search {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
}

.gn-icon::before {
  display: inline-block;
  width: 60px;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'FontAwesome';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.gn-icon-help::before {
  content: "";
}

.gn-icon-cog::before {
  content: "";
}

.gn-icon-search::before {
  content: "";
}

.gn-icon-download::before {
  content: "";
}

.gn-icon-photoshop::before {
  content: "";
}

.gn-icon-illustrator::before {
  content: "";
}

.gn-icon-archive::before {
  content: "";
}

.gn-icon-article::before {
  content: "";
}

.gn-icon-pictures::before {
  content: "";
}

.gn-icon-videos::before {
  content: "";
}

.gn-icon span {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
}

.gn-icon-menu::before {
  /*margin-left: -15px;
  vertical-align: -2px;
  width: 30px;
  height: 3px;
  background: #5f6f81;
  box-shadow: 0 3px white, 0 -6px #5f6f81, 0 -9px white, 0 -12px #5f6f81;
  content: '';*/
  margin-left: -30px;
  content: '\f0c9';
  position: absolute;
  top: 13px;
  font-size: 20px;
}

.gn-icon-menu:hover::before,
.gn-icon-menu.gn-selected:hover::before {
  /*background: white;
  box-shadow: 0 3px #5f6f81, 0 -6px white, 0 -9px #5f6f81, 0 -12px white;*/
  margin-left: -30px;
  content: '\f0c9';
}

.gn-icon-menu.gn-selected::before {
  background: #f2f3f2;
  box-shadow: 0 3px white, 0 -6px #5993cd, 0 -9px white, 0 -12px #5993cd;
}

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
  transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
  width: 240px;
}

  .gn-menu-wrapper.gn-open-all .gn-submenu li {
    height: 60px;
  }

.container > header,
.codrops-top {
  color: #fff;
  /*font-family: 'Lato', Arial, sans-serif;*/
}

.container > header {
  margin: 0 auto;
  padding: 12em 2em;
  padding-left: 370px;
  background: rgba(0, 0, 0, 0.05);
}

  .container > header a {
    color: #566473;
    text-decoration: none;
    outline: none;
  }

    .container > header a:hover {
      color: #4f7bab;
    }

  .container > header h1 {
    font-size: 3.2em;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
  }

  .container > header span {
    display: block;
    font-size: 55%;
    color: #74818e;
    padding: 0 0 0.6em 0.1em;
  }

body {
  background: #34495e;
}
#user-dropdown .login-user {
  min-width: 165px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fixed-top .gn-menu-main {
  /*-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;*/
}
.sticky .gn-menu-main {
  top: 0;
  /*-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;*/
}
.sticky .gn-menu-main .gn-menu-wrapper{top: 45px;}
/*.fixed-top {
  transition: transform 0.3s;
}*/

.sticky {
  /*-webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;*/
  position: fixed;
  top: 0!important;
  width:100%;
  z-index:9999
}
  .sticky + .container-fluid {
    padding-top: 60px!important;
  }
/*#myHeader {
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}*/
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}
#gn-menu #user-dropdown .dropdown-item {
  line-height: 30px!important;
}
@media screen and (max-width: 767px) {
  ul .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .nav-top-header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

    .nav-top-header .nav-link {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
}

@media screen and (max-width: 640px) {
  /*ul.navbar-nav.mr-auto, ul.navbar-nav.ml-auto {
    width: 100%;
    text-align: center;
  }

  #navbarSupportedContent ul.navbar-nav.ml-auto .nav-item {
    width: 100%;
    text-align: left;
  }

  .nav-top-header {
    height: auto !important;
  }

  .navbar-brand.abs {
    position: relative !important;
    margin-bottom: 15px;
  }

  .gn-menu-main {
    top: 166px;
  }
  .gn-menu-wrapper{
    top: 211px;
  }*/
  .header-image-top img {
      height:35px;
  }
  .header-image-top .navbar-brand.abs {
      top:30px;
  }
  .gn-menu-main > li > a {
      padding:0 5px!important;
  }
  #user-dropdown .login-user {
      min-width: inherit;
  }
  #user-dropdown .login-user span {
    display:none
  }
  #menudropdown-container
  .dropdown-menu.dropdown-last,
  #gn-menu .dropdown-menu.dropdown-last {
    right: 0!important;
    left: auto !important;
    transform: translate3d(0, 45px, 0px)!important;
  }



}
