<!--The content below is only a placeholder and can be replaced.-->

<ngx-spinner bdOpacity=0.2 bdColor="rgba(149,40,40,0.03)" size="medium" color="#344272"
             [fullScreen]="true">
  <div class="overlay-spin">
    <div class="outer-orbit">
      <div class="orbit-spinner">
        <div class="loader">
          <div class="face arrow01">
            <div class="circle">
              <i class="fa fa-chevron-down"></i>
            </div>
          </div>
          <div class="face arrow02">
            <div class="circle">
              <i class="fa fa-chevron-up"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-spinner>
<ejs-dialog id="warnIdleDialog" header='User Idle' #warnIdleDialog showCloseIcon='true'
            allowDragging='true' width='450px' [closeOnEscape]="true" [visible]='false'>

  <div class="col-lg-12">

    <div class="row">
      <div class="progress" style="height:40px;width:100%">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': idleCount*4+'%'}">
          {{nitifyCount}}.
        </div>
      </div>
    </div>
    <div class="row">
      <p><small>{{displayText}}</small></p>
    </div>
  </div>
</ejs-dialog>

<router-outlet>

</router-outlet>
<!--<app-login></app-login>-->
