.input-group .form-control {
  font-size: 0.8rem;
}

#dashboard-page {
  background: #f1f4f6;
}

  #dashboard-page .dash-bg .card {
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  #dashboard-page .dash-section.card {
    border: none;
    border-radius: 0;
  }

  #dashboard-page .dash-section .btn-default {
    color: #41A1C4 !important;
  }

.dash-bg {
  /*background-image: url("src\assets\img\dash-board-bg.jpg");*/
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
}

  .dash-bg .card-body {
    position: relative;
  }

  .dash-bg .btn-pos-lft {
    background: #18a7e1;
    border: 1px solid #18a7e1;
    position: absolute;
    top: 60px;
    left: -55px;
    transform: rotate(270deg);
    border-radius: 20px;
    min-width: 110px;
  }

.blue-bg {
  background: #41a2c5;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

  .blue-bg .card-text {
    font-size: 0.9em;
  }

.card, .bs-dash {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}

.dash-bg .card {
  box-shadow: none !important;
  border-radius: 0;
}


  .dash-bg .card h5,
  .card h5 {
    color: rgba(13,27,62,0.7);
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 15px !important;
  }

.dash-bg .card {
  margin-top: 20px;
  /*border-top: 4px solid #C48541;*/
  border-top: 4px solid rgba(13,27,62,0.5);
  /*background: #fdf7f0;*/
  background: #fff;
}

  .dash-bg .card .card-footer {
    background: #fff;
  }

.dash-section .bg-light-blue {
  background-color: #fff;
}

.dash-section .ol-up-main-title {
  font-weight: normal;
}

#dashboard-mymeeting-bot-sec .ol-up-main-title {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.dash-icon-left {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #065827;
}

  .dash-icon-left i {
    font-size: 20px;
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 48px;
  }

.dash-top-count {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

  .dash-top-count h6 {
    font-size: 30px;
    color: #1C5F78;
  }

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #41a1c4;
  background: #ffffff;
  color: #05242f;
}

.dash-section .table a {
  font-style: italic;
}

.ol-up-select button {
  cursor: pointer;
}

#dashboard-mymeeting-bot-sec .ol-up-meetings-l {
  width: 50%;
}

#dashboard-mymeeting-bot-sec .ol-up-meetings-r {
  width: 50%;
}

.w14 {
  width: 14px;
}

.f10 {
  font-size: 11px;
}

.light-grey-bg {
  background: #f2f2f2;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#dashboard-mymeeting-bot-sec .ol-up-time,
#dashboard-mymeeting-bot-sec .ol-up-title,
#dashboard-mymeeting-bot-sec .ol-up-time-g,
#dashboard-mymeeting-bot-sec .ol-up-name {
  margin-bottom: 0;
  text-transform: capitalize !important;
  font-size: 12px !important;
}

.bg-light-blue {
  background-color: #e5f4f9;
}

.dash-bg .dropdown-menu {
  left: auto !important;
  right: 0 !important;
}

#dashboard-mymeeting-bot-sec .ol-up-meetings-l i,
#dashboard-mymeeting-bot-sec .ol-up-meetings-r i {
  width: 18px;
  text-align: left;
}

#miapo-sec {
  width: 90%;
  margin: auto;
}

  #miapo-sec p {
    border-top: 2px dashed;
    border-color: #41A1C4 !important;
    margin: 0;
    padding: 30px;
    counter-increment: section;
    position: relative;
  }



    #miapo-sec p:nth-child(even):before {
      content: counter(section);
      right: 100%;
      margin-right: -14px;
      position: absolute;
      border-radius: 50%;
      padding: 4px;
      height: 30px;
      width: 30px;
      background-color: #41A1C4;
      text-align: center;
      color: white;
      font-size: 110%;
    }

    #miapo-sec p:nth-child(odd):before {
      content: counter(section);
      left: 100%;
      margin-left: -14px;
      position: absolute;
      border-radius: 50%;
      padding: 4px;
      height: 30px;
      width: 30px;
      background-color: #41A1C4;
      text-align: center;
      color: white;
      font-size: 110%;
    }



    #miapo-sec p:nth-child(even) {
      border-left: 2px dashed;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      margin-right: 30px;
      padding-right: 0;
    }

    #miapo-sec p:nth-child(odd) {
      border-right: 2px dashed;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      margin-left: 30px;
      padding-left: 0;
    }

    #miapo-sec p:first-child {
      border-top: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    #miapo-sec p:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

.miapo-scroll {
  height: 463px;
  overflow-y: auto;
}

#miapo-new {
  height: 463px;
}

#miapo-mymeeting {
  height: 463px;
}

.status-badge-miapo .badge {
  margin-bottom: 3px;
}

.w100 {
  width: 100%;
}

.green-circle {
  background-color: #28a745;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  bottom: 10px;
}

  .green-circle i {
    line-height: 18px;
    color: #fff;
    font-size: 12px;
  }


#miapo-new .card .card-body .message {
  padding-left: 80px;
  &::after

{
  clear: both;
}

}

#miapo-new .card {
  box-shadow: none;
}

  #miapo-new .card .card-body .actions {
    margin-top: 5px;
  }

.dash-section #miapo-new .card-body {
  min-height: auto;
}

.dash-section #miapo-new .card {
  border: none !important;
  border-bottom: 1px solid #eee !important;
  border-radius: 0 !important;
}

.view-dash {
  color: #41A1C4 !important;
  font-size: 11px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.status-badge-miapo span {
  width: 83px;
  float: right;
}

.miapo-new {
  height: 370px;
  overflow-y: auto;
}

.cal-bg {
  background-color: #ccc;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  float: left;
}

  .cal-bg i {
    line-height: 48px;
    color: #fff;
    font-size: 23px;
  }

#miapo-new-inner p {
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}

#miapo-new-inner h5 {
  margin-bottom: 4px;
  margin-top: 5px;
  font-size: 14px;
  width: 185px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 0 !important;
}


#miapo-new .card-body {
  padding: 15px
}

#miapo-sec small.miapo-time-top {
  width: 100%;
  float: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: #666;
}

  #miapo-sec small.miapo-time-top span.miapo-name {
    float: right
  }

#miapo-sec .miopo-content {
  color: #000;
}

.has-search {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

  .has-search .form-control {
    padding-left: 2.375rem;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }



#miapo-mymeeting2 {
  height: 463px;
}

#dashboard-mymeeting-bot-sec2 .ol-up-main-title {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

#dashboard-mymeeting-bot-sec2 .ol-up-meetings-l {
  width: 50%;
}

#dashboard-mymeeting-bot-sec2 .ol-up-meetings-r {
  width: 50%;
}

#dashboard-mymeeting-bot-sec2 .ol-up-time,
#dashboard-mymeeting-bot-sec2 .ol-up-title,
#dashboard-mymeeting-bot-sec2 .ol-up-time-g,
#dashboard-mymeeting-bot-sec2 .ol-up-name {
  margin-bottom: 0;
  text-transform: capitalize !important;
  font-size: 12px !important;
}

#dashboard-mymeeting-bot-sec2 .ol-up-meetings-l i,
#dashboard-mymeeting-bot-sec2 .ol-up-meetings-r i {
  width: 18px;
  text-align: left;
}

#mm-today i {
  font-size: 14px !important;
}

#mm-today .no-data-home i {
  font-size: 30px !important;
}

#mm-today .ol-up-time {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 15px;
  font-size: 10px;
}

#mm-today .ol-up-search-time {
  width: 19%;
  margin-right: 1%;
  float: left;
  background: #2e8651;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
}

#mm-today .ol-up-main-title {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 15px;
  font-weight: 500;
}

#mm-today .ol-up-meetings-l-inner, #mm-today .ol-up-meetings-r-inner {
  width: 50%;
  float: left;
}
legend {

  margin-bottom: .5rem;
   font-size: 14px; 
}
.mm-t-top-right {
  margin-bottom: 10px;
}

#mm-today .ol-up-time, #mm-today .ol-up-time-g {
  margin-bottom: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .50rem .75rem ;
  margin-bottom: -1px;
  background-color: #fff;
  border: none; 
}

#user-upcoming-events .list-group-item {
  position: relative;
  display: block;
  padding: .70rem 1rem !important;
  margin-bottom: -1px;
  background-color: #fff;
  border: none;
}

#mm-profile h2 {
  font-size: 15px;
  margin-top: 10px;
  color: rgba(13,27,62,0.8);
  font-weight: 600;
}

#mm-profile p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(13,27,62,1);
}

#mm-profile .bg-green {
  background-color: transparent;
  /*background-image: url("src\assets\img\header-image.png");
  background-position: center;
  background-repeat: repeat;*/
  padding: 10px;
}

.mm-profile-bg {
  /*border: 1px solid rgba(13,27,62,0.3);*/
  background-color: rgba(13,27,62,0.08);
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.no-border {
  border: none !important;
}

#mm-profile .login-details {
  background-color: #E3710D;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0;
}

#mm-profile .login-bottom {
  background-color: rgba(13,27,62,0.7);
  padding: 10px;
  border-radius: 0;
}

#mm-profile .login-details p {
  color: #fff;
  margin: 0;
  padding: 0;
}

#mm-profile .login-bottom p {
  color: #fff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 991px) {
  .miapo-scroll {
    height: auto;
  }

  #miapo-new {
    height: auto;
  }

  #miapo-mymeeting {
    height: auto;
  }
}
