<app-header></app-header>
<div class="container-fluid  mat-100 middle-content-hgt">

  <div class="row ma20px">
    <div class="col-lg-12 att-box" id="profile-name-sec">
      <div class="att-name">
        <i class="fa fa-user-circle-o fa-2x mar-10 pull-left"></i><h5 class="pull-left">User Profile</h5>

      </div>
    </div>
  </div>
  <div class="row ma20px">
    <div class="col-lg-12">
       
      <div class="row mal-15">
        <div class="no-padding col-lg-12">
          <div *ngIf="usermasterForm!=undefined" [formGroup]="usermasterForm">
            <div class="col-lg-12 no-padding">
              <div class="row">

                <div class="col-lg-5 dp-col mb-3">
                  <div class="card">
                    <div class="card-body pt-2 pl-2 pr-2 pb-2  mm-profile-bg" id="mm-profile">
                      <div class="row bg-green no-margin">
                        <div class="col-lg-12 justify-content-center dp-col text-center">
                          <img [src]="user.picture" alt="Avatar" class="avatar-big">
                        </div>
                      </div>
                      <div class="row bg-green no-margin">
                        <div class="col-lg-12 text-center">
                          <h2 class="login-user">{{user.firstname}}</h2>
                          <p>{{user.email}}</p>
                          <p>{{user.designation}}</p>
                        </div>
                      </div>
                      <div class="row no-margin">
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-lg-12 login-bottom text-center">
                              <p>{{user.division}}</p>
                            </div>

                          </div>

                        </div>
                      </div>
                      <div class="row no-margin">
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-lg-12 login-details text-center">
                              <p>Last Login : {{todayDate}}   {{todayTime}}</p>
                            </div>

                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col-lg-7">
                  <div class="row">
                    <div class="col-lg-8">

                      <div class="form-group col-lg-12">
                        <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': displayNameEn.invalid && (displayNameEn.dirty || displayNameEn.touched)}">
                          <input class="form-control" formControlName="displayNameEn" myNoSpaces maxlength="255" data-msg-containerid='displayNameEnEnError' id="displayNameEn" name="displayNameEn" type="text">

                          <label class="e-float-text e-label-top" for="displayNameEn">Display Name [English] <span class="mant-red">*</span></label>
                        </div>
                        <div style="display:none;" id="displayNameEnError" [style.visibility]='((displayNameEn.invalid && (displayNameEn.dirty || displayNameEn.touched)) || (displayNameEn.invalid && submitClicked))? "visible": "hidden"'>
                          <label class="e-error" id="displayNameEn-info" style="display: block;">*Display Name is required</label>
                        </div>
                      </div>

                      <div class="form-group col-lg-12">
                        <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': displayNameAr.invalid && (displayNameAr.dirty || displayNameAr.touched)}">
                          <input class="form-control" formControlName="displayNameAr" myNoSpaces maxlength="255" data-msg-containerid='displayNameArError' id="displayNameAr" name="displayNameAr" type="text">

                          <label class="e-float-text e-label-top" for="displayNameAr">Display Name [Arabic] <span class="mant-red">*</span></label>
                        </div>
                        <div style="display:none;" id="displayNameArError" [style.visibility]='((displayNameAr.invalid && (displayNameAr.dirty || displayNameAr.touched)) || (displayNameAr.invalid && submitClicked))? "visible": "hidden"'>
                          <label class="e-error" id="displayNameAr-info" style="display: block;">*Display Name is required</label>
                        </div>
                      </div>
                      <div class="form-group col-lg-12">
                        <div class="e-float-input e-control-wrapper">
                          <input class="form-control" formControlName="firstname" maxlength="255" data-msg-containerid='firstnameEnError' id="firstname" name="firstname" type="text">
                          <label class="e-float-text e-label-top" for="firstname">First Name</label>
                        </div>
                      </div>
                      <!--<div class="form-group col-lg-12">
                        <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': emailId.invalid && (emailId.dirty || emailId.touched)}">
                          <input class="form-control" type="email" disabled data-email-message="Please enter valid email address." formControlName="emailId" maxlength="255" data-msg-containerid='emailIdEnError' id="emailId" name="emailId">
                          <label class="e-float-text e-label-top" for="emailId">Email Id</label>
                        </div>
                        <div style="display:none;" id="emailIdEnError" [style.visibility]='((emailId.invalid && (emailId.dirty || emailId.touched)) || (emailId.invalid && submitClicked))? "visible": "hidden"'>
                          <label class="e-error" id="emailId-info" style="display: block;">Please enter valid email address.</label>
                        </div>
                      </div>-->
                      <!--<div class="form-group col-lg-12">
                        <div class="e-float-input e-control-wrapper">
                          <input class="form-control" formControlName="divisionName" disabled myNoSpaces maxlength="500" data-msg-containerid='divisionName' id="divisionName" name="divisionName" type="text">
                          <label class="e-float-text e-label-top" for="divisionName">Division</label>
                        </div>

                      </div>-->
                      <div class="form-group col-lg-12">
                        <div class="e-float-input e-control-wrapper">
                          <input class="form-control" formControlName="lastname"  maxlength="255" data-msg-containerid='lastnameEnError' id="lastname" name="lastname" type="text">
                          <label class="e-float-text e-label-top" for="lastname">Last Name</label>
                        </div>
                      </div>

                      <div class="col-lg-12 align-bottom">
                        <div class="pull-right">
                          <button class="btn btn-white mar-10 btn-sm p-btn" (click)="RedirectToHome()">Back</button>
                          <button class="btn btn-info btn-sm p-btn" (click)="ValidateForm()">Save</button>
                        </div>
                      </div>


                    </div>
                    <div class="col-lg-4">


                      <!--<div class="form-group col-lg-12">
                        <div class="e-float-input e-control-wrapper">
                          <input class="form-control" formControlName="lastname" disabled maxlength="255" data-msg-containerid='lastnameEnError' id="lastname" name="lastname" type="text">
                          <label class="e-float-text e-label-top" for="lastname">Last Name</label>
                        </div>
                      </div>-->
                      <!--<div class="form-group col-lg-12">
                        <div class="e-float-input e-control-wrapper">
                          <input class="form-control" formControlName="designationEn" disabled maxlength="255" data-msg-containerid='designationEnEnError' id="designationEn" name="designationEn" type="text">
                          <label class="e-float-text e-label-top" for="designationEn">Designation Name [English]</label>
                        </div>
                      </div>

                      <div class="form-group col-lg-12">
                        <div class="e-float-input e-control-wrapper">
                          <input class="form-control" formControlName="designationAr" disabled maxlength="255" data-msg-containerid='designationArError' id="designationAr" name="designationAr" type="text">
                          <label class="e-float-text e-label-top" for="designationAr">Designation Name [Arabic]</label>
                        </div>
                      </div>-->



                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

</div>

<div class="clearfix"></div>
<app-footer></app-footer>
