html {
  scroll-behavior: smooth;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

#userselUno .e-ddl-icon {
  pointer-events: none !important;
}

.overlay {
  background-color: rgba(0,0,0,0.1);
  z-index: 2;
  cursor: none;
  pointer-events: none;
}

.inner-gf {
  float: left;
  margin-left: 40px;
}

.table th {
  background: #41a2c5;
  color: #fff;
  font-weight: normal;
}

.mar5px {
  margin: 5px;

}

#accordionMeeting #agenta-table .inner-sub-table thead th {
  background: #f28b2e !important;
}

#agenta-table tbody tr:nth-of-type(odd),
#agenta-table tbody tr {
  background-color: #eff2f3;
}

#agenta-table .inner-sub-table tbody tr:nth-of-type(odd),
#agenta-table .inner-sub-table tbody tr {
  background-color: #e7ebec;
}


ul.attached-document-list li {
  list-style-type: none;
  float: left;
  text-align: center;
  width: 100px;
}

ul.attached-document-list {
  padding-left: 0;
  margin-left: 0
}

ul.attached-document-list li h5 {
  width: 100%;
  float: left;
  text-align: center;
  border-bottom: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.outlook-load {
  text-align: center;
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(188, 188, 194, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(188, 188, 194, 1);
  box-shadow: 0px 0px 5px 0px rgba(188, 188, 194, 1);
}

.user-name-agenda {
  /*text-overflow: ellipsis;
  overflow: hidden;*/
  width: 200px;
  /*white-space: nowrap;*/
  display: inline-block;
}

.round-btn {
  border-radius: 50% !important;
  width: 45px;
  height: 45px;
  text-align: center;
  margin: 7px !important;
}

.blue-border-bottom {
  /*border-bottom: 1px solid #41a2c5;*/
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#attendeeDialog ul {
  padding-left: 0;
}
#attendeeDialog ul.comment-list li .comment-title {
    color: #41a2c5;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
#attendeeDialog ul.comment-list li {
    list-style-type: none;
    background-color: #f9f9f9;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
#outlook-popup-n .ol-up-name {
  float:left;
  width:100%;
}
#outlook-popup-n .olup-name {
  height: auto;
  line-height:20px;
}
#outlook-popup-n .ol-main-wrap {
  margin: 10px;
}
#outlook-popup-n .ol-up-time, .ol-up-time-g, #outlook-popup-n .ol-up-title {
  margin-bottom: 0;
}


#btnContainer {
  width: 92%;
  height: 90px;
  border: 1px solid #ddd;
  /*-webkit-box-shadow: inset 0px 0px 13px 1px rgba(204,204,204,1);
  -moz-box-shadow: inset 0px 0px 13px 1px rgba(204,204,204,1);
  box-shadow: inset 0px 0px 13px 1px rgba(204,204,204,1);*/
  overflow-x: scroll;
  overflow-y: hidden;
  margin: auto;
  position: relative;
  padding: 10px 20px;
  scroll-behavior: smooth;
  margin-bottom: 20px;
  border-radius: 0;
}

  #btnContainer::-webkit-scrollbar {
    width: 0 !important;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
#slideLeft {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.7rem 0.5rem;
  outline: 0;
  border: 1px solid #ddd;
  cursor: pointer;
  z-index: 9;
}
  #slideLeft i, #slideRight i {
    font-size: 2rem;
    color:#ccc;
  }
#slideRight {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.7rem 0.5rem;
  outline: 0;
  border: 1px solid #ddd;
  cursor: pointer;
  z-index:9;
}
.e-radio-wrapper
{
    margin-right:20px;
}
#btn-content {
  width: 1750px;
}
  #btn-content span {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
.e-multiselect {
    margin-top:0!important;
}
.attendees-check {
    position:absolute;
    bottom:0;
}
  .attendees-check {
      font-size:12px;
  }
.dc-width {
  /*width: 860px;*/
  width:100%;
}
#outlook-popup-n .ol-up-main-title {
  font-weight: bold;
  color: #0079C1;
  white-space: normal!important;
}
#outlook-popup-n .ol-up-name {
  float: left;
  width: 100%;
  white-space: normal !important;
}
.circle-border-style {
  background-color: #fff;
  border: 2px solid #FFF;
  border-radius: 18px;
  box-shadow: 0 2px 2px 2px #ccc;
  height: 35px;
  width: 35px;
}

  .circle-border-style span {
    color: #333;
    padding: 0 7px;
    line-height: 33px;
    text-align: center;
    width: 100%;
    font-size: 1rem;
  }
#agenda-details-list h6 {
  font-size: 0.87rem;
  color: #333;
  margin-bottom: 0;
  margin-top:10px;
}
#agenda-details-list .list-group, #agenda-details-list .list-group-item {
  border: none !important;
  background-color:transparent;
}
#agenda-details-list h5 {
  font-size: 0.87rem;
  color: #777;
  margin-bottom: 10px;
  margin-top: 0;
}
.ad-list-border {
border-bottom:1px solid #333;
padding-bottom:10px;
margin-bottom:10px;
}
#agenda-details-list p {
  font-size: 1rem;
  color: #777;
  margin-bottom: 10px;
  font-weight: bold;
}
  #agenda-details-list h4 {
  font-size: 0.87rem;
  color: #777;
  margin-bottom: 10px;
  /*display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 17px;
  margin: 0 auto;
  line-height: 1.2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;*/
}
.accv-title {
  padding-left: 30px;
}

.accv-note {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  z-index: 9;
}

.accv-right {
  float: right;
  font-size: 12px;
  line-height: 30px;
  width:100%;
  text-align:right;
  border-bottom:1px solid #eee;
}

  .accv-right .div-bar {
    color: #ccc;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
  }

  .accv-right .accv-right-user {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 400px;
    font-weight: normal;
    color: #000;
    display: inline-block;
    float: right;
  }
.tagcloud ul .accv-note {
  top: 2px;
}

.tagcloud ul {
  padding: 0;
  width: 100%;
  margin: 0;
}

.tagcloud {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

  .tagcloud li {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
  }
  .tagcloud .fa-circle-o:before {
    color: #666 !important;
  }
  .tagcloud a {
    position: relative;
    list-style: circle;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 2px 5px;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
  }

  /*.tagcloud li a:before {
  content: "\f10c";
  font-family: 'FontAwesome';
  font-size: 8px;
  padding-right: 7px;
  left: -8px;
  position: absolute;
}*/

  .tagcloud li:after {
    content: "";
    /*transform: rotate(90deg);*/
    font-size: 10px;
    padding-right: 6px;
    left: 10px;
    position: absolute;
    top: 15px;
    height:100%;
    border-left:1px dashed #ccc;
  }
#sa-acc .collapse-accordion .card a[data-toggle=collapse] {
  display: block;
  padding: .75rem 1.25rem;
}

#sa-acc .collapse-accordion .card-header {
  padding: 0;
}
#sa-acc .card-header {
    border:1px solid #ddd;
    padding:10px;
}
#sa-acc .card-header a {
  padding-right: 30px;
}
#sa-acc .card-header a:after {
  font-family: 'FontAwesome';
  content: "\f077";
  float: right;
  font-size: 14px;
  position:absolute;
  top:10px;
  right:10px;
}



.e-accordion .e-acrdn-item.e-select > .e-acrdn-header:hover .e-acrdn-header-content, .e-accordion .e-acrdn-item.e-select > .e-acrdn-header:focus .e-acrdn-header-content {
  text-decoration: none;
}

#sa-acc .card-header a.collapsed:after {
  content: "\f078";
  font-size: 14px;
}
.tagcloud ul li i.fa-list-alt {
  position: absolute;
  left: 0;
  top: 8px;
  background: #fff;
  padding-bottom: 2px;
}
.tagcloud ul li a.text-info {
  padding-left:30px;
}

@media screen and (max-width: 1334px) {
  .attendees-check {
    position: relative;
  }
}
  @media (max-width: 767px) {
    .table-

    onsive .dropdown-menu {
    position: static !important;
  }
}

@media (min-width: 768px) {
  .table-responsive {
    overflow: visible;
  }
}
