<app-header></app-header>

<div class="container-fluid">
  <div class="col-lg-12 mat-100 middle-content-hgt">
    <div class="row">
      <!-- Breadcrumbs-->
      <div class="col-lg-12">
        <ol class="breadcrumb breadcrumb-arrow">
          <li><a [routerLink]="'/dashboard'"><i class="fa fa-fw fa-home"></i></a></li>
          <li><a (click)="backClick()">{{pageType == 'ATTENDANCE'? 'Digital Attendence' : pageType == 'TBD'?'TBT':'Meeting Minutes'}}</a></li>
          <li class="active"><span>{{GeneralInfoData.momNoAtd==''?'Add':'Edit'}}</span></li>
        </ol>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="accordion mt-3" id="accordionMeeting">

          <!-- General Details Start-->
          <div class="card">
            <div class="row">
              <div class="col-12 card-body pb-0">
                <div class="bb-1 clearfix">
                  <div class="pull-left">
                    <h6><i class="fa fa-handshake-o fa-lg"></i> General Info</h6>
                  </div>
                  <div class="pull-right">
                    <span class=" btn btn-sm bg-light border-light mar5px" *ngIf="GeneralInfoData.momNoAtd!=''">
                      {{GeneralInfoData.momNoAtd}}
                    </span>
                    <a (click)="openOutlookDialog(0)" title="Outlook Appointment" class="btn btn-sm btn-blue mar5px"
                       *ngIf="GeneralInfoData.momNoAtd==''" style="color:#fff">
                      <img src="assets/img/mail-sync-icon-small.png" alt="mail sync"  width="21" />
                      
                    </a>

                    <button class="btn btn-sm btn-default border-info mar5px p-btn" (click)="backClick()">
                      Back
                    </button>
                    <button class="btn btn-sm btn-info mar5px p-btn" (click)="onClickGeneralInfo()">
                      <!--{{GeneralInfoData.momNoAtd!=''?'Save':'Submit'}}-->
                      Save
                    </button>

                    <button *ngIf="GeneralInfoData.momNoAtd!='' && GeneralInfoData.approvalStatus!='Published'" class="btn btn-sm btn-primary mar5px p-btn" (click)="loadPublish()">
                      Publish
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="collapse show wall" *ngIf="!show || enableEdit">
              <div class="card bg-light mb-3">
                <div class="card-body">

                  <form [formGroup]="generalInfoAtd">
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for=""> Meeting Type <small class="error-txt pt-1">*</small></label>
                          <ejs-dropdownlist id="meetingTypeUno" formControlName="meetingTypeUno"
                                            [dataSource]='meetingTypeUno_data'
                                            [ngClass]="{ 'is-invalid': (f.meetingTypeUno.errors) && (submitted || f.meetingTypeUno.touched) }"
                                            [fields]="{text: 'meetingName', value: 'meetingTypeUno' }" floatLabelType='Always'
                                            [allowFiltering]='true' (filtering)='onFiltering_MeetingType($event)'>
                          </ejs-dropdownlist>
                          <div *ngIf="(generalInfoAtd.controls.meetingTypeUno.status=='INVALID')&& (submitted || generalInfoAtd.controls.meetingTypeUno.touched)"
                               class="error-txt p-1">
                            <div>Select Meeting Type</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="">Subject <small class="error-txt pt-1">*</small></label>
                          <input class="form-control" type="text" id="subjectAtd" formControlName="subjectAtd" [ngClass]="{ 'is-invalid': (f.subjectAtd.errors) && (submitted || f.subjectAtd.touched)
                     }" placeholder="Subject">
                          <div *ngIf="(generalInfoAtd.controls.subjectAtd.status=='INVALID')&& (submitted || generalInfoAtd.controls.subjectAtd.touched)"
                               class="error-txt p-1">
                            <div>Enter Subject</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for=""> Meeting Location</label>
                          <ejs-dropdownlist id="locationUno" formControlName="locationUno" (change)="locationChange()"
                                            #locationUno [fields]="{text: 'locationName', value: 'locationUno' }"
                                            [dataSource]='locationUno_data' floatLabelType='Always' [allowFiltering]='true'
                                            (filtering)='onFiltering_Location($event)'>
                          </ejs-dropdownlist>

                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="">Meeting Room</label>
                          <ejs-autocomplete id='meetingRoom' formControlName="meetingRoom" #meetingRoom
                                            [dataSource]='meetingRoomUno_data'
                                            [fields]="{text: 'meetingRoomName', value: 'meetingRoomName' }">
                          </ejs-autocomplete>


                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Meeting Date <small class="error-txt pt-1">*</small></label>
                          <ejs-datepicker format='dd/MM/yyyy' [max]='maxDate' formControlName="meetingDateAtd" [ngClass]="{ 'is-invalid': (f.meetingDateAtd.errors) && (submitted || f.meetingDateAtd.touched)
                       }" placeholder='Enter date'>
                          </ejs-datepicker>
                          <div *ngIf="(generalInfoAtd.controls.meetingDateAtd.status=='INVALID')&& (submitted || generalInfoAtd.controls.meetingDateAtd.touched)"
                               class="error-txt p-1">
                            <div>Select Meeting Date</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Start Time <small class="error-txt pt-1">*</small></label>
                          <ejs-timepicker formControlName="startTimeAtd" [min]="minStartDateTime" [allowEdit]="false"
                                          [ngClass]="{ 'is-invalid': (f.startTimeAtd.errors) && (submitted || f.startTimeAtd.touched) }"
                                          placeholder='Start Time' step='30'>
                          </ejs-timepicker>
                          <div *ngIf="(generalInfoAtd.controls.startTimeAtd.status=='INVALID')&& (submitted || generalInfoAtd.controls.startTimeAtd.touched)"
                               class="error-txt p-1">
                            <div>Select Start Time</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="exampleInputEmail1">End Time <small class="error-txt pt-1">*</small></label>
                          <ejs-timepicker formControlName="endTimeAtd" placeholder='End Time' [min]="minStartDateTime" [allowEdit]="false"
                                          [ngClass]="{ 'is-invalid': (f.endTimeAtd.errors) && (submitted || f.endTimeAtd.touched) }"
                                          step='30'>
                          </ejs-timepicker>
                          <div *ngIf="(generalInfoAtd.controls.endTimeAtd.status=='INVALID')&& (submitted || generalInfoAtd.controls.endTimeAtd.touched)"
                               class="error-txt p-1">
                            <div>Select End Time</div>
                          </div>
                          <div *ngIf="getErrorStatus()"
                               class="error-txt p-1">
                            <div>End time must be greater than start time</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <!--<label for="exampleInputEmail1" *ngIf="!show || GeneralInfoData.enteredBy==login_UserID">Signature</label><br />
                          <a (click)="openMainSignatureDialog()" *ngIf="!show || GeneralInfoData.enteredBy==login_UserID" title="Add Signature">
                            <img src="assets/img/pen-icon.png" alt="signature" width="30" />
                          </a>-->
                          <a (click)="openAttendeeList()" *ngIf="MeetingAttendeeList && MeetingAttendeeList.length>0"
                             title="Attendees">
                            <i class="fa fa-group text-info  pull-right fa-2x mal-20"></i>
                          </a>

                          <a (click)="openOutlookFileList()" *ngIf="outlookFileList && outlookFileList.length>0"
                             title="Documents">
                            <i class="fa fa-paperclip text-info pull-right fa-2x mal-20"></i>
                          </a>

                          <a (click)="openOutlookAgendaList()" *ngIf="outlookAgendaList && outlookAgendaList.length>0"
                             title="Meeting Discussions">
                            <i class="fa fa-list-alt text-info pull-right fa-2x mal-20"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>


              </div>
            </div>
          </div>

          <div class="card bg-light" *ngIf="show && !enableEdit">
            <div class="row mab-10 ">
              <div class="col-12 card-body pb-0">
                <div class="clearfix col-lg-12">
                  <div class="col-lg-12">

                    <h6 class="row">
                      <span class="col-lg-10 no-padding">
                        {{GeneralInfoData.subjectAtd}}
                        <i class="fa fa-lock text-danger mal-10" title="Published" *ngIf="GeneralInfoData.approvalStatus=='Published'"></i>
                        <i class="fa fa-unlock text-success mal-10" title="Not Published" *ngIf="GeneralInfoData.approvalStatus!='Published'"></i>
                      </span>
                      <span class="col-lg-2 no-padding">
                        <span class="pull-right">
                          <button class="btn text-info  mar5px" title="edit" (click)="enableEdit=true">
                            <i class="fa fa-lg fa-edit"></i>
                          </button>
                        </span>
                      </span>
                    </h6>

                  </div>
                  <div class="col-lg-12 pab-10">
                    <div class="row mab-10">
                      <div class="inner-gf">
                        <i class="fa fa-group mar-10"></i> {{GeneralInfoData.meetingName}}
                      </div>
                      <div class="inner-gf">
                        <i class="fa fa-map-marker mar-10"></i> {{GeneralInfoData.locationName}}
                      </div>
                      <div class="inner-gf">
                        <i class="fa  fa-building-o mar-10"></i> {{GeneralInfoData.meetingRoomName}}
                      </div>
                      <div class="inner-gf">
                        <i class="fa fa-calendar-o mar-10"></i>{{GeneralInfoData.fMeetingDateAtd | date:'dd/MM/yyyy'}}
                      </div>
                      <div class="inner-gf">
                        <i class="fa fa-clock-o mar-10"></i> {{GeneralInfoData.fStartTimeAtd |timeFormat}}
                        - {{GeneralInfoData.fEndTimeAtd |timeFormat}}
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- Attendee Details Start-->
          <div class="card" *ngIf="show">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-block text-left btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <i class="fa fa-users fa-lg"></i> Attendees
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionMeeting">
              <div class="card-body">
                <form [formGroup]="attendeesFormAtd">
                  <div class="row">
                    <div class="col-12">
                      <div class="col-12 pl-0" *ngIf="!hideAddSectionAtd">
                        <h6>
                          Select User Group
                        </h6>
                        <ul class="nav nav-pills custom-tab-user mb-3" id="pills-tab" role="tablist">
                          <li class="nav-item text-center mr-2">
                            <a class="nav-link active" id="pills-internal-tab" (click)="tabClick(true)" data-toggle="pill"
                               href="#pills-internal" role="tab" aria-controls="pills-home" aria-selected="true">
                              <i class="fa fa-2x fa-user-o text-secondary"></i>
                              <div class="text-secondary">Internal Attendee </div>
                            </a>
                          </li>
                          <li class="nav-item text-center">
                            <a class="nav-link" id="pills-external-tab" (click)="tabClick(false)" data-toggle="pill"
                               href="#pills-external" role="tab" aria-controls="pills-profile" aria-selected="false">
                              <i class="fa  fa-2x fa-users text-secondary"></i>
                              <div class="text-secondary">External Attendee </div>
                            </a>
                          </li>
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-internal" role="tabpanel"
                               aria-labelledby="pills-internal-tab">
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label for="exampleFormControlSelect1">
                                    Select Attendee <small class="error-txt pt-1">*</small>
                                  </label>
                                  <!--<ejs-dropdownlist id="userselUno" formControlName="userselUno" #userselUno filterBarPlaceholder="Search by Name/PR Number" itemsCount="10"
                                                    [ngClass]="{ 'is-invalid': submitted && p.userselUno.errors }" loadOnDemand="true" allowVirtualScrolling="true"
                                                    [dataSource]='userselUno_data' [fields]="{text: 'fullAttendeeName', value: 'userselUno' }"
                                                    floatLabelType='Always' [allowFiltering]='true'
                                                    (filtering)='onFiltering_Internal($event)'>



                                  </ejs-dropdownlist>-->
                                  <ejs-combobox id='userselUno' (filtering)='onFiltering_Internal($event)' formControlName="userselUno" #userselUno [ignoreAccent]='true' [allowFiltering]='true' [dataSource]='userselUno_data' [fields]="{text: 'fullAttendeeName', value: 'userselUno' }" placeholder='Search by Name/PR Number' popupHeight='250px'></ejs-combobox>


                                  <div *ngIf="(attendeesFormAtd.controls.userselUno.status=='INVALID')&& (submitted || attendeesFormAtd.controls.userselUno.touched)"
                                       class="error-txt p-1">
                                    <div>Select User</div>
                                  </div>
                                </div>

                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <button class="btn btn-sm btn-primary mat-30" (click)="onClickAttendees()">
                                    Add Attendees
                                  </button>
                                </div>

                              </div>


                            </div>
                          </div>
                          <div class="tab-pane fade" id="pills-external" role="tabpanel" aria-labelledby="pills-external-tab">
                            <div class="row">
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label for="Name">Name <small class="error-txt pt-1">*</small></label>
                                  <input class="form-control" type="text" id="nameAtd" formControlName="nameAtd"
                                         [ngClass]="{ 'is-invalid': submitted && p.nameAtd.errors }"
                                         aria-describedby="Inputdescription" placeholder="Name">
                                  <div *ngIf="(attendeesFormAtd.controls.nameAtd.status=='INVALID')&& (submitted || attendeesFormAtd.controls.nameAtd.touched)"
                                       class="error-txt p-1">
                                    <div>Enter Name</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label for="Inputcompany">Organization <small class="error-txt pt-1">*</small></label>
                                  <input class="form-control" type="text" id="companyAtd" formControlName="companyAtd"
                                         [ngClass]="{ 'is-invalid': submitted && p.companyAtd.errors }"
                                         aria-describedby="Inputdescription" placeholder="Organization">
                                  <div *ngIf="(attendeesFormAtd.controls.companyAtd.status=='INVALID')&& (submitted || attendeesFormAtd.controls.companyAtd.touched)"
                                       class="error-txt p-1">
                                    <div>Enter the Organization </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="form-group">
                                  <label for="Inputemailid">Email <small class="error-txt pt-1">*</small></label>
                                  <input class="form-control" type="email" id="emailAtd" formControlName="emailAtd"
                                         [ngClass]="{ 'is-invalid': submitted && p.emailAtd.errors }"
                                         aria-describedby="Inputdescription" placeholder="Email" email=true>
                                  <div *ngIf="(attendeesFormAtd.controls.emailAtd.status=='INVALID' &&
                              attendeesFormAtd.value.emailAtd=='')&& (submitted ||
                              attendeesFormAtd.controls.emailAtd.touched)" class="error-txt p-1">
                                    <div>Enter Email</div>
                                  </div>
                                  <div class="error-txt p-1" *ngIf="(attendeesFormAtd.controls.emailAtd.status=='INVALID' && attendeesFormAtd.controls.emailAtd.value!=''
                            )&& (submitted ||
                            attendeesFormAtd.controls.emailAtd.touched)">
                                    Invalid email address
                                  </div>
                                </div>
                              </div>
                              <div class=" col-sm-2">
                                <div class="form-group">
                                  <label for="Inputdcontact">Contact No </label>
                                  <input class="form-control quantity" type="number" id="contactAtd"
                                         formControlName="contactAtd" aria-describedby="Inputdescription" placeholder="Contact">

                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="form-group">
                                  <div class="pt-1 pl-0">
                                    <button class="btn btn-sm btn-primary mat-30" *ngIf="!isEditAttendee" (click)="onClickAttendees()">
                                      Add Attendees
                                    </button>
                                    <button class="btn btn-sm btn-primary mat-30" *ngIf="isEditAttendee" (click)="onClickAttendees()">
                                      Update Attendees
                                    </button>
                                    <button class="btn btn-sm btn-primary mal-10 mat-30" *ngIf="isEditAttendee" (click)="tabClick(false)">
                                      Cancel
                                    </button>

                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-12 text-right pull-right" *ngIf="hideAddSectionAtd">
                          <div class="form-group">
                            <button class="btn btn-sm btn-primary " (click)="enableAddAttendee()">
                              Add Attendees
                            </button>
                          </div>

                        </div>
                        <div class="col-12">
                          <div class="control-section grid-type ">
                            <div class="table-responsive">
                              <table class="table grid-table-view" id="Attendees-table">
                                <thead>
                                  <tr class="table-header-bg">
                                    <th scope="col">S.No</th>
                                    <th scope="col" width="120">PR #</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Organization</th>
                                    <th scope="col">Email</th>
                                    <th class="text-center" scope="col">Attendance</th>
                                    <th class="text-center" scope="col">Apologize Reason</th>
                                    <th class="text-center" scope="col" *ngIf="pageType=='MEETING'">Role</th>
                                    <th class="text-center" scope="col">Signature</th>
                                    <th class="text-center" scope="col">
                                      Action
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let Attendee of Attendees_data; let AttendeeIndex = index;">
                                    <td> {{AttendeeIndex+1}} </td>
                                    <td width="120">{{Attendee.prNumberAtd}}</td>
                                    <td> {{Attendee.nameAtd}}</td>

                                    <td>{{Attendee.companyAtd}}</td>
                                    <td>{{Attendee.emailAtd}}</td>
                                    <td class="text-center">
                                      <div class="btn-group">
                                        <a class="dropdown-toggle" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                          <span *ngIf="Attendee.status=='Present'" title="Present"
                                                class="bg-success mt-1 w-25 pl-4 pr-4 p-1 float-left" style="height:25px"></span>
                                          <span *ngIf="Attendee.status=='Absent'" title="Absent"
                                                class="bg-danger mt-1 w-25 pl-4 pr-4 p-1 float-left" style="height:25px"></span>
                                          <span *ngIf="Attendee.status=='Late'" title="Late"
                                                class="bg-db mt-1 w-25 pl-4 pr-4 p-1 float-left" style="height:25px"></span>

                                          <span *ngIf="Attendee.status=='Apologized'" title="Apologized"
                                                class="bg-warning mt-1 w-25 pl-4 pr-4 p-1 float-left" style="height:25px"></span>
                                          <span *ngIf="Attendee.status=='Apologize'" title="Apologized"
                                                class="bg-warning mt-1 w-25 pl-4 pr-4 p-1 float-left" style="height:25px"></span>

                                        </a>




                                        <div class="dropdown-menu  custom-size">
                                          <a class="dropdown-item  border-bottom"
                                             (click)="UpdateAttendees('attendance','Present',Attendee)">
                                            <i class="fa fa-stop text-success"></i> Present
                                          </a>
                                          <a class="dropdown-item  border-bottom"
                                             (click)="UpdateAttendees('attendance','Absent',Attendee)">
                                            <i class="fa fa-stop text-danger"></i> Absent
                                          </a>
                                          <a class="dropdown-item  border-bottom" (click)="UpdateAttendees('attendance','Late',Attendee)">
                                            <i class="fa fa-stop text-db"></i> Late
                                          </a>
                                          <a class="dropdown-item"
                                             (click)="Attendee.status='Apologize';">
                                            <i class="fa fa-stop text-warning"></i>
                                            Apologized
                                          </a>
                                        </div>
                                      </div>
                                    </td>
                                    <td class="text-center">
                                      <div *ngIf="Attendee.status=='Apologize' " style="width:300px;" class="position-relative col-lg-12 no-padding">

                                        <textarea placeholder="Enter apologize reason" style="width:290px;" [(ngModel)]="Attendee.apologizedReason" [ngModelOptions]="{standalone: true}"></textarea>
                                        <a class="mar5px attendees-check" (click)="UpdateAttendees('attendance','Apologized',Attendee)">
                                          <i class="fa btn btn-sm btn-primary fa-check pull-right"></i>
                                        </a>


                                      </div>
                                      <div style="max-width:300px;" *ngIf="Attendee.status=='Apologized' " [title]="Attendee.apologizedReason">  {{Attendee.apologizedReason}}</div>
                                    </td>
                                    <td class="text-center" *ngIf="pageType=='MEETING'">

                                      <div class="btn-group">
                                        <button type="button" class="dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                          <img src="assets/img/attendee.png" *ngIf="Attendee.role=='Attendee'" title="Attendee" width="30" />
                                          <img src="assets/img/approver.png" *ngIf="Attendee.role=='Approver'" title="Approver" width="30" />
                                          <img src="assets/img/reviewer.png" *ngIf="Attendee.role=='Reviewer'" title="Reviewer" width="30" />
                                          <img src="assets/img/organizer.png" *ngIf="Attendee.role=='Organizer'" title="Organizer" width="30" />
                                          <img src="assets/img/guest.png" width="30" *ngIf="Attendee.role=='Guest'" title="Guest" />
                                        </button>
                                        <div class="dropdown-menu custom-size" *ngIf="(Attendee.prNumberAtd!=null && Attendee.prNumberAtd!='')
                                    && GeneralInfoData.approvalStatus!='Published' ">
                                          <a class="dropdown-item border-bottom" (click)="UpdateAttendees('role','Attendee',Attendee)">
                                            <img src="assets/img/attendee.png" width="30" />
                                            Attendee
                                          </a>
                                          <a class="dropdown-item border-bottom" (click)="UpdateAttendees('role','Approver',Attendee)">
                                            <img src="assets/img/approver.png" width="30" />
                                            Approver
                                          </a>
                                          <a class="dropdown-item border-bottom" (click)="UpdateAttendees('role','Reviewer',Attendee)">
                                            <img src="assets/img/reviewer.png" width="30" />
                                            Reviewer
                                          </a>
                                          <a class="dropdown-item border-bottom" (click)="UpdateAttendees('role','Organizer',Attendee)">
                                            <img src="assets/img/organizer.png" width="30" />
                                            Organizer
                                          </a>
                                          <a class="dropdown-item" (click)="UpdateAttendees('role','Guest',Attendee)">
                                            <img src="assets/img/guest.png" width="30" />
                                            Guest
                                          </a>
                                        </div>
                                      </div>
                                    </td>
                                    <td class="text-center">
                                      <a (click)="openSignatureDialog(Attendee)">
                                        <img *ngIf="Attendee.signImage==null ||Attendee.signImage=='' "
                                             src="assets/img/pen-icon.png" title="Add Signature" alt="signature" width="20" />
                                        <img *ngIf="Attendee.signImage!=null &&Attendee.signImage!='' "
                                             src={{Attendee.signImage}} alt="signature" width="90" />
                                      </a>
                                    </td>
                                    <td class="text-center">
                                      <a class="text-info ng-star-inserted" data-toggle="pill"
                                         href="#pills-external" role="tab" *ngIf="(Attendee.prNumberAtd==null || Attendee.prNumberAtd=='')" style="cursor:pointer !important;" title="edit" (click)="editAttendee(Attendee);"><i class="fa fa-edit fa-lg mar5px"></i></a>
                                      <a class="text-danger" title="delete"
                                         (click)="delAttendeesAtd(Attendee.attendeesUnoAtd)"
                                         style="cursor:pointer !important;">
                                        <i class="fa fa-trash fa-lg"></i>
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="col-lg-12 text-center" *ngIf="Attendees_data && Attendees_data.length==0">
                              <div class="row">
                                <div class="no-data-home">
                                  <i class="fa fa-files-o"></i>
                                  <h5>No Data Found</h5>
                                </div>
                              </div>
                            </div>


                            <div class="col-lg-12 pointer text-center" *ngIf="!disableMoreAtd">
                              <a class=" text-info pointer" (click)="loadAttendesAtd()">
                                <i class="fa fa-refresh "></i> Show
                                More...
                              </a>
                            </div>
                          </div>
                        </div>



                      </div>
                    </div>
                  </div>
                </form>
              </div>


            </div>
          </div>


          <!-- Agenda Details Start-->
          <div class="card" *ngIf="show && pageType=='MEETING'">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-block text-left btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <i class=" fa fa-list-alt fa-lg"></i> Meeting Discussions
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionMeeting">
              <div class="card-body" id="agenta-new-acc">

                <form [formGroup]="agendaForm">
                  <div class="row">
                    <div class="col-lg-10">
                      <div class="form-group">
                        <label for="Name">Discussion Points</label>

                        <textarea type="text" formControlName="note" class="form-control "
                                  [ngClass]="{ 'is-invalid': submittAgenda && a.note.errors }" placeholder="Discussion Points"></textarea>

                        <div *ngIf="submittAgenda && a.note.errors" class="invalid-feedback">
                          <div *ngIf="a.note.errors.required">Enter Discussion Points</div>
                        </div>
                      </div>
                    </div>


                    <div class="col-lg-2">
                      <div>
                        <div class="pt-1 pl-0">

                          <button class="btn btn-primary pull-right btn-sm mar5px note-add-btn" (click)="onAgendaAdd()">
                            <i class="fa fa-plus"></i>
                            Add
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>

                <div *ngFor="let agenda of findMainAgenda(); let agendaIndex = index;">
                  <ejs-accordion expandMode='Single'>
                    <e-accordionitems>
                      <e-accordionitem [expanded]='agenda.expanded' [title]="agenda.note">
                        <ng-template #header>
                          <div class="agenda-h">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="ah-notes">
                                  {{agenda.note}}

                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-12" id="agenda-details-list">
                                <ul class="list-group">
                                  <li class="list-group-item justify-content-between px-0">
                                    <div class="row">
                                      <div class="image-parent latest-videos-thumb col-lg-1">
                                        <div class="circle-border-style"> <span>{{agenda.dueDate | date:'dd'}}</span> </div>
                                        <h6 class="mar5px">{{agenda.dueDate | date:'MMM'}}</h6>
                                      </div>
                                      <div class="flex-column col-lg-8">
                                        <div class="justify-content-start">
                                          <div class="mb-2">
                                            <span *ngIf="!agenda.isDueDate">
                                              <a title="Change Due Date"
                                                 style="cursor:pointer !important;" (click)="agenda.isDueDate=true">
                                                <i class="fa fa-calculator mal-10 "></i>
                                                <span class="mal-10">{{agenda.dueDate | date:'dd/MM/yyyy'}}</span>
                                                <i class="fa fa-pencil mal-10"></i>
                                              </a>
                                            </span>
                                            <ejs-datepicker *ngIf="agenda.isDueDate" placeholder='Enter date' [value]="agenda.dueDate | date:'dd/MM/yyyy'"
                                                            width="150px" format='dd/MM/yyyy'
                                                            (change)="onChangeDueDate(agenda,$event)">
                                            </ejs-datepicker>
                                          </div>
                                        </div>

                                        <div class="justify-content-start">
                                          <div class=" mb-2 ">

                                            <span *ngIf="!agenda.iReps">

                                              <a class="text-success" style="cursor:pointer !important;"
                                                 title="Change Responsibility" (click)="agenda.iReps=true;">
                                                <i class="fa fa-users  mal-10"></i>
                                                {{agenda.userName}}<span *ngIf="!agenda.userName ||agenda.userName=='' " class="mal-10">Responsibility</span>
                                                <i class="fa fa-pencil mal-10"></i>
                                              </a>
                                            </span>
                                            <span *ngIf="agenda.iReps" class="d-inline-flex">
                                              <ejs-multiselect *ngIf="agenda.iReps" id="responsibility" [value]="agenda.responsibility"
                                                               width="350px" [dataSource]='Attendees_List'
                                                               [fields]="{text: 'nameAtd', value: 'attendeesUnoAtd' }" floatLabelType='Always'
                                                               [allowFiltering]='true' (filtering)='onFiltering_Agenda($event)'
                                                               (change)="onChangeResponsibility(agenda,$event);agenda.iReps=false"></ejs-multiselect>
                                              <i class="fa fa-check fa-lg text-secondary mal-10 mat-10"></i>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="text-right col-lg-3">

                                        <span class="badge badge-pill badge-info">+{{findDetails(agenda).length}}</span>
                                        <a class="text-danger mar5px" title="delete" style="cursor:pointer !important;"
                                           (click)="agenda.expanded=false;onDeleteAgenda(agenda);">
                                          <i class="fa fa-lg  fa-trash "></i>
                                        </a>

                                        <a title="Edit" class="text-info mar5px pointer" (click)="editAgenda(agenda);agendaText='Discussion Points'">

                                          <i class="fa fa-edit fa-lg"></i>
                                        </a>
                                        <a class="text-info mar5px" style="cursor:pointer !important;" title="Add Sub Discussion"
                                           (click)="addSubAgenda(agenda);agenda.expanded=true">
                                          <i class="fa fa-lg fa-plus-circle "></i>
                                        </a>
                                      </div>
                                    </div>
                                  </li>


                                </ul>
                              </div>
                            </div>



                          </div>
                        </ng-template>
                        <ng-template #content>
                          <div *ngIf="!(agenda.isDueDate ||agenda.iReps)">
                            <div class="col-lg-12 no-padding ">

                              <div class="col-lg-12 tagcloud">
                                <ul>
                                  <li *ngFor="let subAgenda of findDetails(agenda); let subindex = index;">
                                    <a class=" text-info pointer">
                                      <!-- Create an icon wrapped by the fa-stack class -->
                                      <i class="fa fa-circle-o  text-info agenda-icon "></i>
                                      <span class="mar-20">{{subAgenda.note}}</span>
                                      <div class="accv-right">
                                        <span *ngIf="!subAgenda.isDueDate">
                                          <span class="pointer"
                                                title="change due date" (click)="subAgenda.isDueDate=true">
                                            {{subAgenda.dueDate | date:'dd/MM/yyyy'}}
                                          </span>
                                        </span>
                                        <ejs-datepicker *ngIf="subAgenda.isDueDate" placeholder='Enter date'
                                                        [value]="subAgenda.dueDate | date:'dd/MM/yyyy'" width="150px" format='dd/MM/yyyy'
                                                        (change)="onChangeDueDate(subAgenda,$event)">
                                        </ejs-datepicker>
                                        <strong class="div-bar">|</strong>
                                        <span *ngIf="!subAgenda.iReps">

                                          <span class="pointer" title="change responsibility" (click)="subAgenda.iReps=true">
                                            <i class="fa fa-users fa-lg mal-10"></i> {{subAgenda.userName}}
                                            <span *ngIf="!subAgenda.userName ||subAgenda.userName=='' " class="mal-10">Responsibility</span>

                                          </span>
                                        </span>
                                        <span *ngIf="subAgenda.iReps" class="mar-10 d-inline-flex" style="width:200px">
                                          <ejs-multiselect id="responsibility"
                                                           [allowFiltering]='true' (filtering)='onFiltering_Agenda($event)'
                                                           [value]="subAgenda.responsibility" width="200px" [dataSource]='Attendees_List'
                                                           [fields]="{text: 'nameAtd', value: 'attendeesUnoAtd' }" floatLabelType='Always'
                                                           (change)="onChangeResponsibility(subAgenda,$event)"></ejs-multiselect>
                                          <i class="fa fa-check fa-lg text-secondary mal-10 mat-10"></i>
                                        </span>
                                        <strong class="div-bar">|</strong>
                                        <span class=" pull-right mal-15"
                                              (click)="editAgenda(subAgenda);agendaText=agenda.note">
                                          <i class="fa fa-edit fa-lg" title="Edit"></i>
                                        </span>
                                        <span class="text-danger pull-right mal-15"
                                              (click)="onDeleteAgenda(subAgenda)">
                                          <i class="fa fa-trash fa-lg" title="delete"></i>
                                        </span>
                                      </div>

                                    </a>

                                  </li>

                                </ul>

                                <div class="col-lg-12 text-center no-padding" *ngIf="findDetails(agenda) && findDetails(agenda).length==0">
                                  <div class=" justify-content-center  no-margin no-padding">
                                    <div class="col-lg-12 mx-auto  no-padding no-data no-margin">
                                      <h5 class="text-center"><i class="fa fa-files-o mar-10"></i> No Data Found</h5>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>

                          </div>
                        </ng-template>
                      </e-accordionitem>

                    </e-accordionitems>
                  </ejs-accordion>
                </div>
              </div>
            </div>
          </div>


          <div class="card" *ngIf="show">
            <div class="card-header" id="headingsix">
              <h2 class="mb-0">
                <button class="btn btn-block text-left btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                  <i class="fa fa-comments-o fa-lg"></i> Discussion
                </button>
              </h2>
            </div>
            <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionMeeting">
              <div class="card-body">

                <div class="row">
                  <div class="col-lg-12 no-padding">
                    <div class="form-group">
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="commentText"
                                placeholder="Write your comments"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-auto mb-2">
                        <div class="float-left">
                          <ejs-radiobutton label="Self" name="Everyone" value="Self" (change)="commentType!='Self'?commentUsers=null:commentUsers=login_UserID" [(ngModel)]="commentType"></ejs-radiobutton>
                        </div>
                        <div class="float-left">
                          <ejs-radiobutton label="Everyone" name="Everyone" value="Everyone" [(ngModel)]="commentType"></ejs-radiobutton>
                        </div>
                        <div class="float-left">
                          <ejs-radiobutton label="Private" name="Everyone" value="Private" [(ngModel)]="commentType"></ejs-radiobutton>
                        </div>
                      </div>
                      <div class="col">
                        <div class="float-left w-100">

                          <ejs-multiselect *ngIf="commentType=='Private'" class="dc-width" [value]="commentUsers"
                                           [dataSource]='Attendees_List' (change)="onChangeUsers($event)"
                                           [fields]="{text: 'nameAtd', value: 'attendeesUnoAtd' }" floatLabelType='Always'
                                           [allowFiltering]='true' (filtering)='onFiltering_Agenda($event)'></ejs-multiselect>

                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="float-right mt-2">
                          <a class="btn btn-primary text-white btn-sm" (click)="AddComment()">
                            Add Comment
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <br />
              <div class="col-12">
                <ul class="comment-list" *ngFor="let cmtObj of commentList; let cmtIndex = index;">
                  <li>
                    <div class="col-lg-12 no-padding">
                      <div class="col-lg-12 no-padding comment-title">
                        <i class="fa fa-user-circle-o fa-lg mar-10"></i> {{cmtObj.userName}}
                        <a class="text-danger pull-right mal-10" style="cursor:pointer !important;"
                           (click)="delAtdComment(cmtObj.cmdId)" title="delete">
                          <i class="fa fa-trash"></i>
                        </a>
                        <small class="pull-right"> {{cmtObj.cmtDate | date:'dd/MM/yyyy'}} </small>
                        <small class="pull-right mal-10 mar-10" [title]="cmtObj.cmtUsers=='Self'?'':cmtObj.cmtUserName"> <i class="fa fa-users mal-5 mar-5"></i> {{cmtObj.cmtUsers}}&nbsp;&nbsp;&nbsp; | </small>
                      </div>
                      <div class="col-lg-12 no-padding">
                        <p> {{cmtObj.cmdText}}</p>

                      </div>
                    </div>
                  </li>
                </ul>
                <div class="col-lg-12 text-center text-info pointer" *ngIf="!disableMore">
                  <a class=" text-info pointer" (click)="loadAtdComment()">
                    <i class="fa fa-refresh mar5px "></i> Show
                    More...
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="card" *ngIf="show  && !isAtd">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-block text-left btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <i class="fa fa-paperclip fa-lg"></i> Documents
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionMeeting">
              <div class="card-body">
                <div class="col-lg-12 no-padding">
                  <div class="input-group mb-3" *ngIf="AttachFileList && AttachFileList.length < 5">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Select Document</span>
                      <ejs-uploader #defaultupload id='fileupload' maxFileSize=20000001
                                    allowedExtensions='.jpeg,.jpg,.png,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.txt,.mp4,.pdf' [autoUpload]=false
                                    [multiple]='false' (uploading)='onFileUpload($event)' (success)='onUploadSuccess($event)'
                                    [asyncSettings]='path'>
                      </ejs-uploader>
                      <small>Maximum limit is 5 files, Max file size is 20MB and Supported file format : .jpeg,.jpg,.png,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.txt,.mp4,.pdf</small>
                    </div>

                  </div>

                  <div class="col-lg-12">

                    <ul class="comment-list" *ngFor="let fileObj of AttachFileList; let fileIndex = index;">
                      <li>
                        <div class="col-lg-12 no-padding">
                          <div class="col-lg-12 no-padding">
                            <a style="cursor:pointer !important;" title="click to download file"
                               (click)="DownLoadFiles(fileObj)">
                              <i class="fa fa-lg mar5px" [ngClass]="checkFileType(fileObj.fileName)"></i>
                              {{fileObj.fileName}}
                            </a>
                            <a class="text-danger pull-right mar5px" title="delete" style="cursor:pointer !important;"
                               (click)="onDeleteFiles(fileObj)">
                              <i class="fa fa-trash fa-lg"></i>
                            </a>
                            <small class="pull-right mar5px"> {{fileObj.createByName}} </small>
                            <small class="pull-right mar5px"> {{fileObj.createDate | date:'dd/MM/yyyy'}} | </small>

                          </div>

                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card" *ngIf="show && pageType=='MEETING'">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button class="btn btn-block text-left btn-link collapsed" (click)="clickSign()" type="button"
                        data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  <i class="fa fa-edit fa-lg"></i> Signature
                </button>
              </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionMeeting">
              <div class="card-body">
                <div class="signature-drag">

                  <div class="row">
                    <div class="col" *ngIf="signText!=null && signText!='' && (GeneralInfoData.approverSign==null
                      ||GeneralInfoData.approverSign=='') ">
                      <div class="row">
                        <div class="col-lg-12" *ngIf="signText!=null && signText!='' && (GeneralInfoData.approverSign==null
                      ||GeneralInfoData.approverSign=='') ">
                          <h6>
                            {{signText}} Signature
                          </h6>
                          <div class="col-lg-12 no-padding">
                            <canvas #signatureLastPad class="signature-pad signature-width"></canvas><br>
                            <div class="signature-b">
                              <a class="btn btn-primary text-white btn-sm mar5px pull-right" *ngIf="signText!='Reviewer'"
                                 (click)="saveApprovalSignature()" title="Approve & Publish">Approve & Publish</a>
                              <a class="btn btn-primary text-white btn-sm mar5px pull-right" *ngIf="signText=='Reviewer'"
                                 (click)="saveApprovalSignature()" title="Review">Review</a>
                              <a class="btn btn-danger text-white  btn-sm mar5px pull-right"
                                 (click)="ClearLastSignature()"><i class="fa fa-paint-brush fa-lg "></i></a>
                              <ng-container>
                                <input type="file" style="display: none" id="imageUrlLast" accept="image/*"
                                       name="imageUrlLast" #imageUrlLast (change)="handleLastFileChange($event)">
                                <label for="imageUrlLast" style="cursor:pointer" title="Import Signature"
                                       class="btn btn-info btn-sm mar5px " data-placement="top">
                                  <i class="fa fa-cloud-upload fa-lg "></i>
                                </label>
                              </ng-container>
                              <!--<input type="file" id="imageUrlLast" class="btn btn-sm mar5px " style="width: 184px;"
                              title="Import Sign" accept="image/*" name="imageUrlLast" #imageUrlLast
                              (change)="handleLastFileChange($event)">-->

                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="row mt-4">
                        <!--<div class="col-lg-4 col" style="vertical-align: middle; text-align: center;">
                          <label style="vertical-align: top; font-weight: bold;">Initiator Signature</label><br />
                          <div *ngIf="GeneralInfoData.createrSign==null ||GeneralInfoData.createrSign=='' "
                               class="no-signature-img"> </div>
                          <div class="col">
                            <img *ngIf="GeneralInfoData.createrSign!=null &&GeneralInfoData.createrSign!='' "
                                 src={{GeneralInfoData.createrSign}} alt="signature" width="120" height="90" />
                          </div>
                          <label style="vertical-align: bottom; font-weight: bold; border-top:1px solid #000; padding-top:10px; margin-top:10px">
                            Date
                            :
                            {{GeneralInfoData.createDate}}
                          </label>
                        </div>-->
                        <div class="col-lg-4 col" style="vertical-align: middle; text-align: center;"
                             *ngIf="GeneralInfoData.reviewerSign!=null &&GeneralInfoData.reviewerSign!='' ">

                          <label style="vertical-align: top; font-weight: bold;">Reviewer Signature</label><br />
                          <div *ngIf="GeneralInfoData.reviewerSign==null ||GeneralInfoData.reviewerSign=='' "
                               class="no-signature-img"> </div>
                          <div class="col">
                            <img *ngIf="GeneralInfoData.reviewerSign!=null &&GeneralInfoData.reviewerSign!='' "
                                 src={{GeneralInfoData.reviewerSign}} alt="signature" width="120" height="90" />
                          </div>
                          <label style="vertical-align: bottom; font-weight: bold; border-top:1px solid #000; padding-top:10px;
                        margin-top:10px">
                            Date
                            :
                            {{GeneralInfoData.reviewDate | date:'dd/MM/yyyy'}}
                          </label>
                        </div>
                        <div class="col-lg-4 col" style="vertical-align: middle; text-align: center;"
                             *ngIf="GeneralInfoData.approverSign!=null && GeneralInfoData.approverSign!='' ">
                          <label style="vertical-align: top; font-weight: bold;">Approver Signature</label><br />
                          <div *ngIf="GeneralInfoData.approverSign==null ||GeneralInfoData.approverSign=='' "
                               class="no-signature-img"> </div>
                          <div class="col">
                            <img src={{GeneralInfoData.approverSign}} alt="signature" width="120" height="90" />
                          </div>
                          <label style="vertical-align: bottom; font-weight: bold; border-top:1px solid #000; padding-top:10px; margin-top:10px">
                            Date
                            :
                            {{GeneralInfoData.approvalDate | date:'dd/MM/yyyy'}}
                          </label>
                        </div>



                      </div>
                    </div>
                  </div>



                </div>

              </div>
            </div>



          </div>

          <div class="clearfix"></div>



        </div>
      </div>
    </div>

  </div>
</div>





<!--Agenda Details End-->

<ejs-dialog id="SignatureDialog" header='Add Signature' #SignatureDialog class="e-fixed" style="position:fixed!important;"
            showCloseIcon='true' allowDragging='false' width='550px' [closeOnEscape]="true" [visible]='false'>

  <div class="input-field">
    <div class="card-body">
      <h5>Draw Signature with mouse or touch</h5>
      <div class="signature-drag">

        <canvas #signaturePad class="signature-pad" width=500 height=200></canvas>

        <div style="width:500px; border:1px solid #ccc; display:block; float:left; padding:5px;">
          <ng-container>
            <img *ngIf="signImage && signImage!=null && signImage!=''" class="pull-left border-info"
                 src={{signImage}} alt="signature" width="100" />
            <a style="color:#fff" title="OK" class=" btn mar5px btn-primary btn-sm pull-right"
               (click)="saveSignature()"><i class="fa fa-check fa-lg "></i></a>
            <input type="file" style="display: none" id="imageUrl" accept="image/*" name="imageUrl" #imageUrl
                   (change)="handleFileChange($event)">
            <label for="imageUrl" style="cursor:pointer" title="Import Signature"
                   class="btn btn-info btn-sm mar5px  pull-right" data-placement="top">
              <i class="fa fa-cloud-upload fa-lg "></i>
            </label>
          </ng-container>

          <a style="color:#fff" class="btn btn-danger mar5px btn-sm pull-right" title="Clear"
             (click)="ClearSignature()"><i class="fa fa-paint-brush fa-lg "></i></a>

          <div class="clearfix"></div>
        </div>

      </div>

    </div>
  </div>
</ejs-dialog>

<ejs-dialog id="SignatureMainDialog" header='Add Signature' #SignatureMainDialog showCloseIcon='true'
            allowDragging='true' width='600px' [closeOnEscape]="true" [visible]='false'>
  <div class="input-field">
    <div class="card-body">
      <div class="signature-drag">

        <table class="table  table-bordered">
          <tr>
            <td>
              <h6>Draw Signature with mouse or touch</h6><canvas #signatureMainPad class="signature-pad" width=500
                                                                 height=200></canvas>
            </td>
          </tr>
        </table>

        <div style="width:528px; border:1px solid #ccc; display:block; float:right; padding:5px;">
          <div class="pull-right">
            <a style="color:#fff" class="btn btn-danger btn-sm mar5px" title="Clear"
               (click)="ClearMainSignature()"><i class="fa fa-paint-brush fa-lg "></i></a>
            <ng-container>
              <input type="file" style="display: none" id="imageUrlMain" accept="image/*" name="imageUrlMain"
                     #imageUrlMain (change)="handleMainChange($event)">
              <label for="imageUrlMain" style="cursor:pointer" title="Import Signature"
                     class="btn btn-info btn-sm mar5px" data-placement="top">
                <i class="fa fa-cloud-upload fa-lg "></i>
              </label>
            </ng-container>

            <a style="color:#fff" class="ml-3 mr-2 btn btn-primary btn-sm mar5px" (click)="saveMainSignature()"
               title="OK"><i class="fa fa-check fa-lg "></i></a>
          </div>

          <div class="clearfix"></div>
        </div>


      </div>

    </div>
  </div>
</ejs-dialog>

<ejs-dialog id="OutlookDialog" header='Meeting From Outlook' #OutlookDialog showCloseIcon='true' allowDragging='true'
            width='825px' closeOnEscape="true" [visible]='false' [position]='positionOutlookDialog'>

  <div class="col-lg-12" [ngClass]="{ 'overlay': disableOutlook }">
    <div id="btnContainer" #btnContainer name="btnContainer">
      <div id="btn-content">

        <div class="row blue-border-bottom">
          <span *ngFor="let dayOj of weekDays; let dayIndex = index;">
            <button *ngIf="dayOj.dateSelected" class="btn btn-info mar5px round-btn  btn-sm"
                    (click)="dayOj.dateSelected=true;openOutlookDialog(dayOj.indexVal)">
              {{dayOj.dayVal}}
              <small> {{dayOj.dateVal}}</small>
            </button>
            <button *ngIf="!dayOj.dateSelected" class="btn btn-grey mar5px round-btn  btn-sm"
                    (click)="openOutlookDialog(dayOj.indexVal)">
              {{dayOj.dayVal}}
              <small> {{dayOj.dateVal}}</small>
            </button>
          </span>
        </div>
      </div>
    </div>
    <button id="slideLeft" type="button" (click)="leftSlideClick()" class="btn btn-default"><i class="fa fa-angle-double-left"></i></button>
    <button id="slideRight" type="button" (click)="rightSlideClick()" class="btn btn-default"><i class="fa fa-angle-double-right"></i></button>

    <div class="row">
      <div class="col-lg-12 ">
        <div class="row mab-20 justify-content-end">
          <div class="col-sm-3">

            <ejs-timepicker name="startTime" [(ngModel)]="startOutlookTime" [min]="minStartDateTime" (change)="outlookTimeChange()" #startTime="ngModel"
                            placeholder='Start Time' step='30'>
            </ejs-timepicker>

          </div>
          <div class="col-sm-3">

            <ejs-timepicker name="endTime" [(ngModel)]="endOutlookTime" [min]="minStartDateTime" (change)="outlookTimeChange()" #endTime="ngModel" placeholder='End Time' step='30'>
            </ejs-timepicker>
            <div *ngIf="getOutlookError()"
                 class="error-txt p-1">
              Must be greater than start time
            </div>
          </div>
          <div class="col-sm-1">

            <button class="btn btn-grey   btn-sm"
                    (click)="outlookTimeChange()">
              <i class="fa fa-refresh fa-lg "></i>
            </button>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12 no-padding">

        <div *ngIf="disableOutlook" class="col-lg-12 no-padding outlook-load">
          <div class="outlook-load-img"></div>
        </div>

      </div>
    </div>

    <div class="row mab-20" id="outlook-popup-n" *ngIf="(meetingAppoinments !=null && meetingAppoinments.length!=0)">

      <ejs-grid id="grdData" #grid [dataSource]='meetingAppoinments' allowPaging='true' allowFiltering='true'
                [filterSettings]='filterSettings' [pageSettings]='pageSettings'
                [allowExcelExport]='true' (toolbarClick)='toolbarClick($event)' (recordDoubleClick)='selectOutlook($event.rowData)' (excelExportComplete)='excelExportComplete()'>
        <e-columns>

          <e-column field='subject' headerText='Meeting Info' width=500>
            <ng-template #template let-meetObj3>

              <div class="row mab-20 ol-main-wrap">
                <div class="col-lg-12 bb-1">
                  <div class="ol-up-main-title">{{meetObj3.subject}} </div>
                </div>
                <div class="col-lg-12 mat-10">
                  <div class="ol-up-meetings-l">
                    <div class="ol-up-time">{{meetObj3.start |timeFormat}} </div>
                    <div class="ol-up-time-g">{{meetObj3.end |timeFormat}}</div>
                  </div>
                  <div class="ol-up-meetings-r">
                    <div class="ol-up-title">
                      <div class="olup-name"> <i class="fa fa-calendar-o mar5px"></i> {{meetObj3.meetingDate }} </div>
                    </div>
                    <div class="ol-up-name">
                      <i class="fa fa-map-marker mar5px" title="Meeting Location"></i> {{meetObj3.location}}
                    </div>
                    <div class="ol-up-select" style="position:absolute !important">
                      <button class="btn btn-primary btn-sm" title="Select Appointment" (click)="selectOutlook(meetObj3)">
                        <i class="fa fa-hand-pointer-o"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </ng-template>
          </e-column>

        </e-columns>

      </ejs-grid>

    </div>


    <div *ngIf="(meetingAppoinments ==null || meetingAppoinments.length==0) && !disableOutlook">
      <div class="row">
        <div class="no-data-home">
          <i class="fa fa-files-o"></i>
          <h5>No Data Found</h5>
        </div>
      </div>
    </div>
  </div>

</ejs-dialog>


<ejs-dialog id="SubAgendaDialog" header='Add Sub Discussions' showoninit="true" #SubAgendaDialog showCloseIcon='true' allowDragging='false'
            width='650px' [closeOnEscape]="true" [visible]='false' style="position:fixed!important;">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12 no-padding main">
        <form [formGroup]="subAgendaForm">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label style="font-weight: bold !important;">{{agendaText}}</label>

                <textarea type="text" formControlName="note" class="form-control "
                          [ngClass]="{ 'is-invalid': submit && s.note.errors }" placeholder="Sub Discussion Points"></textarea>
                <div *ngIf="submit && s.note.errors" class="invalid-feedback">
                  <div *ngIf="s.note.errors.required">Enter Sub Discussion Points</div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <div class="pt-1 pl-0">
                  <button class="btn btn-primary pull-right btn-sm mar5px" (click)="subAgendaAdd()">
                    <i class="fa fa-plus"></i>
                    Add
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ejs-dialog>




<ejs-dialog id="editAgendaDialog" isModel="true" showoninit="true" header='Edit Meeting Discussions' #editAgendaDialog showCloseIcon='true' allowDragging='false'
            width='650px' [closeOnEscape]="true" [visible]='false' style="position:fixed!important;">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12 no-padding main">
        <form [formGroup]="subAgendaForm">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label style="font-weight: bold !important;">{{agendaText}}</label>
                <textarea type="text" formControlName="note" class="form-control "
                          [ngClass]="{ 'is-invalid': submit && s.note.errors }" placeholder="Enter Discussion Points"></textarea>
                <div *ngIf="submit && s.note.errors" class="invalid-feedback">
                  <div *ngIf="s.note.errors.required">Enter Discussion Points</div>
                </div>

              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <div class="pt-1 pl-0">
                  <button class="btn btn-primary pull-right btn-sm mar5px" (click)="AgendaAdd()">
                    Update
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ejs-dialog>

<ejs-dialog id="attendeeDialog" header='Attendees' #attendeeDialog showCloseIcon='true' allowDragging='true'
            width='600px' [closeOnEscape]="true" [visible]='false'>
  <div class="col-lg-12">
    <ul class="comment-list" *ngFor="let atdObj of MeetingAttendeeList; let atIndex = index;">
      <li>
        <div class="col-lg-12 no-padding">
          <div class="col-lg-12 no-padding comment-title">
            <i class="fa fa-user-circle-o fa-lg mar-10"></i> {{atdObj.name}}
          <a class="pull-right mal-10" style="cursor:pointer !important;" (click)="atdObj.active=!atdObj.active">
            <span *ngIf="!atdObj.active">   <i title="Add Attendee" class="fa text-success mar5px fa-plus-o fa-lg"></i>Add</span>
            <span *ngIf="atdObj.active">  <i *ngIf="atdObj.active" title="Remove Attendee" class="fa text-danger mar5px fa-minus-o fa-lg"></i>Remove</span>
          </a>
          </div>

        </div>
      </li>
    </ul>

  </div>

</ejs-dialog>


<ejs-dialog id="fileDialog" header='Documents' #fileDialog showCloseIcon='true' allowDragging='true'
            width='600px' [closeOnEscape]="true" [visible]='false'>
  <div class="col-lg-12">
    <ul class="comment-list" *ngFor="let fileObj of outlookFileList; let atIndex = index;">
      <li>
        <div class="col-lg-12 no-padding">
          <div class="col-lg-12 no-padding ">
            <i class="fa  fa-lg mar-10" [ngClass]="checkFileType(fileObj.fileName)"></i> <a>{{fileObj.fileName}}</a>
            <a class="pull-right mal-10" style="cursor:pointer !important;" (click)="fileObj.active=!fileObj.active">
              <span *ngIf="!fileObj.active">
                <i  title="Add File" class="fa text-success mar5px fa-plus-o fa-lg"> </i>Add</span>
              <span *ngIf="fileObj.active">  <i  title="Remove File" class="fa text-danger mar5px fa-minus-o fa-lg"></i>Remove</span>
</a>
          </div>

        </div>
      </li>
    </ul>

  </div>

</ejs-dialog>

<ejs-dialog id="agendaDialog" header='Meeting Discussions' #agendaDialog showCloseIcon='true' allowDragging='true'
            width='600px' [closeOnEscape]="true" [visible]='false'>
  <div class="col-lg-12">
    <ul class="comment-list" *ngFor="let agendObj of outlookAgendaList; let atIndex = index;">
      <li>
        <div class="col-lg-12 no-padding">
          <div class="col-lg-12 no-padding ">

            <i class="fa fa-file fa-lg mar-10"></i> <a>{{agendObj.agenda}}</a>
            <a class="pull-right mal-10" style="cursor:pointer !important;" (click)="agendObj.active=!agendObj.active">
              <span *ngIf="!agendObj.active">
                <i  title="Add Meeting Discussions" class="fa text-success mar5px fa-plus-o fa-lg"></i>Add</span>
              <span *ngIf="agendObj.active">  <i  title="Remove Meeting Discussions" class="fa text-danger mar5px fa-minus-o fa-lg"></i>Remove</span>
</a>
          </div>

        </div>
      </li>
    </ul>

  </div>

</ejs-dialog>
<app-footer></app-footer>
