<app-header></app-header>
<div class="container-fluid no-padding">
  <div class="col-lg-12 mat-100 middle-content-hgt" id="search-page-content">
    <div class="row">
      <!-- Breadcrumbs-->
      <div class="col-lg-8">
        <ol class="breadcrumb breadcrumb-arrow">
          <li><a [routerLink]="'/dashboard'"><i class="fa fa-fw fa-home"></i></a></li>
          <!--<li class=""><a href="#"></a></li>
      <li class=""><a href="#">Group A</a></li>-->
          <li class="active"><span>Reports</span></li>
        </ol>

      </div>
   
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="col-lg-12 search-page-left mat-20">
          <div class="row">
            <div class="col-lg-12 no-padding ">

              <div class="form-group col-lg-12 mat-20 has-search">

                <input type="text" class="form-control" [(ngModel)]="searchText" (keyup.enter)="search()" placeholder="Search by division">

              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-12" id="searh-page-left">
              <div class="col-lg-12 list-group no-padding menu-color">
                <div class="form-group man-10 list-group-item list-group-item-action ">
                  <ejs-daterangepicker placeholder='select a range' [(ngModel)]='value' ></ejs-daterangepicker>
                </div>
                <div class="form-check mab-10 list-group-item list-group-item-action" [ngClass]="{ 'active': checkBoxVal==2 }">
                  <div class="col-lg-12">
                    <input type="radio" class="form-check-input" id="exampleCheck1" [value]="2" [(ngModel)]="checkBoxVal" (click)="TypeCheckBoxSelection(2)">
                    <label class="form-check-label" for="exampleCheck1">Attendance</label>
                  </div>
                </div>
                <div class="form-check mab-10 list-group-item list-group-item-action " [ngClass]="{ 'active': checkBoxVal==1 }">
                  <div class="col-lg-12">
                    <input type="radio" class="form-check-input" id="exampleCheck2" [(ngModel)]="checkBoxVal" (click)="TypeCheckBoxSelection(1)" [value]="1">
                    <label class="form-check-label" for="exampleCheck2">Meeting</label>
                  </div>
                </div>
                <div *ngIf="isTBT" class="form-check mab-10 list-group-item list-group-item-action" [ngClass]="{ 'active': checkBoxVal==3 }">
                  <div class="col-lg-12">
                    <input type="radio" class="form-check-input" id="exampleCheck3" [(ngModel)]="checkBoxVal" (click)="TypeCheckBoxSelection(3)" [value]="3">
                    <label class="form-check-label" for="exampleCheck3">TBT</label>
                  </div>

                </div>

                <div class="form-check mab-10 list-group-item list-group-item-action " [ngClass]="{ 'active': checkBoxVal==4 }">
                  <div class="col-lg-12">
                    <input type="radio" class="form-check-input" id="exampleCheck2" [(ngModel)]="checkBoxVal" (click)="TypeCheckBoxSelection(4)" [value]="4">
                    <label class="form-check-label" for="exampleCheck2">Active Users</label>
                  </div>
                </div>

              </div>
              <div class="col-lg-12 pull-right">
                <a class="btn btn-sm pull-right btn-secondary mat-20 text-white" (click)="search()">
                  <span class="fa fa-search mar5px form-control-feedback"></span>Search
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9" id="search-page">
      
        <div class="col-lg-12">

          <div class="row" *ngIf="actionType != 'Active Users'">
            <div class=" col-lg-12">
              <div class="pull-right">
                <button (click)="ExportGrid()" title="Export PDF" class="btn btn-sm btn-info">
                  <i class="fa fa-file-pdf-o"></i> 
                </button>

              </div>
            </div>
            <div class="col-lg-12 mat-20">
              <ejs-grid #divisionGrid [dataSource]='data'  [allowExcelExport]='true' [pageSettings]='pageSettings' showColumnMenu='true' [allowPaging]='true' [allowSorting]='true'
                        [allowFiltering]='true' [filterSettings]='filterOptions'>
                <e-columns>
                  <e-column field='divisionName' headerText='Division Name'></e-column>
                  <e-column field='recordCount' headerText='Number of Records'></e-column>
                </e-columns>
              </ejs-grid>
            </div>
          </div>

          <div class="row" *ngIf="actionType == 'Active Users'">
            <div class=" col-lg-12">
              <div class="pull-right">
                <button (click)="ExportGrid()" class="btn btn-sm btn-info">
                  <i class="fa fa-file-pdf-o"></i>
                </button>

              </div>
            </div>
            <div class="col-lg-12 mat-20">
              <ejs-grid #activeUserGrid [dataSource]='data'  [allowExcelExport]='true' [pageSettings]='pageSettings' showColumnMenu='true' [allowPaging]='true' [allowSorting]='true'
                        [allowFiltering]='true' [filterSettings]='filterOptions'>
                <e-columns>
                  <e-column field='userName' headerText='Active User Name'></e-column>
                  <e-column field='divisionName' headerText='Division Name'></e-column>

                </e-columns>
                <ng-template #groupSettingsCaptionTemplate let-data>
                  <span class='groupHeader'><strong>Division : {{data.key}}</strong></span>
                  <span class='groupItems'><strong> Active users : {{data.count}}</strong></span>
                </ng-template>
              </ejs-grid>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<app-footer></app-footer>
