footer {
  border-top: 3px solid #0c9440;
  background: #414141;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index:9;
}
@media screen and (max-width: 991px) {
  footer {
    border-top: 3px solid #0c9440;
    background: #414141;
    position: relative;
    width: 100%;
    bottom: 0;
    z-index: 9;
  }
}
