<footer class="clearfix page-footer font-small blue pat-10 pab-10" id="footer">
  <div class="col-lg-12 text-center text-md-left">
    <div class="row">
      <div class="col-lg-8 col-sm-12 text-white copyright-text">
        &copy; 2020 Dubai Electricity and Water Authority. All Rights Reserved.
       
      </div>
      <div class="col-lg-4 col-sm-12 footer-link text-right terms-text">
        <small>
          <span class="pr-3 text-light">
            v3.9 | <a href="https://www.dewa.gov.ae/en/terms-and-conditions" target="_blank"
                      class="text-light">Terms of use</a>
          </span> <span>
            <a href="https://www.dewa.gov.ae/en/security-and-policy" target="_blank" class="text-light">
              Privacy Policy
            </a>
          </span>
        </small>
      </div>
    </div>
  </div>
</footer>
