<app-header></app-header>
<div class="container-fluid mat-100">
  <div class="col-lg-12 middle-content-hgt">
    <div class="row">
      <!-- Breadcrumbs-->
      <div class="col-lg-12">
        <ol class="breadcrumb breadcrumb-arrow">
          <li><a [routerLink]="'/dashboard'"><i class="fa fa-fw fa-home"></i></a></li>
          <!--<li class=""><a href="#"></a></li>
          <li class=""><a href="#">Group A</a></li>-->
          <li class="active"><span>User</span></li>
        </ol>
      </div>
    </div>
    <div class="row " *ngIf="!isView">
      <div class="col-3">
        <div class="list-group menu-color">
          <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/meeting-type']">Meeting Type</a>
          <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/location']">Meeting Location</a>
          <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/meetingroom']">Meeting Room</a>
          <a href="#" class="list-group-item list-group-item-action active" [routerLink]="['/usermaster']">User</a>

        </div>
      </div>
      <div class="col-9">
        <div class="control-section grid-type">
          <ejs-grid id="grdData" #grid [dataSource]='user_data' allowPaging='true' allowFiltering='true'
                    [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar'
                    (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'
                    (toolbarClick)='toolbarClick($event)' [allowExcelExport]='true' [filterSettings]='filterSettings'>
            <e-columns>
              <e-column field='userUno' headerText='User Code' width='80' textAlign='Left' [visible]="false"></e-column>


              <e-column field='prNumber' headerText='PrNumber'></e-column>
              <e-column field='displayNameEn' headerText='Display Name'>
                <ng-template #template let-data>
                  <span class="user-name">{{data.displayNameEn}}</span>
                </ng-template>
              </e-column>
              <!--<e-column field='designationEn' headerText='Designation' width='15%'></e-column>-->
              <e-column field='emailId' headerText='Email ID'></e-column>
              <e-column field='ntUsername' headerText='NT Login' isPrimaryKey='true'></e-column>
              <e-column field='firstname' headerText='First Name' [visible]="false"></e-column>
              <e-column field='lastname' headerText='Last Name' [visible]="false"></e-column>

              <e-column field='designationEn' headerText='Designation'></e-column>
              <e-column field='divisionNameEn' headerText='Division'></e-column>
              <e-column headerText='Action' width=100>
                <ng-template #template let-gridData>
                  <a class="text-info" style="cursor:pointer !important;" title="view"
                     (click)="loadView(gridData)">
                    <i class="fa fa-eye fa-lg mar5px"></i>
                  </a>
                  <a class="text-info" style="cursor:pointer !important;" title="switch user" *ngIf="tempuseraccess"
                     (click)="switchUser(gridData.ntUsername)">
                    <i class="fa fa-sign-in fa-lg mar5px"></i>
                  </a>
                </ng-template>
              </e-column>

            </e-columns>

            <ng-template #editSettingsTemplate let-data>
              <div [formGroup]="usermasterForm">

                <div class="col popup-custom">

                  <ng-template matStepLabel>General Info</ng-template>

                  <div class="input-field col xl12">
                    <div class="e-float-input e-control-wrapper">
                      <strong><span>{{data.ntUsername}}</span></strong>
                      <br />
                    </div>

                  </div>
                  <div class="input-field col xl12">
                    <div class="e-float-input e-control-wrapper"
                         [ngClass]="{'e-error': prNumber.invalid && (prNumber.dirty || prNumber.touched)}">
                      <input formControlName="prNumber" myNoSpaces maxlength="255"
                             data-msg-containerid='prNumberEnError' id="prNumber" name="prNumber" type="text">

                      <label class="e-float-text e-label-top" for="prNumber">
                        PR Number <span class="mant-red">*</span>
                      </label>
                    </div>
                    <div id="prNumberError"
                         [style.visibility]='((prNumber.invalid && (prNumber.dirty || prNumber.touched)) || (prNumber.invalid && submitClicked))? "visible": "hidden"'>
                      <label class="e-error" id="prNumber-info" style="display: block;">*PR Number is required</label>
                    </div>
                  </div>
                  <div class="input-field col xl12">
                    <div class="e-float-input e-control-wrapper"
                         [ngClass]="{'e-error': displayNameEn.invalid && (displayNameEn.dirty || displayNameEn.touched)}">
                      <input formControlName="displayNameEn" myNoSpaces maxlength="255"
                             data-msg-containerid='displayNameEnEnError' id="displayNameEn" name="displayNameEn" type="text">

                      <label class="e-float-text e-label-top" for="displayNameEn">
                        Display Name [English] <span class="mant-red">*</span>
                      </label>
                    </div>
                    <div id="displayNameEnError"
                         [style.visibility]='((displayNameEn.invalid && (displayNameEn.dirty || displayNameEn.touched)) || (displayNameEn.invalid && submitClicked))? "visible": "hidden"'>
                      <label class="e-error" id="displayNameEn-info" style="display: block;">
                        *Display Name is
                        required
                      </label>
                    </div>
                  </div>

                  <div class="input-field col xl12">
                    <div class="e-float-input e-control-wrapper"
                         [ngClass]="{'e-error': displayNameAr.invalid && (displayNameAr.dirty || displayNameAr.touched)}">
                      <input formControlName="displayNameAr" myNoSpaces maxlength="255"
                             data-msg-containerid='displayNameArError' id="displayNameAr" name="displayNameAr" type="text">

                      <label class="e-float-text e-label-top" for="displayNameAr">
                        Display Name [Arabic] <span class="mant-red">*</span>
                      </label>
                    </div>
                    <div id="displayNameArError"
                         [style.visibility]='((displayNameAr.invalid && (displayNameAr.dirty || displayNameAr.touched)) || (displayNameAr.invalid && submitClicked))? "visible": "hidden"'>
                      <label class="e-error" id="displayNameAr-info" style="display: block;">
                        *Display Name is
                        required
                      </label>
                    </div>
                  </div>

                  <div class="input-field col xl12">
                    <div class="e-float-input e-control-wrapper"
                         [ngClass]="{'e-error': emailId.invalid && (emailId.dirty || emailId.touched)}">
                      <input type="email" formControlName="emailId" maxlength="255"
                             data-msg-containerid='emailIdEnError' id="emailId" name="emailId">
                      <label class="e-float-text e-label-top" for="emailId">Email Id</label>
                    </div>
                    <div id="emailIdEnError"
                         [style.visibility]='((emailId.invalid && (emailId.dirty || emailId.touched)) || (emailId.invalid && submitClicked))? "visible": "hidden"'>
                      <!--<label class="e-error" id="emailId-info" style="display: block;">Please enter valid email address.</label>-->
                    </div>
                  </div>

                  <div class="input-field col xl12">
                    <div class="e-float-input e-control-wrapper">
                      <input formControlName="firstname" maxlength="255" data-msg-containerid='firstnameEnError'
                             id="firstname" name="firstname" type="text">
                      <label class="e-float-text e-label-top" for="firstname">First Name</label>
                    </div>
                  </div>

                  <div class="input-field col xl12">
                    <div class="e-float-input e-control-wrapper">
                      <input formControlName="lastname" maxlength="255" data-msg-containerid='lastnameEnError'
                             id="lastname" name="lastname" type="text">
                      <label class="e-float-text e-label-top" for="lastname">Last Name</label>
                    </div>
                  </div>

                  <div class="input-field col xl12">
                    <div class="e-float-input e-control-wrapper">
                      <input formControlName="designationEn" maxlength="255" data-msg-containerid='designationEnEnError'
                             id="designationEn" name="designationEn" type="text">
                      <label class="e-float-text e-label-top" for="designationEn">Designation Name [English]</label>
                    </div>
                  </div>

                  <div class="input-field col xl12">
                    <div class="e-float-input e-control-wrapper">
                      <input formControlName="designationAr" maxlength="255" data-msg-containerid='designationArError'
                             id="designationAr" name="designationAr" type="text">
                      <label class="e-float-text e-label-top" for="designationAr">Designation Name [Arabic]</label>
                    </div>
                  </div>


                  <div class="input-field col xl12">

                    <ejs-dropdownlist id="divisionUno" formControlName="divisionUno" [dataSource]='division_data'
                                      [fields]="{text: 'divisionNameEn', value: 'divisionUno' }" placeholder="Division"
                                      popupHeight='300px' floatLabelType='Always'></ejs-dropdownlist>

                    <div id="divisionUnoError"
                         [style.visibility]='((divisionUno.invalid && (divisionUno.dirty || divisionUno.touched)) || (divisionUno.invalid && submitClicked))? "visible": "hidden"'>
                      <label class="e-error" id="divisionUno-info" style="display: block;">*Division is required</label>
                    </div>

                  </div>

                </div>

              </div>
            </ng-template>

          </ejs-grid>
        </div>
      </div>
    </div>


    <div class="row" *ngIf="isView" id="user-profile-view" name="user-profile-view">
      <div class="col-lg-12">
        <div class="row bb-2">
          <div class="col-lg-8">
            <h6 class="mb-0 mt-2"><i class="fa fa-user-0 mr-2"></i>User Profile</h6>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-sm btn-danger mb-2 float-right" (click)="isView=false">
              <i class="fa fa-arrow-left"></i> Back
            </button>
          </div>
        </div>
        <div class="row mt-3" id="user-page-layout">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-4 dp-col">
                <div class="card">
                  <div class="card-body pt-2 pl-2 pr-2 pb-2 mm-profile-bg" id="mm-profile">
                    <div class="row bg-green no-margin">
                      <div class="col-lg-12 justify-content-center dp-col text-center">
                        <img [src]="gridData.picture" alt="Avatar" class="avatar-big">
                      </div>
                    </div>
                    <div class="row bg-green no-margin">
                      <div class="col-lg-12 text-center">
                        <h2 class="login-user">{{gridData.displayNameEn}}</h2>
                        <p>{{gridData.emailId}}</p>

                      </div>
                    </div>
                    <div class="row no-margin">
                      <div class="col-lg-12">
                        <div class="row">
                          <div class="col-lg-12 login-bottom text-center">
                            <p>{{gridData.designationEn}}</p>
                          </div>

                        </div>

                      </div>
                    </div>
                    <div class="row no-margin">
                      <div class="col-lg-12">
                        <div class="row">
                          <div class="col-lg-12 login-details text-center">
                            <p>{{gridData.divisionNameEn}}</p>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row bg-green no-margin">
                      <div class="col-lg-12 text-center">
                        <!--<a style="cursor:pointer !important;" title="click to download" (click)="DownLoadFiles()">
                          <i class="fa  fa-lg fa-file-pdf-o mar5px"></i>
                          Download CV
                        </a>-->
                   
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-lg-6">
                    <fieldset class="border p-2">
                      <legend class="w-auto"><strong>{{gridData.designationEn}}</strong></legend>
                      <div class="list-group">
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">PR Number</strong>

                          </div>
                          <p class="mb-0">{{gridData.prNumber}}</p>

                        </a>
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">Full Name</strong>
                          </div>
                          <p class="mb-0">{{gridData.firstname}} {{gridData.lastname}}</p>

                        </a>
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">Role</strong>

                          </div>
                          <p class="mb-0">{{gridData.role==1?'Admin User':'Basic User'}}</p>

                        </a>

                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">TBT Available</strong>

                          </div>
                          <p class="mb-0">{{gridData.isTBT?'Yes':'No'}}</p>

                        </a>
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <strong class="mb-1">Last Login</strong>

                          </div>
                          <p class="mb-0">{{todayDate}}   {{todayTime}}</p>

                        </a>


                      </div>
                    </fieldset>

                  </div>
                  <div class="col-lg-6">
                    <div id="user-upcoming-events">
                      <div class="row bb-2 m-0">
                        <div class="col-lg-12">
                          <h6>Upcoming Events</h6>
                        </div>
                      </div>
                      <div class="row mr-2">
                        <div class="col-lg-12">
                          <div class="list-group">
                            <a *ngFor="let item of meetingList; let agendaIndex = index;" class="list-group-item list-group-item-action flex-column align-items-start position-relative">
                              <div class="d-flex flex-column justify-content-between uue-content" (click)="loadViewMeeting(item.genInfoAtdUno)">
                                <h5 class="mb-1">{{item.subjectAtd}}</h5>
                                <p class="mb-0">{{item.locationName}}.   {{item.fStartTimeAtd | timeFormat}} to   {{item.fEndTimeAtd | timeFormat}}</p>
                              </div>

                              <div class="text-center uue-date">
                                <div class="circle-border-style"> <span>{{item.fMeetingDateAtd | date:'dd'}}</span> </div>
                                <p class="mt-1">{{item.fMeetingDateAtd | date:'EEE'}}</p>
                              </div>
                            </a>

                            <div class="col-lg-12 text-center mat-10" style="margin-left: 0px;"
                                 *ngIf="meetingList==null ||meetingList.length<=0 ">
                              <div class="row">
                                <div class="no-data-home">
                                  <i class="fa fa-files-o"></i>
                                  <h5>No Data Found</h5>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="row mt-4">
              <div class="col-lg-12">
                <div class="row bb-2 m-0">
                  <div class="col-lg-12">
                    <h6>Recent Schedules</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 mat-10">
                    <app-meeting-calender></app-meeting-calender>
                  </div>
                </div>
              </div>

            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
