<app-header></app-header>
<div class="container-fluid no-padding bg-grey">
  <div class="col-lg-12 mat-100" id="dashboard-page">
    <!-- Breadcrumbs-->
    <div class="col-lg-12">
      <ol class="breadcrumb breadcrumb-arrow">
        <li><a [routerLink]="'/dashboard'"><i class="fa fa-fw fa-home"></i></a></li>
        <!--<li class=""><a href="#"></a></li>
      <li class=""><a href="#">Group A</a></li>-->
        <li class="active"><span>Dashboard</span></li>
      </ol>
    </div>
    <div class="dash-bg">
      <div class="col-12">
        <div class="col-lg-12 bg-white pab-20 pat-20 bs-dash ">
        
        
          <div class="row equal" >
            <div class="col-lg-4 dp-col">
              <div class="col bbr-1 dp-col h100">
                <div class="card">
                  <div class="card-body pt-2 pl-2 pr-2 pb-2 pointer"  (click)="loadMeetingList(0)">
                    <h5>Minutes of meeting created by me</h5>
                    <div class="col-lg-12 no-padding">
                      <div class="dash-icon-left">
                        <i class="fa fa-handshake-o"></i>
                      </div>
                      <div class="dash-top-count" (click)="loadMeetingList(0)">
                        <h6>{{objmomDashboard.noOfMyMeetings}}</h6>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-muted">
                    <small class="left"><a  (click)="loadMeetingList(0)">View Meeting Minutes</a></small>
                    <div class="navbar pull-right no-padding dot-nav navbar-expand-lg">

                      <a aria-expanded="false" aria-haspopup="true" class="nav-link text-secondary pt-0 pb-0"
                         data-toggle="dropdown" role="button">
                        <i class="fa fa fa-ellipsis-v fa-lg"></i>
                      </a>
                      <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <!--<a class="dropdown-item" (click)="loadMeetingList(1)"> Recent Meeting </a>-->
                      <a class="dropdown-item" (click)="loadMeetingList(2)">Today's Meetings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="loadMeetingList(0)"> All Meetings </a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-4 bbl-1 dp-col">
              <div class="col bbr-1 dp-col h100">
                <div class="card"> 
                  <div class="card-body pt-2 pl-2 pr-2 pb-2 pointer"  (click)="loadMeetingList(0)">
                    <h5>Meetings I am part of</h5>
                    <div class="col-lg-12 no-padding">
                      <div class="dash-icon-left">
                        <i class="fa fa-handshake-o"></i>
                      </div>
                      <div class="dash-top-count" (click)="loadMeetingList(0)">
                        <h6>{{objmomDashboard.noOfPartMeetings}}</h6>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-muted">
                    <small class="left"><a  (click)="loadMeetingList(0)">View Meeting Minutes</a></small>
                    <div class="navbar pull-right no-padding dot-nav navbar-expand-lg">

                      <a aria-expanded="false" aria-haspopup="true" class="nav-link text-secondary pt-0 pb-0"
                         data-toggle="dropdown" role="button">
                        <i class="fa fa fa-ellipsis-v fa-lg"></i>
                      </a>
                      <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <!--<a class="dropdown-item" (click)="loadMeetingList(1)"> Recent Meeting </a>-->
                        <a class="dropdown-item" (click)="loadMeetingList(2)">Today's Meetings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="loadMeetingList(0)"> All Meetings </a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-4 bbl-1 dp-col">
              <div class="col bbr-1 dp-col">
                <div class="card">
                  <div class="card-body pt-2 pl-2 pr-2 pb-2 pointer"  (click)="loadAttList(0)">
                    <h5>Digital Attendance Sheets</h5>
                    <div class="col-lg-12 no-padding">
                      <div class="dash-icon-left"><i class="fa fa-file-text"></i></div>
                      <div class="dash-top-count" (click)="loadAttList(0)">
                        <h6>{{objmomDashboard.noOfMyAttendanceSheets}}</h6>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-muted">
                    <small>
                      <a (click)="loadAttList(0)">View Digital Attendance Sheets</a>
                    </small>
                    <div class="navbar pull-right no-padding dot-nav navbar-expand-lg">

                      <a aria-expanded="false" aria-haspopup="true" class="nav-link text-secondary pt-0 pb-0"
                         data-toggle="dropdown" role="button">
                        <i class="fa fa fa-ellipsis-v fa-lg"></i>
                      </a>
                      <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <!--<a class="dropdown-item" (click)="loadAttList(1)"> Recent Attendance Sheets</a>-->
                        <a class="dropdown-item " (click)="loadAttList(2)"> Today's Attendance Sheets</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="loadAttList(0)">All Attendance Sheets</a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12"><div class="pull-right"><div class="mat-10 pull-left"><a class="btn btn-sm btn-secondary text-white btnw80" ng-reflect-router-link="/meeting-list" href="#/meeting-list"> View more </a></div></div></div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-12 pb-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 mab-20">
          <div class="card dash-section">
            <div class="card-body no-padding">
              <div class="bb-2 clearfix">

                <div class="col-lg-12 bg-light-blue no-padding">
                  <div class="row">
                    <div class="col-6">
                      <h5 class="pull-left pt-2 pl-3 pr-3">Minutes of meeting created by me</h5>
                    </div>

                    <div class="col-6">
                      <div class="pull-right">
                        <div class="mat-10 mar-10 pull-left">
                          <button class="btn btn-sm btn-primary" tabindex="0" (click)="loadAddMeeting()">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                        <div class="mat-10 mar-15 pull-left"
                             *ngIf="lstMOMDashboard_MyMeetings && lstMOMDashboard_MyMeetings.length>1">
                          <a class="btn btn-sm btn-secondary btnw80" [routerLink]="'/meeting-list'">
                            View more
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="pat-10 pl-3 pr-3" id="miapo-mymeeting">
                <div class="row mab-20 border-bottom">
                  <div class="col-lg-12 no-padding">
                    <form [formGroup]="searchForm">
                      <div class="row m-0">
                        <div class="form-group col-lg-12 has-search">
                          <div class="input-group">
                            <!--<span class="fa fa-search form-control-feedback"></span>-->
                            <input type="text" class="form-control" id="searchText" (keyup.enter)="search()"
                                   formControlName="searchText" [ngClass]="{ 'is-invalid': (t.searchText.errors) && (submitted || t.searchText.touched)}"
                                   placeholder="Search">



                            <div class="input-group-append mal-10">

                              <button class="btn btn-sm btn-secondary text-white btnw80" (click)="search()">
                                Search
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="dashboard-mymeeting-bot-sec row mab-10 border-bottom equal"
                     *ngFor="let item of lstMOMDashboard_MyMeetings">
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="ol-up-main-title col-lg-10 pointer" (click)="loadViewMeeting(item.genInfoAtdUno)">
                        <i class="fa fa-file-text mar5px" title="Meeting Subject"></i>
                        {{item.subjectAtd}}

                      </div>
                      <div class="pull-right col-lg-2">
                        <div class="pull-right">
                          <i *ngIf="item.approvalStatus!='Published'" [title]="item.approvalStatus" class="fa fa-unlock mar-10 "></i> <i *ngIf="item.approvalStatus=='Published'" title="Published" class="fa fa-lock mar-10"></i>
                          <a class="mar-10" title="edit" *ngIf="item.approvalStatus!='Published'" (click)="loadUpdateMeeting(item.genInfoAtdUno)">
                            <i class="fa fa-edit text-info"></i>
                          </a>

                          <a title="View" (click)="loadViewMeeting(item.genInfoAtdUno)">
                            <i class="fa fa-eye text-success "></i>
                          </a>
                        </div>
                      
                      </div>
                    </div>
                  
                 
                  </div>
                  <div class="col-lg-12 mat-10">
                    <div class="ol-up-meetings-l h100">
                      <div class="ol-up-time">
                        <i class="fa fa-group mar5px" title="Meeting Type"></i>
                        {{item.meetingName}}
                      </div>
                      <div class="ol-up-time-g" style="margin-left:3px!important">
                        <i class="fa fa-map-marker mar5px" title="Meeting Location"></i>{{item.meetingLocation}}
                      </div>
                    </div>
                    <div class="ol-up-meetings-r h100">
                      <div class="ol-up-title">
                        <div class="olup-name">
                          <i class="fa fa-calendar-o mar5px"></i>{{item.meetingDate |  date:'dd/MM/yyyy'}}
                          {{item.startTime | timeFormat}}

                        </div>
                      </div>
                      <div class="ol-up-name">
                        <i class="fa fa-building-o mar5px" title="Meeting Room"></i>
                        <span *ngIf="item.meetingRoom && item.meetingRoom.toLowerCase().indexOf('http')==-1">{{item.meetingRoom}}</span>
                        <a target="_blank" href="{{item.meetingRoom}}" class="text-primary" *ngIf="item.meetingRoom && item.meetingRoom.toLowerCase().indexOf('http')!=-1">{{item.meetingRoom}}</a>
                      </div>

                    </div>

                  </div>

                </div>

                <div class="col-lg-12 text-center" style="margin-left: 0px;"
                     *ngIf="lstMOMDashboard_MyMeetings==null ||lstMOMDashboard_MyMeetings.length<=0 ">
                  <div class="row">
                    <div class="no-data-home">
                      <i class="fa fa-files-o"></i>
                      <h5>No Data Found</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mab-20">
          <div class="card dash-section">
            <div class="card-body no-padding">
              <div class="col-lg-12 bg-light-blue no-padding">



                <div class="row bb-2 no-margin">
                  <div class="col-7 no-padding">
                    <h5 class="pt-2 pl-3 pb-2 pr-3">Meetings I am part of</h5>
                  </div>

                  <div class="col-5">
                    <div class="pull-right">

                      <div class="mat-10 pull-left">
                        <a class="btn btn-sm btn-secondary text-white btnw80" [routerLink]="'/meeting-list'">
                          View more
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="pat-10 pl-3 pr-3" id="miapo-mymeeting2">
                <div class="row mab-20 border-bottom">
                  <div class="col-lg-12 no-padding">
                    <form [formGroup]="searchForm2">
                      <div class="row m-0">
                        <div class="form-group  col-lg-12 has-search">
                          <!--<span class="fa fa-search form-control-feedback"></span>-->
                          <div class="input-group">
                            <input type="text" class="form-control" id="searchText" (keyup.enter)="search2()"
                                   formControlName="searchText" [ngClass]="{ 'is-invalid': (p.searchText.errors) && (submitted2 || p.searchText.touched)}"
                                   placeholder="Search">



                            <div class="input-group-append mal-10">

                              <button class="btn btn-sm btn-secondary text-white btnw80" (click)="search2()">
                                Search
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="dashboard-mymeeting-bot-sec2 row mab-10 border-bottom equal"
                     *ngFor="let item of lstMOMDashboard_PartofMeetings">
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="ol-up-main-title pointer col-lg-10" (click)="loadViewMeeting(item.genInfoAtdUno)">
                        <i class="fa fa-file-text mar5px" title="Meeting Subject"></i>
                        {{item.subjectAtd}}

                      </div>
                      <div class="pull-right col-lg-2">
                        <div class="pull-right">
                          <i *ngIf="item.approvalStatus!='Published'" [title]="item.approvalStatus" class="fa fa-unlock mar-10 "></i> <i *ngIf="item.approvalStatus=='Published'" title="Published" class="fa fa-lock mar-10"></i>
                          <a class="mar-10" title="edit" *ngIf="item.approvalStatus!='Published'" (click)="loadUpdateMeeting(item.genInfoAtdUno)">
                            <i class="fa fa-edit text-info"></i>
                          </a>

                          <a title="View" (click)="loadViewMeeting(item.genInfoAtdUno)">
                            <i class="fa fa-eye text-success "></i>
                          </a>
                        </div>

                      </div>
                    </div>


                  </div>
                  <div class="col-lg-12 mat-10">
                    <div class="ol-up-meetings-l h100">
                      <div class="ol-up-time">
                        <i class="fa fa-group mar5px" title="Meeting Type"></i>
                        {{item.meetingName}}
                      </div>
                      <div class="ol-up-time-g" style="margin-left:3px!important">
                        <i class="fa fa-map-marker mar5px" title="Meeting Location"></i>{{item.meetingLocation}}
                      </div>
                    </div>
                    <div class="ol-up-meetings-r h100">
                      <div class="ol-up-title">
                        <div class="olup-name">
                          <i class="fa fa-calendar-o mar5px"></i>
                          {{item.meetingDate |  date:'dd/MM/yyyy'}} {{item.startTime | timeFormat}}
                        </div>
                      </div>
                      <div class="ol-up-name">
                        <i class="fa fa-building-o mar5px" title="Meeting Room"></i>
                        <span *ngIf="item.meetingRoom && item.meetingRoom.toLowerCase().indexOf('http')==-1">{{item.meetingRoom}}</span>
                        <a target="_blank" class="text-primary" href="{{item.meetingRoom}}" *ngIf="item.meetingRoom && item.meetingRoom.toLowerCase().indexOf('http')!=-1">{{item.meetingRoom}}</a>
                      </div>

                    </div>

                  </div>

                </div>

                <div class="col-lg-12 text-center" style="margin-left: 0px;"
                     *ngIf="lstMOMDashboard_PartofMeetings==null ||lstMOMDashboard_PartofMeetings.length<=0 ">
                  <div class="row">
                    <div class="no-data-home">
                      <i class="fa fa-files-o"></i>
                      <h5>No Data Found</h5>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="clearfix"></div>
<app-footer></app-footer>
