<app-header></app-header>
<div class="container-fluid mat-100">
  <div class="col-lg-12 middle-content-hgt">
    <div class="row">
      <!-- Breadcrumbs-->
      <div class="col-lg-8">
        <ol class="breadcrumb breadcrumb-arrow">
          <li><a [routerLink]="'/dashboard'"><i class="fa fa-fw fa-home"></i></a></li>
          <!--<li class=""><a href="#"></a></li>
          <li class=""><a href="#">Group A</a></li>-->
          <li class="active"><span>Meeting Minutes</span></li>
        </ol>
      </div>
      <div class="col-lg-4 right-btn">
        <div class="pull-right ">
          <!--<button (click)="isGrid=false" class="btn mar-10 btn-sm btn-primary">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </button>
          <button (click)="isGrid=true" class="btn mar-10 btn-sm btn-primary">
            <i class="fa fa-th" aria-hidden="true"></i>
          </button>-->

          <button (click)="loadAdd()" class="btn btn-sm btn-info">
            <i class="fa fa-plus"></i> New Meeting Minutes
          </button>
        </div>


      </div>
    </div>
    <div class="row" *ngIf="isGrid">
      <div class="col-lg-12">
        <div class="control-section grid-type">
          <ejs-grid #grid [dataSource]='data' [pageSettings]='pageSettings' showColumnMenu='true' (queryCellInfo)='tooltip($event)' (recordDoubleClick)='rowSelected($event)' [allowPaging]='true' [allowSorting]='true'
                    [allowFiltering]='true' [filterSettings]='filterOptions'>
            <e-columns>
              <e-column field='momNoAtd' headerText='Ref Number' width=180></e-column>
              <e-column field='meetingName' headerText='Type' width="150"></e-column>
              <e-column field='subjectAtd' headerText='Subject' width="160"></e-column>
              <e-column field='locationName' headerText='Location' width="150"></e-column>
              <e-column field='fMeetingDateAtd' headerText='Date' width="90">
                <ng-template #template let-gridData>
                  {{gridData.fMeetingDateAtd |  date:'dd/MM/yyyy'}}
                </ng-template>
              </e-column>
              <e-column field='fStartTimeAtd' headerText='Start' width="90">
                <ng-template #template let-gridData>
                  {{gridData.fStartTimeAtd |timeFormat}}
                </ng-template>
              </e-column>
              <e-column field='fEndTimeAtd' headerText='End' width="90">
                <ng-template #template let-gridData>
                  {{gridData.fEndTimeAtd |timeFormat}}
                </ng-template>
              </e-column>
              <e-column field='approvalStatus' headerText='Status' width="120">
              </e-column>
              <e-column field='initiatedBy' headerText='Initiated By' width="120"></e-column>
              <!--<e-column field='numberOfAttendees' headerText='Attendees' width=100></e-column>-->
              <e-column headerText='Action' width=90>
                <ng-template #template let-gridData>
                  <a class="dropdown-toggle pa-5 table-drop-down border-info" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-list-alt fa-lg text-info mar5px "></i>
                  </a>
                  <div class="dropdown-menu custom-size">


                    <a class=" dropdown-item border-bottom" *ngIf="(gridData.approvalStatus!='Published'&& ( gridData.approverId==login_UserID ||  gridData.reviewerId==login_UserID)) || gridData.enteredBy==login_UserID"
                       style="cursor:pointer !important;" title="edit" (click)="loadUpdate(gridData.genInfoAtdUno)">
                      <i class="fa fa-edit fa-lg mar5px"></i>Edit
                    </a>
                    <a class=" dropdown-item  " style="cursor:pointer !important;" title="view"
                       (click)="loadViewAtd(gridData.genInfoAtdUno)">
                      <i class="fa fa-eye fa-lg mar5px"></i>View
                    </a>

                    <a class=" dropdown-item  border-top" style="cursor:pointer !important;"
                       (click)="loadAtdComment(gridData.genInfoAtdUno)" title="Discussion">
                      <i class="fa fa-comment fa-lg mar5px"></i>Discussion
                    </a>

                    <a class=" dropdown-item  border-top" style="cursor:pointer !important;" *ngIf="(gridData.approverId==login_UserID || gridData.reviewerId==login_UserID) &&
                  gridData.approvalStatus!='Published'" (click)="clickSign(gridData)" title="{{gridData.reviewerId==login_UserID?'Review':'Approve'}}">
                      <img src="assets/img/pen-icon.png" alt="signature" class="mar5px" width="16" />
                      {{gridData.reviewerId==login_UserID?'Review':'Approve'}}
                    </a>
                    <a class="  dropdown-item  border-top" *ngIf="gridData.enteredBy==login_UserID" style="cursor:pointer !important;"
                       (click)="followupMeeting(gridData.genInfoAtdUno)" title="Followup Meeting">
                      <i class="fa fa-share-square fa-lg mar5px"></i>Followup
                    </a>
                    <a class="text-danger dropdown-item border-top" *ngIf="gridData.enteredBy==login_UserID" style="cursor:pointer !important;"
                       (click)="delAtt(gridData.genInfoAtdUno)" title="delete">
                      <i class="fa fa-trash fa-lg mar5px"></i>Delete
                    </a>
                  </div>

                </ng-template>

              </e-column>
            </e-columns>
          </ejs-grid>
        </div>
      </div>
    </div>

    <!--<div class="row" *ngIf="!isGrid">
      <div class="col-lg-12">
        <app-meeting-calender></app-meeting-calender>
      </div>
    </div>-->
  </div>

</div>

<div class="clearfix"></div>

<ejs-dialog id="commentDialog" header='Discussion' #commentDialog showCloseIcon='true'
            allowDragging='true' width='1100px' [closeOnEscape]="true" [visible]='false'>
  <div class="col-lg-12">
    <ul class="comment-list" *ngFor="let cmtObj of commentList; let cmtIndex = index;">
      <li>
        <div class="col-lg-12 no-padding">
          <div class="col-lg-12 no-padding comment-title">
            <i class="fa fa-user-circle-o fa-lg mar-10"></i> {{cmtObj.userName}}
          <small class="pull-right"> {{cmtObj.cmtDate | date:'dd/MM/yyyy'}} </small>
            <small class="pull-right mal-10 mar-10" [title]="cmtObj.cmtUserName"> <i class="fa fa-users mal-5 mar-5"></i> {{cmtObj.cmtUsers}}&nbsp;&nbsp;&nbsp; | </small>
          </div>
          <div class="col-lg-12 no-padding">
            <p> {{cmtObj.cmdText}}</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="col-lg-12 text-center" *ngIf="commentList && commentList.length==0">

      <div class="row">
        <div class="no-data-home">
          <i class="fa fa-files-o"></i>
          <h5>No Data Found</h5>
        </div>
      </div>
    </div>
  </div>

</ejs-dialog>

<ejs-dialog id="SignatureMainDialog" header='Add Signature' #SignatureMainDialog
            showCloseIcon='true' allowDragging='true' width='600px' [closeOnEscape]="true" [visible]='false'>

  <div class="input-field">
    <div class="card-body">
      <div class="signature-drag">

        <form>
          <h6>
            {{signText}} Signature
          </h6>
          <div class="col-lg-12 no-padding">
            <canvas #signatureLastPad class="signature-pad" width=530 height=180></canvas><br>
            <div style="width:530px; border:1px solid #ccc; display:block; float:left; padding:5px;">

              <a class="btn btn-primary text-white btn-sm mar5px pull-right" *ngIf="signText!='Reviewer'"
                 (click)="saveApprovalSignature()" title="Approve & Publish">Approve & Publish</a>
              <a class="btn btn-primary text-white btn-sm mar5px pull-right" *ngIf="signText=='Reviewer'"
                 (click)="saveApprovalSignature()" title="Review">Review</a>
              <ng-container>
                <input type="file" style="display: none" id="imageUrlMain" accept="image/*" name="imageUrlMain"
                       #imageUrlMain (change)="handleMainChange($event)">
                <label for="imageUrlMain" style="cursor:pointer" title="Import Signature"
                       class="btn btn-info btn-sm mar5px pull-right" data-placement="top">
                  <i class="fa fa-cloud-upload fa-lg "></i>
                </label>
              </ng-container>
              <a class="btn btn-danger mar5px text-white pull-right btn-sm" title="clear"
                 (click)="ClearLastSignature()"><i class="fa fa-paint-brush fa-lg "></i></a>
            </div>
          </div>
          <div class="clearfix"></div>

        </form>

      </div>

    </div>
  </div>
</ejs-dialog>

<app-footer></app-footer>
