<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>DEWA MOM</title>
</head>

<body style="background-color:#fff;">
 <div align="center">
  <table border="0" cellspacing="0" cellpadding="0" style="width:8.25in; margin:10px auto; border:1px solid #e8e8e8; padding:0;  border:0;"  >
     
      <tbody>
	    <tr cellpadding="0" cellspacing="0" border="0"  style="background-color:#41A1C4; padding:0px; margin:0px;">
           <td style="height:50px; padding:0; border-bottom:1px solid #ffffff;">
		   <div style="width:100%; height:50px; float:left;">
            <img src="cid:img_mainlogo" style="width:100%; height:auto; float:left;" alt="logo">
			</div>
			</td>
        </tr>
        <tr>
          <td style="background-color:#41A1C4; color:#fff; text-align:center; padding:10px;">
            <table style="width:100%; padding:0; margin:auto; border:none; background-color:#41A1C4;">
              <tbody>
                <tr>
                  <td>
                    <p style="margin:0;color:#333;  font-family:Arial, Helvetica, sans-serif; text-align:left">
                      Minutes of Meeting
                    </p>
                  </td>
                  <td>
                    <p style="margin:0; font-family:Arial, Helvetica, sans-serif; text-align:right"><a
                        style="color:#fff; font-size:12px;" href="{{URL}}">View Online</a></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <div style="position:relative"> <img src="cid:img_banner" style="width:100%; height:120px !important;"
                alt="banner-img">
            
            </div>
          </td>
        </tr>
        <tr>
          <td style="padding:15px; background-color:#fff;">
		   <p
              style="font-family:Arial, Helvetica, sans-serif; font-size:16px;  padding-bottom:10px; color:#333; font-size:14px">
              Dear Attendees,</p>
            <p style="font-family:Arial, Helvetica, sans-serif; font-size:16px;  padding-bottom:10px; color:#333; font-size:14px">
              Minutes of meeting for the meeting {{MeetingSubject}} dated {{Date}} got approved by {{Approver}}. Please login for more information.
            </p>

          </td>
        </tr>
        <tr>
          <td style="background-color:#fff; color:#333; text-align:left; padding-right:10px; padding-bottom:10px;">
            <table style="width:100%; padding:0; margin:auto; border:none;">
              <tbody>

                <tr>
                  <td style="width:60%; text-align:left; vertical-align:top; padding:15px">
                    <h4
                      style="margin-top:0; margin-bottom:0; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:14px">
                      Meeting Type</h4>
                    <p style="margin-bottom:20px; margin-top:10px; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:14px">
                      {{MeetingName}}</p>
                    <h4
                      style="margin-top:0; margin-bottom:0; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:14px">
                      Meeting Subject</h4>
                    <p style="margin-bottom:20px; margin-top:10px; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:14px">
                      {{MeetingSubject}}</p>
                    <!-- <h4 -->
                      <!-- style="margin-top:0; margin-bottom:10px; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:14px"> -->
                      <!-- Agenda</h4> -->
                    <!-- <ul -->
                      <!-- style="margin-bottom:30px; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:14px; padding-left:15px; word-break: break-all;"> -->
                      <!-- {{AgentaList}} -->

                    <!-- </ul> -->

                    <!-- <p style="margin:0; font-family:Arial, Helvetica, sans-serif; text-align:right"><a -->
                        <!-- style="color:#41A1C4; font-size:12px;" href="{{URL}}">See more Agenta Details</a></p> -->
                  </td>
                  <td style="width:40%; text-align:left; background-color:#fff; border:1px solid #41a1c4; vertical-align:top;  padding:15px">
                    <h3
                      style="margin-top: 0; margin-bottom: 0; color: #333; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold;">
                      Date</h3>
                    <p
                      style="margin-bottom:20px; margin-top:10px; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:14px;">
                      {{Date}} </p>
                    <h3
                      style="margin-top:0; margin-bottom:0; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;">
                      Time</h3>
                    <p
                      style="margin-bottom:20px; margin-top:10px; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:14px;">
                      {{Time}} </p>
                    <h3
                      style="margin-top:0; margin-bottom:0; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;">
                      Location</h3>
                    <p
                      style="margin-bottom:0; margin-top:10px; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:14px;">
                      {{Location}}
                    </p>
                    <!-- <h3 -->
                      <!-- style="margin-top:0; margin-bottom:10px; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;"> -->
                      <!-- Attendees</h3> -->

                    <!-- <ul -->
                      <!-- style="margin-bottom:30px; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:14px; padding-left:15px; word-break: break-all;"> -->
                      <!-- {{AttendeeList}} -->
                    <!-- </ul> -->
                    <!-- <p style="margin:0; font-family:Arial, Helvetica, sans-serif; text-align:right"><a -->
                        <!-- style="color:#41A1C4; font-size:12px;" href="{{URL}}">View More Attendees</a></p> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="color:#666; text-align:left; padding:10px;"></td>
        </tr>


        <tr  style="text-align:center;width=100%; padding:0; margin:auto; border:none;" >
          <td style="text-align:center;width=100%; padding:0; margin:auto; border:none;">
            <table style="text-align:center;width=100%; padding:0; margin:auto; border:none;">
              <tbody>
                 <tr style="text-align:center;width=100%; padding:0; margin:auto; border:none;">
                 <td style="text-align:center;"><a href="https://www.facebook.com/dewaofficial"><img src="cid:img_s1" style="height:40px; width:35px" alt="s1"></a></td>
                                    <td style="text-align:center;"><a href="https://twitter.com/DEWAOfficial"><img src="cid:img_s2" style="height:40px; width:39px" alt="s1"></a></td>
                                    <td style="text-align:center;"><a href="https://instagram.com/dewaofficial"><img src="cid:img_s3" style="height:40px; width:39px" alt="s1"></a></td>
                                    <td style="text-align:center;"><a href="https://www.youtube.com/user/DEWAVIDEOGALLERY/videos"><img src="cid:img_s4" style="height:40px; width:40px" alt="s1"></a></td>
                </tr>
                <tr>
                  <td colspan="4" style="text-align:center; padding:10px; color:#666; text-align:center;font-family:Arial, Helvetica, sans-serif; font-size:14px;"> This mail is
                    subject to DEWA <a href="https://www.dewa.gov.ae/emaildisclaimer"
                      style="text-decoration:underline;color:#666;">Disclaimer</a></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="text-align:left; border-top:1px solid #666; padding:10px;color:#333;">
            <p style="margin:0;font-family:Arial, Helvetica, sans-serif; font-size:14px;"> 
			<strong>Our Vision: </strong>A globally leading sustainable innovative corporation.</p>
            <br>
            <p style="margin:0;font-family:Arial, Helvetica, sans-serif; font-size:14px;text-align:justify;">
			<strong>Our Mission: </strong> We are committed and aligned to Dubai’s 8 Principles and 50-Year Charter supporting the UAE’s directions through the delivery of global leading services and innovative energy solutions enriching lives and ensuring the happiness of our stakeholders in a sustainable manner.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="color:#090; border-top:1px solid #666; padding:10px; margin:0;  text-align:center;font-family:Arial, Helvetica, sans-serif; font-size:14px;"> Please
              consider the environment before printing this email. </p>
          </td>
        </tr>
        <tr>

          <td style="border-top:1px solid #666; padding:10px; color:#666;  text-align:center;font-family:Arial, Helvetica, sans-serif; font-size:14px;">
             
            <br>
            <p style="text-align:justify; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:14px;">
			<strong>Disclaimer: </strong>The information in this email and in any files transmitted with it
              is intended only for the addressee and may contain confidential and/or privileged material. Access to this
              email by anyone else is unauthorized. If you receive this in error, please contact the sender immediately
              and delete the material from any computer. If you are not the intended recipient, any disclosure, copying,
              distribution or any action taken or omitted to be taken in reliance on it, is strictly prohibited.
              Statement and opinions expressed in this e-mail are those of the sender, and do not necessarily reflect
              those of DEWA. DEWA accepts no liability for any damage caused by any virus/worms transmitted by this
              email.</p>
            <br>
            <p style="margin:0; text-align:center;">Dubai Electricity and Water Authority, Dubai, UAE, <a
                style="text-decoration:underline;color:#666;" href="https://www.dewa.gov.ae">https://www.dewa.gov.ae</a>
            </p>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
