<app-header></app-header>
<div class="container-fluid no-padding">
  <div class="col-lg-12 mat-100 middle-content-hgt" id="search-page-content">
    
    <div class="row">
      <div class="col-lg-3">
        <div class="col-lg-12 search-page-left mat-20">
          <div class="row">
            <div class="col-lg-12 no-padding ">
              <form [formGroup]="searchForm">
                <div class="form-group col-lg-12 mat-20 has-search">
                
                  <input type="text" class="form-control" id="searchText" (keyup.enter)="search()"
                         formControlName="searchText" [ngClass]="{ 'is-invalid': (t.searchText.errors) && (submitted || t.searchText.touched)}"
                         placeholder="Search">

                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12" id="searh-page-left">
              <div class="col-lg-12 list-group no-padding menu-color">
                <div class="form-group man-10 list-group-item list-group-item-action ">
                  <ejs-daterangepicker placeholder='Select a range' [startDate]='start' [endDate]='end'></ejs-daterangepicker>
                </div>
                <div class="form-check mab-10 list-group-item list-group-item-action" [ngClass]="{ 'active': checkBoxVal==2 }" (click)="TypeCheckBoxSelection(2)">
                  <div class="col-lg-12">
                    <input type="radio" class="form-check-input" id="exampleCheck1" [value]="2" [(ngModel)]="checkBoxVal" (click)="TypeCheckBoxSelection(2)">
                    <label class="form-check-label" for="exampleCheck1">Attendance</label>
                  </div>
                </div>
                <div class="form-check mab-10 list-group-item list-group-item-action " [ngClass]="{ 'active': checkBoxVal==1 }" (click)="TypeCheckBoxSelection(1)">
                  <div class="col-lg-12">
                    <input type="radio" class="form-check-input" id="exampleCheck2" [(ngModel)]="checkBoxVal" (click)="TypeCheckBoxSelection(1)" [value]="1">
                    <label class="form-check-label" for="exampleCheck2">Meeting</label>
                  </div>
                </div>
                <div *ngIf="isTBT" class="form-check mab-10 list-group-item list-group-item-action" [ngClass]="{ 'active': checkBoxVal==3 }" (click)="TypeCheckBoxSelection(3)">
                  <div class="col-lg-12">
                    <input type="radio" class="form-check-input" id="exampleCheck3" [(ngModel)]="checkBoxVal" (click)="TypeCheckBoxSelection(3)" [value]="3">
                    <label class="form-check-label" for="exampleCheck3">TBT</label>
                  </div>

                </div>



              </div>
              <div class="col-lg-12 pull-right">
                <a class="btn btn-sm pull-right btn-secondary mat-20 text-white" (click)="search()">
                  <span class="fa fa-search mar5px form-control-feedback"></span>Search
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9" id="search-page">

        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12 mat-20">
              <div class="row mab-20 ol-main-wrap" *ngFor="let item of lstMOMDashboard_MyMeetings">
                <div class="col-lg-12 bb-1 no-padding">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="ol-up-main-title mab-10">{{item.meetingDate}} <i class="fa fa-calendar-o mal-10"></i></div>
                    </div>
                    <div class="ol-up-select col-lg-6 no-padding">
                      <div class="pull-right mab-10">
                        <i *ngIf="item.approvalStatus!='Published'" [title]="item.approvalStatus" class="fa fa-unlock mar-10 fa-lg"></i> <i *ngIf="item.approvalStatus=='Published'" title="Published" class="fa fa-lock mar-10"></i>
                        <a class="mar-10" title="edit" (click)="loadUpdateMeeting(item.genInfoAtdUno)"><i class="fa fa-edit text-info fa-lg"></i></a>
                        <a (click)="loadViewMeeting(item.genInfoAtdUno)" title="view"><i class="fa fa-eye text-success mar-10 fa-lg"></i></a>
                        <span *ngIf="item.approvalStatus!='Published'" class="badge w18 badge-info mar-10">{{item.approvalStatus}}</span>
                        <span *ngIf="item.approvalStatus=='Published'" class="badge w18 badge-success mar-10">{{item.approvalStatus}}</span>
                        <!--<span class="badge badge-danger">10</span>-->
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="col-lg-12 no-padding">
                    <div class="ol-up-meetings-l ol-up-search-time mat-10">
                      <div class="ol-up-time mat-10">{{item.startTime  | timeFormat}} </div>
                      <div class="ol-up-time-g">{{item.endTime  | timeFormat}}</div>
                    </div>
                    <div class="ol-up-meetings-r ol-up-search-info pa-5 mat-10">
                      <div class="col-lg-12">
                        <div class="ol-up-meetings-l mat-10">
                          <div class="ol-up-time">
                            <i class="fa fa-group mar-10" title="Meeting Type"></i>
                            {{item.meetingName}}
                          </div>
                          <div class="ol-up-name">
                            <i class="fa fa-map-marker mar-10" title="Meeting Location"></i>{{item.meetingLocation}}
                          </div>
                        </div>
                        <div class="ol-up-meetings-r mat-10">

                          <div class="ol-up-name mab-10">
                            <i class="fa fa-file-text mar-10" title="Meeting Subject"></i>
                            {{item.subjectAtd}}
                          </div>

                          <div class="ol-up-name">
                            <i class="fa fa-building-o mar-10" title="Meeting Room"></i> {{item.meetingRoom}}
                          </div>

                        </div>

                      </div>

                    </div>

                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 text-center" *ngIf="lstMOMDashboard_MyMeetings && lstMOMDashboard_MyMeetings.length==0">
          <div class="row">
            <div class="no-data-home">
              <i class="fa fa-files-o"></i>
              <h5>No Data Found</h5>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="pull-right mab-20">
              <a class="btn btn-sm btn-secondary text-white" *ngIf="lstMOMDashboard_MyMeetings && lstMOMDashboard_MyMeetings.length>0" (click)="loadMeetingList(0)"> View more </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<app-footer></app-footer>
