#search-page .ol-up-search-time {
  width: 12%;
  margin-right: 1%;
  float: left;
  background: #2e8651;
  color: #fff;
  padding: 5px;
  text-align: center;
}
#search-page-content {
  background: #f1f4f6;
}
#search-page .ol-up-time-g {
  color: #fff;
}
#search-page i {
  width:18px;
  text-align:center;
}
#search-page .w18 {
  width:83px;
}
#search-page .ol-main-wrap {
  background: #fff;
  /*box-shadow: 0px 0px 5px 0px rgba(188, 188, 194, 0.5);*/
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
  padding: 15px;
  border-radius: 0;
  /*border-top: 8px solid #ccc;*/
}
#search-page .ol-up-meetings-r .ol-up-meetings-l, #search-page .ol-up-meetings-r .ol-up-meetings-r {
  width: 50%;
}
#search-page .ol-up-select {
  float: left;
}
.search-page-left {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
  background:#fff;
  min-height:490px;
}
@media screen and (max-width: 991px) {
  .search-page-left {
    min-height: inherit;
  }
}
  @media screen and (max-width: 767px) {
    #search-page .ol-up-meetings-r .ol-up-meetings-l, #search-page .ol-up-meetings-r .ol-up-meetings-r {
      width: 100%;
    }

    #search-page .ol-up-search-time {
      width: 29%;
      margin-right: 1%;
      font-size: 12px;
    }

    #search-page .ol-up-search-info {
      width: 70%;
      float: left;
    }
  }

